<!-- Get your cost effective estimate popup -->
<app-costplanpopup (closepopUp)='openCloseCostPlanModel($event)' closepopUp *ngIf=openCostPlanPopUp></app-costplanpopup>

<section class="typology ">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <h4 class="sliderTitle pd-b-5" *ngIf="topographyData">{{topographyData.name}}</h4>
                <div class="row no-gutter border text-center">
                    <div class="col-lg-12 col-md-12 col-12 bg-grey-lg position-relative">
                        <div>
                            <!-- <button (click)="navigateToTopography()" type="button" class="close position-absolute"
                                aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button> -->
                            <img class="img-lg" [src]="allowurl(sharedService.imageBase+topographyData.image)"
                                class="img-fluid" *ngIf="topographyData">
                            <h5 class="popImgText" style="top: 42%;">{{calculatorData.Areainsqft}} sqf.</h5>
                            <h4 *ngIf="topographyData">{{topographyData.name}}</h4>
                        </div>
                    </div>
                </div>
            </div>



            <div class="col-lg-6 col-md-6 bgBlur1">
                <h4 class="sliderTitle pl-4 mb-2">TYPE OF BUILDING
                    <div class="ulcontainer">
                        <ul class="list-unstyled mb-0">
                            <li><a [routerLink]="['../typology/',typologyDatails.id]">{{typologyDatails.name}}</a>
                            </li>
                            <li><a [routerLink]="['../topography-home/']" *ngIf="topographyData">{{topographyData.name}}</a></li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </h4>
                <div class="scroller-style-small">
                    <!-- <p *ngIf="SelectTypeProject">Select Type Of Project</p> -->
                    <div class="row">
                        <ng-container *ngIf="typeOfProject">
                            <div (click)="saveTypeofProjectDetails(project.id,project.name)"
                                *ngFor="let project of typeOfProject; let i=index"
                                class="col-lg-4 col-md-4 col-6 bg-grey h-170 clac-3 calc-2" [ngClass]="{'m-br': i == 1,'bor-m': i == 2,'border-right-0': i == 0 || i == 1 || i == 3 || i == 4,'bggrey':selectedLevel1 == project.id}">
                                <div class="clac-left-sec">
                                    <img [src]="allowurl(sharedService.imageBase+project.image)" class="img-fluid">
                                    <h4>{{project.name}}</h4>
                                </div>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="!typeOfProject">
                            <div class="col-lg-4 col-md-4 col-6 bg-grey h-170 clac-3 calc-2">
                            <div class="clac-left-sec">
                                <img src="assets/images/comming_soon.png" class="img-fluid">
                            </div>
                        </div>
                        </ng-container>
                    </div>
                </div>

                <!-- <div class="row">
                    <div (click)="openCloseCostPlanModel(true)" class="col-lg-12 mt-4">
                        <a href="#" class="getBtnCalcPage" data-toggle="modal">GET YOUR COST
                            EFFECTIVE ESTIMATE</a>
                    </div>
                </div> -->

            </div>
        </div>
    </div>
</section>