<section class="typology">
  <div class="container-fluid">
    <div class="row">

      <div class="col-lg-6 col-md-6">
        <h4 class="sliderTitle" *ngIf="typologyData && typologyData.length>0">TYPE OF PROJECT</h4>
        <div class="row no-gutter border text-center scroller-design">
          <div (click)= " saveTypology(typology.id)" *ngFor="let typology of typologyData;let i=index" class="col-lg-6 col-md-6 col-6 bg-grey"
            [routerLink]="['../typology/', typology.id]"
            [ngClass]="{'': i == 0 || i == 1,'border-right-0': i == 0 || i == 2,'selected':selectedTypology == typology.id}">
            <div class="clac-left-sec ">
              <img [src]="allowurl(sharedService.imageBase+typology.image)" class="img-fluid">
              <h4>{{typology.name}}</h4>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6 col-md-6 bgBlur">
        <h4 class="sliderTitle pl-4">LOCATION </h4>
        <app-map-box></app-map-box>
        <h4 class="sliderTitle mt-3  pl-4">AREA</h4>
        <div class="row mt-3  pl-4">
          <div class="col-lg-12">
           <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
            <button type="button" class="btn btn-secondary active1">Sq.m</button>
            <button type="button" class="btn btn-secondary">Sq.ft</button>
            <button type="button" class="btn btn-secondary">Sq.yd</button>
            <button type="button" class="btn btn-secondary">Sq.ft</button>

          </div>
          </div>
          <div class="col-lg-12 textMeseure mt-3">
            <input type="text"  class="form-control" name="" placeholder="" value="0">            
          </div>
          <div  class="col-lg-12 mt-3"> <input class="slider slider-orange" readonly value="0" min="20" max="100" step="1" name="002" type="range" /></div>
        </div>
      </div>
    </div>
  </div>
</section>
     