<!-- Modal GET YOUR COST EFFECTIVE ESTIMATE -->
<div style="display: block;" class="modal fade show" id="getBtnCalcPage" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header  border-bottom-0">
        <button (click)="closeCostPlanPopUp(false)" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid p-0">
          <div class="row">
            <div (click)="saveClassDetails(class.name)" (mouseenter)="showPriceDetails(class)"
              (mouseleave)="hidePriceDetails(class)" *ngFor="let class of allClass" class="col-md-4 m-0 p-0">
              <div class="card-thumb py-5">
                <img [src]="allowurl(sharedService.imageBase+class.image)" class="img-fluid">
                <h4>{{class.name}}</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div  class="modal-footer border-top-0 p-0">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-8 offset-md-2 text-center" style="min-height: 90px;">
              <p *ngIf="planName">
                Cost/Sq.ft = {{planName.location_base_price}} Rs <br>
                Estimated Cost = {{classDetails ?classDetails.Areainsqft*planName.location_base_price:''}} Rs <br>
                Description : {{planName.description}} </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>