<!--Modal Popup-------->
<div class="modal fade" id="form" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered cutome_login review_popUp" role="document">
    <div class="modal-content reviewRatingPopUp" style="    overflow: auto;
    margin-top: 20%;">
      <div class="modal-header border-bottom-0">
        <h5 class="modal-title col-lg-11" id="exampleModalLabel">RATINGS AND REVIEW</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form [formGroup]="Addform">
          <div class="row">
            <div class="col-12">
              <div class="form-group">
                <label>Rating</label>
                <div class="star-rating">
                    <ngx-star-rating formControlName="rating" [id]="'rating'"></ngx-star-rating>
                    <!-- <div *ngIf="submitted && f.rating.errors" class="errorMsg">
                        <div *ngIf="f.rating.errors.required">Rating is required</div>
                    </div> -->
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="form-group">
                <label>Review</label>
                  <textarea class="form-control" rows="4" placeholder="Add Reviews" formControlName="review"></textarea>
                    <div *ngIf="submitted && f.review.errors" class="errorMsg">
                        <div *ngIf="f.review.errors.required">Review is required</div>
                        <div *ngIf="f.review.errors.minlength" class="errorMsg">
                          Review should be min 5
                          characters </div>
                        <div *ngIf="f.review.errors.maxlength" class="errorMsg">
                          Review should be max 500
                          characters </div>
                    </div>
                   
                </div>
            </div>
          </div>
          
          <button (click)="onSubmitReview()" class="btn btn-primary">Submit</button>
          
      </form>


        <!-- <p class="popupRating">{{vendorDetails?.reviewRating}} <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
            class="fa fa-star"></i> <i class="fa fa-star-o"></i></p>
        <p class="ratingTextPop">1147 reviews {{vendorDetails?.noofRatedUsers}} Customer Ratings </p> -->






     

        <div class="media" *ngFor="let review_list of vendorDetails">
          <img [src]="allowurl(sharedService.imageBase+review_list.image)" onError="this.src='assets/images/no.jpg'" alt="user" class="mr-3 mt-3 rounded-circle" style="width:60px;">
          <div class="media-body">
            <h5 class="mb-2 pt-4">{{review_list.first_name}}&nbsp;{{review_list.last_name}}</h5>
            <!-- <p class="mb-2">New Delhi</p> -->
            <p class="popupRating mb-2">{{review_list.first_name}} 
              <i class="fa fa-star" *ngFor="let keyss of review_list['rating'] | demoNumber"></i>
              <i class="fa fa-star pending" *ngFor="let penkeyss of review_list['review_pending'] | demoNumber" style="color: #cecebf;"></i> 
              &nbsp;{{review_list.review}} </p>
              <p class="mb-2">Reviewed in India on {{review_list.created |date:'medium'}}</p>
            <!-- <p class="mb-2">Reviewed in India on 22nd June 2019</p>
            <p class="colorR mb-2">Verified Listing </p>
            <p class="mb-2">Large doors and windows allow plenty of light and give a breathtaking view of the outdoors
              that one can enjoy from anywhere in this modern, symmetrically styled

            </p>
            <p class="mt-3"><a href="#" class="helpFul">Helpful</a> | <a href="#" class="m-3">Comment</a> | <a
                href="#">Report Abuse</a></p>
          </div> -->
        </div>

        <!-- <div class="media">
          <img src="assets/image/dp.png" alt="user" class="mr-3 mt-3 rounded-circle" style="width:60px;">
          <div class="media-body">
            <h5 class="mb-2 pt-4">Ranjita Mukherjee</h5>
            <p class="mb-2">New Delhi</p>
            <p class="popupRating mb-2">4.7 <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
                class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> Dealth with utmost
              precision, superb work done</p>
            <p class="mb-2">Reviewed in India on 22nd June 2019</p>
            <p class="colorR mb-2">Verified Listing </p>
            <p class="mb-2">Large doors and windows allow plenty of light and give a breathtaking view of the outdoors
              that one can enjoy from anywhere in this modern, symmetrically styled

            </p>
            <p class="mt-3"><a href="#" class="helpFul">Helpful</a> | <a href="#" class="m-3">Comment</a> | <a
                href="#">Report Abuse</a></p>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>

<!--Modal Pop up End------>