.cont {
    width: 93%;
    max-width: 350px;
    text-align: center;
    margin: 4% auto;
    padding: 30px 0;
    background: #111;
    color: #EEE;
    border-radius: 5px;
    border: thin solid #444;
    overflow: hidden;
  }
  
  div.stars {
    width: 270px;
    display: inline-block;
  }
  i.fa.fa-star {
    color: #e4e404;
    font-size: 17px;
}
input.star-5:checked ~ label.star:before{
  color: yellow !important;
  text-shadow: none !important;
}