@import url("../../../assets/css/calc.css");

.grey{
    height: 560px;
    /* background-color: #6c757d !important; */
}
.bgUnit{
    color: #fff !important;
    background-color: #828b94 !important;
}
.text-danger{
    color: red !important;
    font-size: 14px;
    font-weight: 500;
}
.head_office_caption{
    margin-left: 6px;
    font-weight: 500;
    font-size: 13px;
}