<section class="typology">
  <div class="container-fluid">
    <div class="row">
      <!-- <div class="col-lg-6 col-md-6">
        <h4 *ngIf="calculatorDetails && calculatorDetails.inputId == 1" class="sliderTitle">{{calculatorDetails.inputType}}</h4>
        <h4 *ngIf="calculatorDetails && calculatorDetails.inputId == 2" class="sliderTitle">{{calculatorDetails.inputType}}</h4>
        <h4 *ngIf="calculatorDetails && calculatorDetails.inputId == 3" class="sliderTitle">{{calculatorDetails.inputType}}</h4>
        <h4 *ngIf="calculatorDetails && calculatorDetails.inputId == 4" class="sliderTitle">{{calculatorDetails.inputType}}</h4>
        <div class="row no-gutter border text-center">
          <div class="col-lg-12 col-md-12 col-12 bg-grey-lg border-bottom-0 border-right-0 position-relative">
            <div>
              <button (click) ="navigateToTypology()"  type="button" class="close position-absolute" aria-label="Close">
                <span  aria-hidden="true">×</span>
              </button>
              <img width="400" *ngIf="calculatorDetails && calculatorDetails.inputId == 1" src="{{calculatorDetails.imageUrl}}" class="img-fluid">
              <img width="400" *ngIf="calculatorDetails && calculatorDetails.inputId == 2" src="{{calculatorDetails.imageUrl}}" class="img-fluid">
              <img width="400" *ngIf="calculatorDetails && calculatorDetails.inputId == 3" src="{{calculatorDetails.imageUrl}}" class="img-fluid">
              <img width="400" *ngIf="calculatorDetails && calculatorDetails.inputId == 4" src="{{calculatorDetails.imageUrl}}" class="img-fluid">

              <h4 *ngIf="calculatorDetails && calculatorDetails.inputId == 1">{{calculatorDetails.imageText}}</h4>
              <h4 *ngIf="calculatorDetails && calculatorDetails.inputId == 2">{{calculatorDetails.imageText}}</h4>
              <h4 *ngIf="calculatorDetails && calculatorDetails.inputId == 3">{{calculatorDetails.imageText}}</h4>
              <h4 *ngIf="calculatorDetails && calculatorDetails.inputId == 4">{{calculatorDetails.imageText}}</h4>
            </div>
          </div>
         
        </div>
      </div> -->

      <div class="col-lg-6 col-md-6">
        <h4 class="sliderTitle">TYPE OF PROJECT</h4>


        <div class="row no-gutter border text-center">
          <div class="col-lg-12 col-md-12 col-12 bg-grey-lg position-relative">
            <div>

              <button (click)="navigateToTypology()" type="button" class="close position-absolute" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>

              <img class="img-lg" *ngIf="calculatorDetails"
                [src]="allowurl(sharedService.imageBase+calculatorDetails.image)" class="img-fluid">

              <h4 *ngIf="calculatorDetails">{{calculatorDetails.name}}</h4>
            </div>
          </div>

        </div>
      </div>



      <div class="col-lg-6 col-md-6 " [formGroup]="typologyForm">
        <h4 class="sliderTitle pl-4">LOCATION</h4>
        <div class="form-group">
          <div class="ng-autocomplete">
            <ng-autocomplete
              [data]="cities"
              [searchKeyword]="keyword"
              placeholder="Search the Cities"
              historyIdentifier="cities"
              [itemTemplate]="itemTemplate"
              (selected)='selectEvent($event)'
              (inputChanged)='onChangeSearch($event)'
              [notFoundTemplate]="notFoundTemplate">
            </ng-autocomplete>
          
            <ng-template #itemTemplate let-item>
              <div class="item" style="margin: 0px 3%;">
                <img src="{{item.flag}}" height="25">
                <span [innerHTML]="item.name"></span>
                <!-- <small>Population: {{item.population}}</small> -->
              </div>
            </ng-template>
          
            <ng-template #notFoundTemplate let-notFound>
              <div [innerHTML]="notFound"></div>
            </ng-template>
          </div>
          <p class="head_office_caption" *ngIf="data_flag">Not serving in the specific area as of now, showing the cost of Head Office nearyby {{data_value}}.</p>


          <!-- <input type="text" class="form-control" (keydown.enter)="$event.preventDefault()" placeholder="Search City" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search style="width: 93%;"> -->
        </div>

        <!-- <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
          <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"
            (dragEnd)="markerDragEnd($event)"></agm-marker>
        </agm-map> -->
          <div class="">
            <app-map-box></app-map-box>
            <!-- <agm-map class="h-500" [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
              <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]=true
                (dragEnd)="markerDragEnd($event)"></agm-marker>
            </agm-map> -->
          </div>
        <!-- <div class="row calc-search">
          <div class="col-lg-3 col-md-3 bg-color pt-3">
            <input formControlName="Location" class="form-control" type="text" placeholder="search" aria-label="Search">
            <span class="error-red" *ngIf="f.Location.errors?.required && submitted">Location is
              required</span>
          </div>
          <div class="col-lg-9 col-md-9 pl-0 pr-0">
            <img src="assets/image/map.png" class="img-fluid">
          </div>
        </div> -->
        <h4 class="sliderTitle mt-1  pl-4">AREA</h4>
        <div class="row mt-1  pl-4">
          <div class="col-lg-12">
            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
              <button [ngClass]="{'active1': areaUnit == 'Sq.ft'}" (click)="getUnit('Sq.ft')" type="button"
                class="btn btn-secondary">Sq.ft</button>
              <button [ngClass]="{'active1': areaUnit == 'Sq.m'}" (click)="getUnit('Sq.m')" type="button"
                class="btn btn-secondary">Sq.m</button>
              <button [ngClass]="{'active1': areaUnit == 'Sq.yd'}" (click)="getUnit('Sq.yd')" type="button"
                class="btn btn-secondary">Sq.yd</button>
              <button [ngClass]="{'active1': areaUnit == 'acres'}" (click)="getUnit('acres')" type="button"
                class="btn btn-secondary">acres</button>

              <!-- <div class="btn-group" role="group">
                <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  more..
                </button>
                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                  <a class="dropdown-item" href="#">Dropdown link</a>
                  <a class="dropdown-item" href="#">Dropdown link</a>
                </div>
              </div> -->
            </div>
            <div *ngIf="submitted && f.AreaType.errors">
              <small *ngIf="f.AreaType.errors.required" class="text-danger">
                Unit is required
              </small>
            </div>
          </div>
          <div class="col-lg-12 textMeseure mt-3">
            <input type="text" class="form-control" (input)="setSliderRange()" formControlName="Area" placeholder="Select Area ">
            <input class="slider slider-orange" (input)="setSliderValue($event.target.value)" [value]="SliderTemp"
              min="0" max="10000" type="range"/>
              <div *ngIf="submitted && f.Area.errors">
                <small *ngIf="f.Area.errors.required" class="text-danger">
                  Area is required
                </small>
              </div>
          </div>
          <div class="col-lg-12">
           
          </div>
          <div class="col-lg-12 mt-1" style="    float: right;
          display: block;
          text-align: right;">
            <button class="btn-outline" (click)="typologySubmit()">Next</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>