<div class="modal popup" style="display: block !important;" tabindex="-1" role="dialog" *ngIf="User_Flag">
    <div class="modal-dialog  modal-dialog-centered cutome_login" role="document" >
        <div class="modal-content">
            <div class="modal-header border-bottom-0">
                <h5 class="modal-title col-lg-11">Edit Profile</h5>
                <button (click)="closeditProfile()" type="reset" class="close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form>
                <div class="modal-body">
                    <div class="mx-auto">
                        <div id="first">
                            <div class="myform form ">
                                <div [formGroup]="editProfileForm" name="registration">
                                    <div class="form-group myForm">
                                        <input type="text" formControlName="first_name" name="firstname" required
                                            class="form-control" id="firstname" aria-describedby="emailHelp"
                                            placeholder="Enter First name">
                                        <span class="error-red"
                                            *ngIf="s.first_name.errors?.required && editProfileSubmitted">First name is
                                            required</span>
                                    </div>
                                    <div class="form-group myForm">
                                        <input type="text" formControlName="last_name" name="lastname" required
                                            class="form-control" id="lastname" aria-describedby="emailHelp"
                                            placeholder="Enter Last name">
                                        <span class="error-red"
                                            *ngIf="s.last_name.errors?.required && editProfileSubmitted">Last name is
                                            required</span>
                                    </div>
                                    <div class="form-group myForm">
                                        <input formControlName="email" type="email" name="email" required
                                            class="form-control" id="email" aria-describedby="emailHelp"
                                            placeholder="Email">
                                    </div>
                                    <div class="form-group myForm">
                                        <input formControlName="mobile" type="test" name="mobile" id="mobile"
                                            class="form-control" aria-describedby="emailHelp" placeholder="Enter Number">
                                        <span class="error-red"
                                            *ngIf="s.mobile.errors?.invalid">{{s.mobile.errors?.message}}</span>
                                    </div>
                                    <div class="form-group myForm col-12 row">
                                        

                                        <!-- <br> -->

                                        

                                        <div class="col-4">
                                            <img [src]="url" class="p-i-w" *ngIf="imageFlagSelect">
                                            <img *ngIf="imageFlagFrontend" src="assets/images/no.jpg"
                                            class="p-i-w" />
                                            <img *ngIf="imageFlagBackend" [src]="allowurl(sharedService.imageBase+image)"
                                            class="p-i-w" />
                                        </div>
                                        <div class="col-6">
                                            <input type="file" accept="image/*" (change)="onSelectFile($event.target.files[0])" #file id="file" style="width: 100%;
                                            margin: 24px 0px !important;">
                                        </div>
                                        <!-- <input type="file" accept="image/png,image/jpeg,image/jpg" name="image"
                                            class="form-control" aria-describedby="emailHelp"
                                            (change)="handleFileInput($event.target.files)"> -->
                                        <!-- <span class="error-red"
                                            *ngIf="imageError && imageError.length>0">{{imageError}}</span> -->
                                    </div>

                                    <div class="col-md-12 text-center mb-3">
                                        <button (click)="editProfileSubmit()" type="button" class="mybtn tx-tfm">
                                            Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="modal popup" style="display: block !important;" tabindex="-1" role="dialog" *ngIf="Vendor_Flag">
    <div class="modal-dialog  modal-dialog-centered cutome_login modal-lg" role="document" style="position: absolute;margin-left: 10%;margin-top: 56%;max-width: 1100px;">
        <div class="modal-content">
            <div class="modal-header border-bottom-0">
                <h5 class="modal-title col-lg-11">Edit Profile</h5>
                <button (click)="closeditProfileVendor()" type="reset" class="close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form [formGroup]="AddForm">
                <div class="card">
                    <div class="card-body">
                        <div class="row">

                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="title">Company Name</label>
                                    <input type="text" class="form-control" formControlName="company_name"
                                        placeholder="Enter Company Name"
                                        [ngClass]="{ 'is-invalid': submitted && f.company_name.errors }">
                                    <div *ngIf="submitted && f.company_name.errors">
                                        <small *ngIf="f.company_name.errors.required" class="text-danger">
                                            This Field is required
                                        </small>
                                    </div>
                                </div>
                            </div>
        
                            <!-- <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="category_id">Category</label>
                                    <select class="browser-default custom-select" formControlName="category_id" mdbInput [ngClass]="{ 'is-invalid': submitted && f.category_id.errors }">
                                        <option disabled value="">Select Category</option>
                                        <option *ngFor="let Category of CategoryList" [value]=Category.id>{{Category.name}}</option>
                                    </select>
                                    <div *ngIf="submitted && f.category_id.errors" class="error">
                                        <small *ngIf="f.category_id.errors.required" class="text-danger">
                                            This Field is required</small>
                                    </div>
                                </div>
                            </div> -->
        
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="title">Address</label>
                                    <input type="text" class="form-control" formControlName="address"
                                        placeholder="Enter Address"
                                        [ngClass]="{ 'is-invalid': submitted && f.address.errors }">
                                    <div *ngIf="submitted && f.address.errors">
                                        <small *ngIf="f.address.errors.required" class="text-danger">
                                            This Field is required
                                        </small>
                                    </div>
                                </div>
                            </div>
        
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="title">Description</label>
                                    <input type="text" class="form-control" formControlName="description"
                                        placeholder="Enter Description"
                                        [ngClass]="{ 'is-invalid': submitted && f.description.errors }">
                                    <div *ngIf="submitted && f.description.errors">
                                        <small *ngIf="f.description.errors.required" class="text-danger">
                                            This Field is required
                                        </small>
                                    </div>
                                </div>
                            </div>
        
        
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="title">Vendor Type</label>
                                    <input type="text" class="form-control" formControlName="vendor_type"
                                        placeholder="Enter Vendor Type"
                                        [ngClass]="{ 'is-invalid': submitted && f.vendor_type.errors }">
                                    <div *ngIf="submitted && f.vendor_type.errors">
                                        <small *ngIf="f.vendor_type.errors.required" class="text-danger">
                                            This Field is required
                                        </small>
                                    </div>
                                </div>
                            </div>
        
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="country_id">Country</label>
                                    <select class="browser-default custom-select" formControlName="country_id" mdbInput [ngClass]="{ 'is-invalid': submitted && f.country_id.errors }">
                                        <option disabled value="">Select Country</option>
                                        <option *ngFor="let CountryList of CountryList" [value]=CountryList.id>{{CountryList.name}}</option>
                                    </select>
                                    <div *ngIf="submitted && f.country_id.errors" class="error">
                                        <small *ngIf="f.country_id.errors.required" class="text-danger">
                                            This Field is required</small>
                                    </div>
                                </div>
                            </div>
        
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="state_id">State</label>
                                    <select class="browser-default custom-select" formControlName="state_id" mdbInput [ngClass]="{ 'is-invalid': submitted && f.state_id.errors }">
                                        <option disabled value="">Select State</option>
                                        <option *ngFor="let State of StateList" [value]=State.id>{{State.name}}</option>
                                    </select>
                                    <div *ngIf="submitted && f.state_id.errors" class="error">
                                        <small *ngIf="f.state_id.errors.required" class="text-danger">
                                            This Field is required</small>
                                    </div>
                                </div>
                            </div>
        
        
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="city_id">City</label>
                                    <select class="browser-default custom-select" formControlName="city_id" mdbInput [ngClass]="{ 'is-invalid': submitted && f.city_id.errors }">
                                        <option disabled value="">Select City</option>
                                        <option *ngFor="let City of CityList" [value]=City.id>{{City.name}}</option>
                                    </select>
                                    <div *ngIf="submitted && f.city_id.errors" class="error">
                                        <small *ngIf="f.city_id.errors.required" class="text-danger">
                                            This Field is required</small>
                                    </div>
                                </div>
                            </div>
        
        
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="title">Pincode</label>
                                    <input type="text" class="form-control" formControlName="pincode"
                                        placeholder="Enter Pincode"
                                        [ngClass]="{ 'is-invalid': submitted && f.pincode.errors }">
                                    <div *ngIf="submitted && f.pincode.errors">
                                        <small *ngIf="f.pincode.errors.required" class="text-danger">
                                            This Field is required
                                        </small>
                                    </div>
                                </div>
                               
                            </div>
        
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="img">Company Logo</label>
                                    <br>
                                    <img [src]="company_logourl" class="p-i-w" *ngIf="company_logoimageFlagSelect">
                                    <img *ngIf="company_logoimageFlagFrontend" src="assets/images/no.jpg"
                                    class="p-i-w" />
                                    <img *ngIf="company_logoimageFlagBackend" [src]="allowurl(sharedService.imageBase+company_logoimage)"
                                    class="p-i-w" />
                                    <br>
                                    <input type="file" accept="image/*" (change)="onSelectVendorFile($event.target.files[0],'company_logo')" #file id="file" formControlName="company_logo" [ngClass]="{ 'is-invalid': submitted && f.company_logo.errors }" style="margin-top: 7px;border: none;margin-left: -6% !important;">
        
                                    <div *ngIf="submitted && f.company_logo.errors">
                                        <small *ngIf="f.company_logo.errors.required" class="text-danger">
                                            This Field is required
                                        </small>
                                    </div>
                                </div>
                            </div>
        
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="title">Logo Type</label>
                                    <input type="text" class="form-control" formControlName="logo_type"
                                        placeholder="Enter Logo Type"
                                        [ngClass]="{ 'is-invalid': submitted && f.logo_type.errors }">
                                    <div *ngIf="submitted && f.logo_type.errors">
                                        <small *ngIf="f.logo_type.errors.required" class="text-danger">
                                            This Field is required
                                        </small>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="title">Primary Contact No</label>
                                    <input type="text" class="form-control" formControlName="primary_contact_no"
                                        placeholder="Enter Primary Contact No"
                                        [ngClass]="{ 'is-invalid': submitted && f.primary_contact_no.errors }">
                                    <div *ngIf="submitted && f.primary_contact_no.errors">
                                        <small *ngIf="f.primary_contact_no.errors.required" class="text-danger">
                                            This Field is required
                                        </small>
                                    </div>
                                </div>
                            </div>
        
        
        
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="title">Website</label>
                                    <input type="text" class="form-control" formControlName="website"
                                        placeholder="Enter Website"
                                        [ngClass]="{ 'is-invalid': submitted && f.website.errors }">
                                    <div *ngIf="submitted && f.website.errors">
                                        <small *ngIf="f.website.errors.required" class="text-danger">
                                            This Field is required
                                        </small>
                                    </div>
                                </div>
                            </div>
        
        
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="title">Poc Name</label>
                                    <input type="text" class="form-control" formControlName="poc_name"
                                        placeholder="Enter Poc Name"
                                        [ngClass]="{ 'is-invalid': submitted && f.poc_name.errors }">
                                    <div *ngIf="submitted && f.poc_name.errors">
                                        <small *ngIf="f.poc_name.errors.required" class="text-danger">
                                            This Field is required
                                        </small>
                                    </div>
                                </div>
                            </div>
        
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="title">Poc Title</label>
                                    <input type="text" class="form-control" formControlName="poc_title"
                                        placeholder="Enter Poc Title"
                                        [ngClass]="{ 'is-invalid': submitted && f.poc_title.errors }">
                                    <div *ngIf="submitted && f.poc_title.errors">
                                        <small *ngIf="f.poc_title.errors.required" class="text-danger">
                                            This Field is required
                                        </small>
                                    </div>
                                </div>
                            </div>
        
        
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="title">Poc Number</label>
                                    <input type="text" class="form-control" formControlName="poc_number"
                                        placeholder="Enter Poc Number"
                                        [ngClass]="{ 'is-invalid': submitted && f.poc_number.errors }">
                                    <div *ngIf="submitted && f.poc_number.errors">
                                        <small *ngIf="f.poc_number.errors.required" class="text-danger">
                                            This Field is required
                                        </small>
                                    </div>
                                </div>
                            </div>
        
        
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="title">Poc Email</label>
                                    <input type="text" class="form-control" formControlName="poc_email"
                                        placeholder="Enter Poc Email"
                                        [ngClass]="{ 'is-invalid': submitted && f.poc_email.errors }">
                                    <div *ngIf="submitted && f.poc_email.errors">
                                        <small *ngIf="f.poc_email.errors.required" class="text-danger">
                                            This Field is required
                                        </small>
                                    </div>
                                </div>
                            </div>
        
        
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="title">General Details</label>
                                    <input type="text" class="form-control" formControlName="general_details"
                                        placeholder="Enter General Details"
                                        [ngClass]="{ 'is-invalid': submitted && f.general_details.errors }">
                                    <div *ngIf="submitted && f.general_details.errors">
                                        <small *ngIf="f.general_details.errors.required" class="text-danger">
                                            This Field is required
                                        </small>
                                    </div>
                                </div>
                            </div>
        
        
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="title">Date CE</label>
                                    <input type="date" class="form-control" formControlName="date_ce"
                                        placeholder="Enter Date CE"
                                        [ngClass]="{ 'is-invalid': submitted && f.date_ce.errors }">
                                    <div *ngIf="submitted && f.date_ce.errors">
                                        <small *ngIf="f.date_ce.errors.required" class="text-danger">
                                            This Field is required
                                        </small>
                                    </div>
                                </div>
                            </div>
        
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="title">Geo Service Area</label>
                                    <input type="text" class="form-control" formControlName="geo_service_area"
                                        placeholder="Enter Geo Service Area"
                                        [ngClass]="{ 'is-invalid': submitted && f.geo_service_area.errors }">
                                    <div *ngIf="submitted && f.geo_service_area.errors">
                                        <small *ngIf="f.geo_service_area.errors.required" class="text-danger">
                                            This Field is required
                                        </small>
                                    </div>
                                </div>
                            </div>
        
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="title">Gross Annual</label>
                                    <input type="text" class="form-control" formControlName="gross_annual"
                                        placeholder="Enter Gross Annual"
                                        [ngClass]="{ 'is-invalid': submitted && f.gross_annual.errors }">
                                    <div *ngIf="submitted && f.gross_annual.errors">
                                        <small *ngIf="f.gross_annual.errors.required" class="text-danger">
                                            This Field is required
                                        </small>
                                    </div>
                                </div>
                            </div>
        
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="title">Business Type</label>
                                    <input type="text" class="form-control" formControlName="business_type"
                                        placeholder="Enter Business Type"
                                        [ngClass]="{ 'is-invalid': submitted && f.business_type.errors }">
                                    <div *ngIf="submitted && f.business_type.errors">
                                        <small *ngIf="f.business_type.errors.required" class="text-danger">
                                            This Field is required
                                        </small>
                                    </div>
                                </div>
                            </div>
        
        
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="title">Insurance</label>
                                    <input type="text" class="form-control" formControlName="insurance"
                                        placeholder="Enter Insurance"
                                        [ngClass]="{ 'is-invalid': submitted && f.insurance.errors }">
                                    <div *ngIf="submitted && f.insurance.errors">
                                        <small *ngIf="f.insurance.errors.required" class="text-danger">
                                            This Field is required
                                        </small>
                                    </div>
                                </div>
                          
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                
                                <div class="form-group">
                                    <label for="title">Insurance Type</label>
                                    <input type="text" class="form-control" formControlName="insurance_type"
                                        placeholder="Enter Insurance Type"
                                        [ngClass]="{ 'is-invalid': submitted && f.insurance_type.errors }">
                                    <div *ngIf="submitted && f.insurance_type.errors">
                                        <small *ngIf="f.insurance_type.errors.required" class="text-danger">
                                            This Field is required
                                        </small>
                                    </div>
                                </div>
                                
                            </div>
        
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="img">Insurance Attachment</label>
                                    <br>
                                    <img [src]="insurance_attachmenturl" class="p-i-w" *ngIf="insurance_attachmentimageFlagSelect">
                                    <img *ngIf="insurance_attachmentimageFlagFrontend" src="assets/images/no.jpg"
                                    class="p-i-w" />
                                    <img *ngIf="insurance_attachmentimageFlagBackend" [src]="allowurl(sharedService.imageBase+insurance_attachmentimage)"
                                    class="p-i-w" />
                                    <br>
                                    <input type="file" accept="image/*" (change)="onSelectVendorFile($event.target.files[0],'insurance_attachment')" #file id="file" formControlName="insurance_attachment" [ngClass]="{ 'is-invalid': submitted && f.insurance_attachment.errors }" style="margin-top: 7px;border: none;margin-left: -6% !important;">
        
                                    <div *ngIf="submitted && f.insurance_attachment.errors">
                                        <small *ngIf="f.insurance_attachment.errors.required" class="text-danger">
                                            This Field is required
                                        </small>
                                    </div>
                                </div>
                            </div>
        
        
        
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="title">Licence</label>
                                    <input type="text" class="form-control" formControlName="licence"
                                        placeholder="Enter Licence"
                                        [ngClass]="{ 'is-invalid': submitted && f.licence.errors }">
                                    <div *ngIf="submitted && f.licence.errors">
                                        <small *ngIf="f.licence.errors.required" class="text-danger">
                                            This Field is required
                                        </small>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="title">Licence Type</label>
                                    <input type="text" class="form-control" formControlName="licence_type"
                                        placeholder="Enter Licence Type"
                                        [ngClass]="{ 'is-invalid': submitted && f.licence_type.errors }">
                                    <div *ngIf="submitted && f.licence_type.errors">
                                        <small *ngIf="f.licence_type.errors.required" class="text-danger">
                                            This Field is required
                                        </small>
                                    </div>
                                </div>
                                
                            </div>
        
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="img">Licence Attachment</label>
                                    <br>
                                    <img [src]="licence_attachmenturl" class="p-i-w" *ngIf="licence_attachmentimageFlagSelect">
                                    <img *ngIf="licence_attachmentimageFlagFrontend" src="assets/images/no.jpg"
                                    class="p-i-w" />
                                    <img *ngIf="licence_attachmentimageFlagBackend" [src]="allowurl(sharedService.imageBase+licence_attachmentimage)"
                                    class="p-i-w" />
                                    <br>
                                    <input type="file" accept="image/*" (change)="onSelectVendorFile($event.target.files[0],'licence_attachment')" #file id="file" formControlName="licence_attachment" [ngClass]="{ 'is-invalid': submitted && f.licence_attachment.errors }" style="margin-top: 7px;border: none;margin-left: -6% !important;">
        
                                    <div *ngIf="submitted && f.licence_attachment.errors">
                                        <small *ngIf="f.licence_attachment.errors.required" class="text-danger">
                                            This Field is required
                                        </small>
                                    </div>
                                </div>
                            </div>
        
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="title">Additional Info</label>
                                    <input type="text" class="form-control" formControlName="additional_info"
                                        placeholder="Enter Additional Info"
                                        [ngClass]="{ 'is-invalid': submitted && f.additional_info.errors }">
                                    <div *ngIf="submitted && f.additional_info.errors">
                                        <small *ngIf="f.additional_info.errors.required" class="text-danger">
                                            This Field is required
                                        </small>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="title">Bank Name</label>
                                    <input type="text" class="form-control" formControlName="bank_name"
                                        placeholder="Enter Bank Name"
                                        [ngClass]="{ 'is-invalid': submitted && f.bank_name.errors }">
                                    <div *ngIf="submitted && f.bank_name.errors">
                                        <small *ngIf="f.bank_name.errors.required" class="text-danger">
                                            This Field is required
                                        </small>
                                    </div>
                                </div>
                            </div>
        
                           
        
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="title">Bank Account No</label>
                                    <input type="text" class="form-control" formControlName="bank_account_no"
                                        placeholder="Enter Bank Account No"
                                        [ngClass]="{ 'is-invalid': submitted && f.bank_account_no.errors }">
                                    <div *ngIf="submitted && f.bank_account_no.errors">
                                        <small *ngIf="f.bank_account_no.errors.required" class="text-danger">
                                            This Field is required
                                        </small>
                                    </div>
                                </div>
                            </div>
        
        
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="title">Ifsc Code</label>
                                    <input type="text" class="form-control" formControlName="ifsc_code"
                                        placeholder="Enter Ifsc Code"
                                        [ngClass]="{ 'is-invalid': submitted && f.ifsc_code.errors }">
                                    <div *ngIf="submitted && f.ifsc_code.errors">
                                        <small *ngIf="f.ifsc_code.errors.required" class="text-danger">
                                            This Field is required
                                        </small>
                                    </div>
                                </div>
                            </div>
        
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="title">Bank Address</label>
                                    <input type="text" class="form-control" formControlName="bank_address"
                                        placeholder="Enter Bank Address"
                                        [ngClass]="{ 'is-invalid': submitted && f.bank_address.errors }">
                                    <div *ngIf="submitted && f.bank_address.errors">
                                        <small *ngIf="f.bank_address.errors.required" class="text-danger">
                                            This Field is required
                                        </small>
                                    </div>
                                </div>
                            </div>
        
        
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="title">Certification Name</label>
                                    <input type="text" class="form-control" formControlName="certification_name"
                                        placeholder="Enter Certification Name"
                                        [ngClass]="{ 'is-invalid': submitted && f.certification_name.errors }">
                                    <div *ngIf="submitted && f.certification_name.errors">
                                        <small *ngIf="f.certification_name.errors.required" class="text-danger">
                                            This Field is required
                                        </small>
                                    </div>
                                </div>
                            </div>
        
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="title">Certification Place</label>
                                    <input type="text" class="form-control" formControlName="certification_place"
                                        placeholder="Enter Certification Place"
                                        [ngClass]="{ 'is-invalid': submitted && f.certification_place.errors }">
                                    <div *ngIf="submitted && f.certification_place.errors">
                                        <small *ngIf="f.certification_place.errors.required" class="text-danger">
                                            This Field is required
                                        </small>
                                    </div>
                                </div>
                            </div>
        
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="title">Certification Date</label>
                                    <input type="date" class="form-control" formControlName="certification_date"
                                        placeholder="Enter Certification Date"
                                        [ngClass]="{ 'is-invalid': submitted && f.certification_date.errors }" >
                                    <div *ngIf="submitted && f.certification_date.errors">
                                        <small *ngIf="f.certification_date.errors.required" class="text-danger">
                                            This Field is required
                                        </small>
                                    </div>
                                </div>
                            </div>
        
        
                            <div class="col-12  my-3">
                                <button class="btn btn-success" type="submit" (click)="onSubmit()" [disabled]="btnsubmitted">Save</button>
                                <!-- <button class="btn btn-inverse" (click)="onBack()"
                                    type="button">Cancel</button> -->
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>