img.p-i-w {
    cursor: pointer;
    width: 100px;
    border: 2px solid #33b5e5;
}
input#imgInput {
    opacity: 0;
    position: absolute;
    width: 98px;
    height: 99px;
    margin-left: -19%;
}
svg.svg-inline--fa.fa-times-circle.fa-w-16 {
    position: absolute;
    left: 21%;
    top: 19px;
    cursor: pointer;
    font-size: 20px;
    color: red;
}
.cutome_login input{
    width: 94% !important;
}
