<div class="modal popup" id="form" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered cutome_login" role="document">
        <div class="modal-content">
            <div class="modal-header border-bottom-0">
                <h5 class="modal-title col-lg-11">Member Login</h5>
                <button type="button" (click)="closemodel()" class="close">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="mx-auto" [formGroup]="loginForm">
                    <div id="first">
                        <div class="myform form">
                            <div class="form-group myForm">
                                <input type="email" formControlName="email" name="email" class="form-control"
                                    id="email" aria-describedby="emailHelp" placeholder="Email">
                                <span class="error-red" *ngIf="f.email.errors?.required && submitted">Email is
                                    required</span>
                                <!-- <div class="error-red" *ngIf="f.Username.errors?.email">Enter a valid Email</div> -->
                            </div>
                            <div class="form-group myForm">
                                <input formControlName="password" class="form-control" type="password" name="password"
                                    id="password" aria-describedby="emailHelp" placeholder="Password">
                                <span class="error-red" *ngIf="f.password.errors?.required && submitted">Password is
                                    required
                                </span>
                                <!-- <div class="error-red" *ngIf="f.Password.errors?.minlength">Password must be at least 8
                            characters</div>
                        <div class="error-red" *ngIf="f.Password.errors?.maxlength">Password should not be greater then
                            30 characters</div> -->
                                <span class="error-red"
                                    *ngIf="f.password.errors?.invalid">{{f.password.errors?.message}}</span>
                            </div>

                            <div class="col-md-12 text-center ">
                                <button (click)="loginSubmit()" type="button" class="mybtn tx-tfm">Login</button>
                            </div>
                            <div class="col-md-12 ">
                                <div class="login-or">
                                    <hr class="hr-or">
                                    <span class="span-or">or</span>
                                </div>
                            </div>
                            <div class="col-md-12 mb-3">
                                <p class="text-center">
                                    <a href="javascript:void(0);" class="google" (click)="signInWithGoogle()">
                                        <img src="assets/image/g.jpg" class="img-fluid">
                                    </a>
                                    <a href="javascript:void(0);" class="google" (click)="signInWithFB()">
                                        <img src="assets/image/f.png" class="img-fluid">
                                    </a>
                                </p>
                            </div>
                            <div class="form-group">
                                <p class="text-center"><a href="javascript:void(0);" id="foget" (click)="onForgotPassword()">Forgot
                                        Username/Password ?</a></p>
                            </div>
                            <div class="form-group">
                                <!-- <p class="text-center"><a (click)="openSignupVendorPopup()" id="signin">Vendor Account?</a>
                                </p> -->
                            </div>
                            <div class="form-group">
                                <p class="text-center"> <a (click)="openSignupPopup()" id="signup">Create your
                                        account</a></p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

