<!-- Get your cost effective estimate popup -->
<app-costplanpopup (closepopUp)='openCloseCostPlanModel($event)' closepopUp *ngIf=openCostPlanPopUp></app-costplanpopup>

<section class="typology ">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <h4 class="sliderTitle pd-b-5" *ngIf="topographyData">{{topographyData.name}}</h4>
                <div class="row no-gutter border text-center">
                    <div class="col-lg-12 col-md-12 col-12 bg-grey-lg position-relative">
                        <div>
                            <!-- <button (click)="navigateToTopography()" type="button" class="close position-absolute"
                                aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button> -->
                            <img width="320" [src]="allowurl(sharedService.imageBase+topographyData.image)"
                                class="img-fluid" *ngIf="topographyData">
                            <h5 class="popImgText" style="top: 42%;">{{calculatorData.Areainsqft}} sqf.</h5>
                            <h4 *ngIf="topographyData">{{topographyData.name}}</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 bgBlur1">
                <h4 class="sliderTitle pl-4 mb-2">LAYOUT
                    <div class="ulcontainer">
                    <ul class="list-unstyled mb-0">
                        <li>
                            <a
                                [routerLink]="['../typology/', calculatorData.Typology]">{{typologyDatails.name}}</a>
                        </li>
                        <li><a [routerLink]="['../topography-home/']" *ngIf="topographyData">{{topographyData.name}}</a></li>
                        <li>
                            <a [routerLink]="['../level1/']" *ngIf="topographyData">{{calculatorData.TypeOfProject}}</a>
                            <a [routerLink]="['../topography-home/']" *ngIf="!topographyData">{{calculatorData.TypeOfProject}}</a>
                        </li>
                        <li><a [routerLink]="['../level2/']" *ngIf="calculatorData.TypeOfProjectLevel2Selected">{{calculatorData.TypeOfProjectLevel2Selected}}</a></li>
                        <li><a [routerLink]="['../level3/']" *ngIf="calculatorData.TypeOfProjectLevel3Selected">{{calculatorData.TypeOfProjectLevel3Selected}}</a></li>
                    </ul>
                    <div class="clearfix">&nbsp;</div>
                </div>
                    <div class="clearfix"></div>
                </h4>
                <div class="scroller-style-small">
                    <div class="row no-gutter text-center" *ngIf="!Record_Flag">
                        <div (click)="saveTypeofProjectDetails(project.id,project.name,project)"
                            *ngFor="let project of Layout_Details; let i=index"
                            class="col-lg-4 col-md-4 col-6 bg-grey h-170 clac-3 calc-2 {{project.class}}"
                            [ngClass]="{'m-br': i == 1,'bor-m': i == 2,'': i == 0 || i == 1 || i == 3 || i == 4,'bggrey':selectedLevel1 == project.id}">
                            <div class="clac-left-sec">
                                <img [src]="allowurl(sharedService.imageBase+project.image)" class="img-fluid">
                                <h4>{{project.name}}</h4>
                            </div>
                        </div>
                    </div>
                    <div class="row no-gutter text-center no_rcd" *ngIf="Record_Flag">
                        <img src="assets/images/comming_soon.png" style="width: 76%;">
                        <!-- <p>{{msg}}</p> -->
                    </div>
                </div>

                <div class="row">
                    <div (click)="openCloseCostPlanModel(true)" class="col-lg-12 mt-1">
                        <p *ngIf="PopUpModalFlag" style="margin-bottom: 1px;margin: 0 auto;text-align: center;color: red;font-weight: 500;">Please Select Types Of Project Layout</p>
                        <a href="javascript:void(0)" class="getBtnCalcPage" data-toggle="modal">GET YOUR COST
                            EFFECTIVE ESTIMATE</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<app-bhk-popup (closePopUP)=openCloseLevel2Model($event) (selectedBhk)=setBhkName($event) *ngIf=openLevel2PopUp>
</app-bhk-popup>