<div class="modal popup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered cutome_login" role="document" style="        position: absolute;
    margin-left: 16%;
    margin-top: 0%;
    max-width: 918px;">
        <div class="modal-content">
            <div class="modal-header border-bottom-0">
                <h5 class="modal-title col-lg-11">Vendor Category</h5>
                <button (click)="closeSignupmodel()" type="reset" class="close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form>
                <div class="modal-body">
                    <div class="mx-auto">
                        <div class="col-12 row mt-4">
                            <div class="col-md-12 row" style="margin-left: 15px;">
                                <div class="col-md-3" *ngFor="let categoryitem of CategoryList;">
                                    <input type="checkbox" class="form-control edit_checkbox" [checked]="categoryitem['selectflag'] == true" style="width: 20px;height: 20px;" (click)="addcategory(categoryitem,$event.target.checked,'Category')">
                                    <label class="checkbox_label">{{categoryitem.name}}</label>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 row mt-4" style="text-align: center;margin: 0 auto;display: block;">
                            <button type="button" class="btn btn-info" (click)="onSubmitCategoryData()"
                                style="margin-right: 2%;"><i class="fa fa-plus-circle"></i> Submit</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>