img.p-i-w {
    cursor: pointer;
    width: 100px;
    border: 2px solid #33b5e5;
}
input#imgInput {
    opacity: 0;
    position: absolute;
    width: 98px;
    height: 99px;
    margin-left: -19%;
}
svg.svg-inline--fa.fa-times-circle.fa-w-16 {
    position: absolute;
    left: 21%;
    top: 19px;
    cursor: pointer;
    font-size: 20px;
    color: red;
}
label.checkbox_label {
    margin: 20px auto;
    margin-left: 64%;
    white-space: nowrap;
}

.form-control:focus {
    color: #495057;
    background-color: #fff !important;
    border-color: #ffffff !important;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(255 255 255) !important;
}