<div style="display: block;" class="modal fade show" id="get-xl-map" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl" role="document">
    <div class="modal-content"  *ngIf="bhkDetails && bhkDetails.length">
      <div class="modal-header  border-bottom-0 pb-0">
        <h5 class="modal-title">{{bhkDetails[currentLayout].name ? bhkDetails[currentLayout].name : ''}}<br>
          {{bhkDetails[currentLayout].description ? bhkDetails[currentLayout].description : ''}}
         </h5>
        <button (click)="closeLevel2Model(false)" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body pt-0">
        <div class="container-fluid p-0">
          <div class="row">
            <div class="col-sm-12">
              
            </div>
            <div class="col-sm-12">
              <div id="carouselExampleIndicators" class="category_banner slider-new carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-target="#carouselExampleIndicators" attr.data-slide-to="{{i}}" class="active"
                    *ngFor="let indesing of bhkDetails;let i=index" [ngClass]="i == 0 ? 'active': ''">
                  </li>
                </ol>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img class="d-block w-100" [src]="allowurl(sharedService.imageBase+bhkDetails[currentLayout].image)"
                      alt="First slide">
                  </div>
                </div>
                <a class="carousel-control-prev" href="javascript:void(0);" role="button" data-slide="prev" (click)="onPrevious()" *ngIf="currentLayout > 0">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="javascript:void(0);" role="button" data-slide="next" (click)="onNext()" *ngIf="currentLayout < bhkDetails.length-1">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footers" style="position: relative !important;">
        <button (click)="passNameToParent(bhkDetails[currentLayout].id);closeLevel2Model(false)" type="button"
        class="btn-select layout_select">Select</button>
      </div>
    </div>
  </div>
</div>