
@import url("../../../assets/css/calc2.css");

.blackbutton{
    color: black !important;
}
.carousel-inner {
    width: 300px;
    margin: 0 auto;
}
.active_box{
    background: #eb8f8f !important;
    filter: grayscale(0) !important;
}
.layout_select{
    z-index: 100; 
    position: relative;
    border: 1px solid;
    border-radius: 12px;
    padding: 5px 10px !important;
    font-size: 13px;
    font-weight: 600;
    background-color: #00eb9c;
}