<section class="category_banner mt-2 search-section">
    
    <div class="col-12 border-bottom pb-4">
        <div class="row">
            <div class="col-12" *ngIf="SearchKeyFlag">
                <div class="col-12 text-left" style="    margin: 0 auto;">
                    <form class="form-inline pr-lg-5 mr-lg-5 d-block">
                        <div class="search-header"><span class="title" style="float: left;">Results for : "{{searchkey}}"</span>
                        </div>
                    </form>
                </div>
            </div>
            <br>
        </div>
        <div class="row align-items-center justify-content-end">
            <div class="col-md-3 service-title clearfix d-block">
                <label class="float-right mb-0">Service providers at</label>
            </div>
            <div class="col-md-3 label_text">
                <ng-autocomplete
                    [data]="cities"
                    [searchKeyword]="keyword"
                    placeholder="Search the Cities"
                    historyIdentifier="cities"
                    [itemTemplate]="itemTemplate"
                    (selected)='selectEvent($event)'
                    (inputChanged)='onChangeSearch($event)'
                    [notFoundTemplate]="notFoundTemplate"
                    [(ngModel)]="city"
                    (inputCleared)='onRemove()'>
                </ng-autocomplete>
                  
                <ng-template #itemTemplate let-item>
                    <div class="item" style="margin: 0px 3%;">
                    <img src="{{item.flag}}" height="25">
                    <span [innerHTML]="item.name"></span>
                    </div>
                </ng-template>
                
                <ng-template #notFoundTemplate let-notFound>
                    <div [innerHTML]="notFound"></div>
                </ng-template>
            </div>
            <div class="col-md-3 service-select label_text">
                <ng-multiselect-dropdown [settings]="dropdownSettings" [data]="venderservices"
                    [(ngModel)]="selectedItems" (onSelect)="onChange()" (onSelectAll)="onSelectAll($event)"
                    (onDeSelect)="onItemDeSelect($event)">
                </ng-multiselect-dropdown>
                <label>Services</label>
            </div>
            <div class="col-md-3 sort-select label_text">
                

                <select id="choices-multiple-remove-button" class="form-control mr-sm-2 mt-0"
                    [(ngModel)]="review" (change)="onChange()">
                    <option value="" selected>
                        --Select Review--
                    </option>
                    <!-- <option value="0">Recommended</option> -->
                    <option value="0">Lowest</option>
                    <option value="1">Highest</option>
                    <option value="2">Newest</option>
                </select>
                <label class="float-right">Sort</label>
            </div>
        </div>
    </div>
</section>