.service-title label,.service-title select{
    font-size: 40px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.9px;
    color: #555571;
    font-weight: bold;
}
.service-title select{
    font-size: 30px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #555571;
    border-radius: 0;
    padding: 6px 7px 6px 14px;
    cursor: pointer;
    margin-left: 15px;
    /* box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff; */
}
.service-title select.form-control:focus{
    border-top-color:transparent;
    border-left-color:transparent;
    border-right-color:transparent;
    box-shadow:none;
}
.service-select label{
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.4px;
    color: #555571;
    float: right;
    margin-top: 5px;
    margin-bottom: 0;
    margin-right: 7px;
}
.sort-select label{
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.4px;
    color: #555571;
    margin-top: 5px;
    margin-bottom: 0;
    margin-right: 7px;
}
.sort-select select{
    float: right;
    width: 60%;
    margin-bottom: 0;
    padding: 6px 7px 6px 14px;
  border-radius: 5px;
  box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  border: 1px transparent;
}
.multiselect-dropdown .dropdown-btn{
  border: 1px transparent !important;
  box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.1);
}
.service-select ng-multiselect-dropdown{
    float: right;
    width: 60%;
}
.service-select .multiselect-dropdown{
    width: auto !important;
}
.search-section{
    margin-bottom: 20px;
}
@media screen and (max-width:1366px) and (min-width:1280px) {
    .service-title label, .service-title select {
        font-size: 30px;
    }
    .service-title label{
        margin-top: 8px;
    }
    .service-title select {
        float: left !important;
        font-size: 25px;
        width: 30% !important;
    }
    .category_banner{
        .col-md-4 {
            -ms-flex: 0 0 35%;
            flex: 0 0 35%;
            max-width: 35%;
        }
        .col-md-6.service-title {
            -ms-flex: 0 0 50%;
            flex: 0 0 50%;
            max-width: 50%;
            display: flex;
            justify-content: flex-end;
        }
        .sort-select select{
            width: 72%;
        }
    }
    
}
@media screen and (max-width:480px){
    .service-select ng-multiselect-dropdown{
        width: 50%;
    }
    .sort-select select{
        width: 50%;
    }
}
.label_text{
    margin-top: 8px;
}