<div id="container" class="custom-container">
   <div class="bb-custom-wrapper" *ngIf="book_flag">
      <div id="bb-bookblock" class="bb-bookblock" style="overflow: hidden;">
         <div class="bb-item" id="item1" *ngIf="page_flag1">
            <div class="content">
               <div class="scroller row" *ngIf="page_flag1_data">
                  <div class="col-lg-6 col-md-6">
                     <ng-container *ngIf="page_flag1_data.link1 == ''">
                        <img [src]="allowurl(sharedService.imageBase+page_flag1_data.image1)"
                           onError="this.src='assets/images/no.jpg'" class="tab-img tab-img1">
                     </ng-container>
                     <ng-container *ngIf="page_flag1_data.link1 != ''">
                        <a (click)="onShowVideo(page_flag1_data.link1)">
                           <img [src]="allowurl(sharedService.imageBase+page_flag1_data.image1)"
                              onError="this.src='assets/images/no.jpg'" class="tab-img tab-img1">
                        </a>
                     </ng-container>

                     <div class="book-small-img"  *ngIf="vendorDetails">
                        <img [src]="allowurl(sharedService.imageBase+vendorDetails?.services[0]?.image)"
                           onError="this.src='assets/images/no.jpg'" class="img-fluid" style="border-radius: 50%;" *ngIf="vendorDetails.services[0]">
                        <img [src]="allowurl(sharedService.imageBase+vendorDetails?.services[1]?.image)"
                           onError="this.src='assets/images/no.jpg'" class="img-fluid" style="border-radius: 50%;"  *ngIf="vendorDetails.services[1]">
                        <img [src]="allowurl(sharedService.imageBase+vendorDetails?.services[2]?.image)"
                           onError="this.src='assets/images/no.jpg'" class="img-fluid" style="border-radius: 50%;"  *ngIf="vendorDetails.services[2]">
                     </div>
                     <div class="compnyLogo">
                        <img [src]="allowurl(sharedService.imageBase+vendorDetails?.company_logo)"
                           onError="this.src='assets/images/no.jpg'" class="img-fluid">
                     </div>
                  </div>
                  <div class="col-lg-6 col-md-6">
                     <div class="compnyLogo1">
                        <img [src]="allowurl(sharedService.imageBase+vendorDetails?.company_logo)"
                           onError="this.src='assets/images/no.jpg'" class="img-fluid">
                     </div>
                     <h3 class="aboutTitle">{{page_flag1_data.label_name}}</h3>
                     <p>Company : <span>{{vendorDetails.company_name}}, {{vendorDetails.city_name}}</span></p>
                     <p class="desc">
                        {{page_flag1_data.description.slice(0, 6500)}}
                     </p>
                     <p class="mt-2" *ngIf="vendorDetails">
                        Expertise:
                        <span *ngIf="vendorDetails.services.length > 0">
                           <ng-container *ngIf="vendorDetails.services[0]">
                              {{vendorDetails.services[0].title}}
                           </ng-container>
                           <ng-container *ngIf="vendorDetails.services[1]">
                              ,{{vendorDetails.services[1].title}}
                           </ng-container>
                           <ng-container *ngIf="vendorDetails.services[2]">
                              ,{{vendorDetails.services[2].title}}
                           </ng-container>
                           <ng-container *ngIf="vendorDetails.services[3]">
                              ,{{vendorDetails.services[3].title}}
                           </ng-container>
                           <ng-container *ngIf="vendorDetails.services[4]">
                              ,{{vendorDetails.services[4].title}}
                           </ng-container>
                           <ng-container *ngIf="vendorDetails.services[5]">
                              ,{{vendorDetails.services[5].title}}
                           </ng-container>
                           <ng-container *ngIf="vendorDetails.services[6]">
                              ,{{vendorDetails.services[6].title}}
                           </ng-container>
                           <ng-container *ngIf="vendorDetails.services[7]">
                              ,{{vendorDetails.services[7].title}}
                           </ng-container>
                           <ng-container *ngIf="vendorDetails.services[8]">
                              ,{{vendorDetails.services[8].title}}
                           </ng-container>
                           <ng-container *ngIf="vendorDetails.services[9]">
                              ,{{vendorDetails.services[9].title}}
                           </ng-container>
                           <ng-container *ngIf="vendorDetails.services[10]">
                              ,{{vendorDetails.services[10].title}}
                           </ng-container>
                           <ng-container *ngIf="vendorDetails.services[11]">
                              ,{{vendorDetails.services[11].title}}
                           </ng-container>
                           <ng-container *ngIf="vendorDetails.services[12]">
                              ,{{vendorDetails.services[12].title}}
                           </ng-container>
                           <ng-container *ngIf="vendorDetails.services[13]">
                              ,{{vendorDetails.services[13].title}}
                           </ng-container>
                           <ng-container *ngIf="vendorDetails.services[14]">
                              ,{{vendorDetails.services[14].title}}
                           </ng-container>
                        </span>
                     </p>
                     <p>
                        Ratings
                        <ng-container *ngIf="vendorDetails_rating == undefined">
                           0/5
                        </ng-container>
                        <ng-container *ngIf="vendorDetails_rating != undefined">
                           <span title="{{vendorDetails_rating}}  Outof 5">
                              

                              <span  *ngFor="let star of fillStars(vendorDetails_rating)">
                                 <i class="fas fa-star"
                                 style="cursor: pointer;"></i>
                              </span>
                              <span *ngIf="isHalf">
                                 <i class="fas fa-star-half-alt"></i>
                              </span>
                              Outof <span *ngIf="vendorDetails"> {{vendorDetails.reviews.length}}

                                

                              </span>
                           </span>
                        </ng-container>
                        <a data-toggle="modal" data-target="#form" class="reviewText" (click)="onReview()"
                           href="javascript:void(0)" title="Total Review {{vendorDetails.reviews.length}}" *ngIf="vendorDetails">Reviews </a>
                        <a data-toggle="modal" data-target="#reach" class="reachOutBtnn" (click)="onReachOut()"
                           href="javascript:void(0)" title="Submit Query">Reach out</a>
                     </p>
                  </div>
               </div>
            </div>
         </div>
         <div class="bb-item" id="item2" *ngIf="page_flag2">
            <div class="content">
               <div class="scroller row" *ngIf="page_flag2_data">
                  <div class="col-lg-6 col-md-6">
                     <div class="row">
                        <div class="col-lg-6 col-md-6">
                           <img src="assets/img/blank_image.png" class="black-img tab-img1">
                           <div class="book-small-img1 t-41">

                              <ng-container *ngIf="page_flag2_data.link1 == ''">
                                 <img [src]="allowurl(sharedService.imageBase+page_flag2_data.image1)"
                                    onError="this.src='assets/images/no.jpg'" class="img-fluid mb-4"
                                    style="width: 100%;height: 150px;">
                              </ng-container>
                              <ng-container *ngIf="page_flag2_data.link1 != ''">
                                 <a (click)="onShowVideo(page_flag2_data.link1)">
                                    <img [src]="allowurl(sharedService.imageBase+page_flag2_data.image1)"
                                       onError="this.src='assets/images/no.jpg'" class="img-fluid mb-4"
                                       style="width: 100%;height: 150px;">
                                 </a>
                              </ng-container>

                              <ng-container *ngIf="page_flag2_data.link2 == ''">
                                 <img [src]="allowurl(sharedService.imageBase+page_flag2_data.image2)"
                                    onError="this.src='assets/images/no.jpg'" class="img-fluid"
                                    style="width: 100%;height: 150px;">
                              </ng-container>
                              <ng-container *ngIf="page_flag2_data.link2 != ''">
                                 <a (click)="onShowVideo(page_flag2_data.link2)">
                                    <img [src]="allowurl(sharedService.imageBase+page_flag2_data.image2)"
                                       onError="this.src='assets/images/no.jpg'" class="img-fluid"
                                       style="width: 100%;height: 150px;">
                                 </a>
                              </ng-container>
                           </div>
                        </div>
                        <div class="col-lg-6 col-md-6 book-page-2">
                           <h3 class="aboutTitle mt-34">{{page_flag2_data.lable_text}}</h3>
                           <p>{{page_flag2_data.description.slice(0,400)}}<span
                                 *ngIf="page_flag2_data.description.length > 400">...</span></p>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-6 col-md-6">
                     <ng-container *ngIf="page_flag2_data.link2 == ''">
                        <img [src]="allowurl(sharedService.imageBase+page_flag2_data.image3)"
                           onError="this.src='assets/images/no.jpg'" class="tab-img tab-img1">
                     </ng-container>
                     <ng-container *ngIf="page_flag2_data.link2 != ''">
                        <a (click)="onShowVideo(page_flag2_data.link2)">
                           <img [src]="allowurl(sharedService.imageBase+page_flag2_data.image3)"
                              onError="this.src='assets/images/no.jpg'" class="tab-img tab-img1">
                        </a>
                     </ng-container>
                     <a data-toggle="modal" data-target="#reach" class="reachOutBtnn btn-reach-pos"
                        (click)="onReachOut()" href="javascript:void(0)" title="Submit Query">Reach out</a>
                  </div>
               </div>
            </div>
         </div>
         <div class="bb-item" id="item3" *ngIf="page_flag3">
            <div class="content">
               <div class="scroller row" *ngIf="page_flag3_data">
                  <div class="col-lg-6 col-md-6">

                     <ng-container *ngIf="page_flag3_data.link1 == ''">
                        <img [src]="allowurl(sharedService.imageBase+page_flag3_data.image1)"
                           onError="this.src='assets/images/no.jpg'" class="tab-img tab-img1">
                     </ng-container>
                     <ng-container *ngIf="page_flag3_data.link1 != ''">
                        <a (click)="onShowVideo(page_flag3_data.link1)">
                           <img [src]="allowurl(sharedService.imageBase+page_flag3_data.image1)"
                              onError="this.src='assets/images/no.jpg'" class="tab-img tab-img1">
                        </a>
                     </ng-container>


                     <div class="compnyLogoText" style="top: 85%;">
                        <h5>{{page_flag3_data.lable_text}}</h5>
                        <h6>{{vendorDetails.city_name}}</h6>
                     </div>
                  </div>
                  <div class="col-lg-6 col-md-6">
                     <div class="compnyLogo1">
                        <img [src]="allowurl(sharedService.imageBase+vendorDetails?.company_logo)"
                           onError="this.src='assets/images/no.jpg'" class="img-fluid">
                     </div>
                     <h3 class="aboutTitle"></h3>
                     <p>Project : <span>{{page_flag3_data.lable_text}}</span></p>
                     <p class="dessc">
                        {{page_flag3_data.description.slice(0, 500)}}
                     </p>
                     <p class="mt-5">
                        Expertise :
                        <span *ngIf="vendorDetails.services">
                           <ng-container *ngIf="vendorDetails.services[0]">
                              {{vendorDetails.services[0].title}}
                           </ng-container>
                           <ng-container *ngIf="vendorDetails.services[1]">
                              ,{{vendorDetails.services[1].title}}
                           </ng-container>
                           <ng-container *ngIf="vendorDetails.services[2]">
                              ,{{vendorDetails.services[2].title}}
                           </ng-container>
                           <ng-container *ngIf="vendorDetails.services[3]">
                              ,{{vendorDetails.services[3].title}}
                           </ng-container>
                           <ng-container *ngIf="vendorDetails.services[4]">
                              ,{{vendorDetails.services[4].title}}
                           </ng-container>
                           <ng-container *ngIf="vendorDetails.services[5]">
                              ,{{vendorDetails.services[5].title}}
                           </ng-container>
                           <ng-container *ngIf="vendorDetails.services[6]">
                              ,{{vendorDetails.services[6].title}}
                           </ng-container>
                           <ng-container *ngIf="vendorDetails.services[7]">
                              ,{{vendorDetails.services[7].title}}
                           </ng-container>
                           <ng-container *ngIf="vendorDetails.services[8]">
                              ,{{vendorDetails.services[8].title}}
                           </ng-container>
                           <ng-container *ngIf="vendorDetails.services[9]">
                              ,{{vendorDetails.services[9].title}}
                           </ng-container>
                           <ng-container *ngIf="vendorDetails.services[10]">
                              ,{{vendorDetails.services[10].title}}
                           </ng-container>
                           <ng-container *ngIf="vendorDetails.services[11]">
                              ,{{vendorDetails.services[11].title}}
                           </ng-container>
                           <ng-container *ngIf="vendorDetails.services[12]">
                              ,{{vendorDetails.services[12].title}}
                           </ng-container>
                           <ng-container *ngIf="vendorDetails.services[13]">
                              ,{{vendorDetails.services[13].title}}
                           </ng-container>
                           <ng-container *ngIf="vendorDetails.services[14]">
                              ,{{vendorDetails.services[14].title}}
                           </ng-container>
                        </span>
                     </p>
                     <p>
                        Ratings
                        <ng-container *ngIf="vendorDetails.rating == undefined">
                           0/5
                        </ng-container>
                        <ng-container *ngIf="vendorDetails_rating != undefined">
                              <span  *ngFor="let star of fillStars(vendorDetails_rating)">
                                 <i class="fas fa-star"
                                 style="cursor: pointer;"></i>
                              </span>
                              <span *ngIf="isHalf">
                                 <i class="fas fa-star-half-alt"></i>
                              </span>
                              Outof <span *ngIf="vendorDetails"> {{vendorDetails.reviews.length}}</span>
                        </ng-container>
                        <a data-toggle="modal" data-target="#form" class="reviewText" (click)="onReview()"
                           href="javascript:void(0)" title="Total Review {{vendorDetails.reviews.length}}">Reviews </a>
                        <a data-toggle="modal" data-target="#reach" class="reachOutBtnn" (click)="onReachOut()"
                           href="javascript:void(0)" title="Submit Query">Reach out</a>
                     </p>
                  </div>
               </div>
            </div>
         </div>
         <div class="bb-item" id="item4" *ngIf="page_flag4">
            <div class="content">
               <div class="scroller row" *ngIf="page_flag4_data">
                  <div class="col-lg-6 col-md-6">
                     <div class="row">
                        <div class="col-lg-6 col-md-6">
                           <p class="mobileText mobileText1">{{page_flag4_data.description.slice(0,1200)}} <span
                                 *ngIf="page_flag4_data.description.length > 1200">...</span></p>
                        </div>
                        <div class="col-lg-6 col-md-6 book-page-4">

                           <ng-container *ngIf="page_flag4_data.link1 == ''">
                              <img [src]="allowurl(sharedService.imageBase+page_flag4_data.image1)"
                                 onError="this.src='assets/images/no.jpg'" class="tab-img1">
                           </ng-container>
                           <ng-container *ngIf="page_flag4_data.link1 != ''">
                              <a (click)="onShowVideo(page_flag4_data.link1)">
                                 <img [src]="allowurl(sharedService.imageBase+page_flag4_data.image1)"
                                    onError="this.src='assets/images/no.jpg'" class="tab-img1">
                              </a>
                           </ng-container>



                        </div>
                     </div>
                  </div>
                  <div class="col-lg-6 col-md-6">


                     <ng-container *ngIf="page_flag4_data.link2 == ''">
                        <img [src]="allowurl(sharedService.imageBase+page_flag4_data.image2)"
                           onError="this.src='assets/images/no.jpg'" class=" tab-img tab-img1">
                     </ng-container>
                     <ng-container *ngIf="page_flag4_data.link2 != ''">
                        <a (click)="onShowVideo(page_flag4_data.link2)">
                           <img [src]="allowurl(sharedService.imageBase+page_flag4_data.image2)"
                              onError="this.src='assets/images/no.jpg'" class="tab-img tab-img1">
                        </a>
                     </ng-container>

                     <a data-toggle="modal" data-target="#reach" class="reachOutBtnn btn-reach-pos"
                        (click)="onReachOut()" href="javascript:void(0);" title="Submit Query">Reach out</a>
                  </div>
               </div>
            </div>
         </div>
         <div class="bb-item" id="item5" *ngIf="page_flag5">
            <div class="content">
               <div class="scroller row" *ngIf="page_flag5_data">
                  <div class="col-lg-6 col-md-6">
                     <div class="row">
                        <div class="col-lg-6 col-md-6">

                           <ng-container *ngIf="page_flag5_data.link1 == ''">
                              <img [src]="allowurl(sharedService.imageBase+page_flag5_data.image1)"
                                 onError="this.src='assets/images/no.jpg'" class="tab-img tab-img1">
                           </ng-container>
                           <ng-container *ngIf="page_flag5_data.link1 != ''">
                              <a (click)="onShowVideo(page_flag5_data.link1)">
                                 <img [src]="allowurl(sharedService.imageBase+page_flag5_data.image1)"
                                    onError="this.src='assets/images/no.jpg'" class="tab-img tab-img1">
                              </a>
                           </ng-container>


                        </div>
                        <div class="col-lg-6 col-md-6">
                           <div class="row">
                              <div class="col-lg-12">

                                 <ng-container *ngIf="page_flag5_data.link2 == ''">
                                    <img [src]="allowurl(sharedService.imageBase+page_flag5_data.image2)"
                                       onError="this.src='assets/images/no.jpg'" class="h-280">
                                 </ng-container>
                                 <ng-container *ngIf="page_flag5_data.link2 != ''">
                                    <a (click)="onShowVideo(page_flag5_data.link2)">
                                       <img [src]="allowurl(sharedService.imageBase+page_flag5_data.image2)"
                                          onError="this.src='assets/images/no.jpg'" class="h-280">
                                    </a>
                                 </ng-container>


                              </div>
                              <div class="col-lg-12 mt-4">
                                 <div class="h-190">
                                    <p>{{page_flag5_data.description.slice(0, 500)}}
                                    </p>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-6 col-md-6">

                     <ng-container *ngIf="page_flag5_data.link3 == ''">
                        <img [src]="allowurl(sharedService.imageBase+page_flag5_data.image3)"
                           onError="this.src='assets/images/no.jpg'" class="tab-img tab-img1">
                     </ng-container>
                     <ng-container *ngIf="page_flag5_data.link3 != ''">
                        <a (click)="onShowVideo(page_flag5_data.link3)">
                           <img [src]="allowurl(sharedService.imageBase+page_flag5_data.image3)"
                              onError="this.src='assets/images/no.jpg'" class="tab-img tab-img1">
                        </a>
                     </ng-container>

                     <a data-toggle="modal" data-target="#reach" class="reachOutBtnn btn-reach-pos"
                        (click)="onReachOut()" href="javascript:void(0);" title="Submit Query">Reach out</a>
                  </div>
               </div>
            </div>
         </div>
         <div class="bb-item" id="item6" *ngIf="page_flag6">
            <div class="content">
               <div class="scroller row" *ngIf="page_flag6_data">
                  <div class="col-lg-6 col-md-6">
                     <div class="row">
                        <div class="col-lg-6 col-md-6">

                           <ng-container *ngIf="page_flag6_data.link1 == ''">
                              <img [src]="allowurl(sharedService.imageBase+page_flag6_data.image1)"
                                 onError="this.src='assets/images/no.jpg'" class="tab-img1">
                           </ng-container>
                           <ng-container *ngIf="page_flag6_data.link1 != ''">
                              <a (click)="onShowVideo(page_flag6_data.link1)">
                                 <img [src]="allowurl(sharedService.imageBase+page_flag6_data.image1)"
                                    onError="this.src='assets/images/no.jpg'" class="tab-img1">
                              </a>
                           </ng-container>

                        </div>
                        <div class="col-lg-6 pt-5 col-md-6">
                           <h3 class="aboutTitle mt-25">{{page_flag6_data.lable_text}}</h3>
                           <p class="mobileText1" style="height: 200px;overflow: hidden;">
                              {{page_flag6_data.description.slice(0, 500)}}
                           </p>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-6 col-md-6">
                     <div class="row">
                        <div class="col-lg-6 pr-3 col-md-6">

                           <ng-container *ngIf="page_flag6_data.link2 == ''">
                              <img [src]="allowurl(sharedService.imageBase+page_flag6_data.image2)"
                                 onError="this.src='assets/images/no.jpg'" class="tab-img1">
                           </ng-container>
                           <ng-container *ngIf="page_flag6_data.link2 != ''">
                              <a (click)="onShowVideo(page_flag6_data.link2)">
                                 <img [src]="allowurl(sharedService.imageBase+page_flag6_data.image2)"
                                    onError="this.src='assets/images/no.jpg'" class="h-495">
                              </a>
                           </ng-container>

                        </div>
                        <div class="col-lg-6 pl-3 col-md-6">

                           <ng-container *ngIf="page_flag6_data.link3 == ''">
                              <img [src]="allowurl(sharedService.imageBase+page_flag6_data.image3)"
                                 onError="this.src='assets/images/no.jpg'" class="tab-img1">
                           </ng-container>
                           <ng-container *ngIf="page_flag6_data.link3 != ''">
                              <a (click)="onShowVideo(page_flag6_data.link3)">
                                 <img [src]="allowurl(sharedService.imageBase+page_flag6_data.image3)"
                                    onError="this.src='assets/images/no.jpg'" class="tab-img1">
                              </a>
                           </ng-container>

                        </div>
                     </div>
                     <a data-toggle="modal" data-target="#reach" class="reachOutBtnn btn-reach-pos"
                        (click)="onReachOut()" href="javascript:void(0);" title="Submit Query">Reach out</a>
                  </div>
               </div>
            </div>
         </div>
         <div class="bb-item" id="item7" *ngIf="page_flag7">
            <div class="content">
               <div class="scroller row" *ngIf="page_flag7_data">
                  <div class="col-lg-6 col-md-6">
                     <div class="row">
                        <div class="col-lg-12">
                           <div class="h-190-2">
                              <p class="mobileText mobileText1 text2M">
                                 {{page_flag7_data.description.slice(0, 500)}}
                              </p>
                           </div>
                        </div>
                        <div class="col-lg-12">

                           <ng-container *ngIf="page_flag7_data.link1 == ''">
                              <img [src]="allowurl(sharedService.imageBase+page_flag7_data.image1)"
                                 onError="this.src='assets/images/no.jpg'" class=" h-280-2">
                           </ng-container>
                           <ng-container *ngIf="page_flag7_data.link1 != ''">
                              <a (click)="onShowVideo(page_flag7_data.link1)">
                                 <img [src]="allowurl(sharedService.imageBase+page_flag7_data.image1)"
                                    onError="this.src='assets/images/no.jpg'" class="h-280-2">
                              </a>
                           </ng-container>


                        </div>
                     </div>
                  </div>
                  <div class="col-lg-6 col-md-6">

                     <ng-container *ngIf="page_flag7_data.link2 == ''">
                        <img [src]="allowurl(sharedService.imageBase+page_flag7_data.image2)"
                           onError="this.src='assets/images/no.jpg'" class="h-495 tab-img1">
                     </ng-container>
                     <ng-container *ngIf="page_flag7_data.link2 != ''">
                        <a (click)="onShowVideo(page_flag7_data.link2)">
                           <img [src]="allowurl(sharedService.imageBase+page_flag7_data.image2)"
                              onError="this.src='assets/images/no.jpg'" class="tab-img1">
                        </a>
                     </ng-container>

                     <a data-toggle="modal" data-target="#reach" class="reachOutBtnn btn-reach-pos"
                        (click)="onReachOut()" href="javascript:void(0);" title="Submit Query">Reach out</a>
                  </div>
               </div>
            </div>
         </div>
         <div class="bb-item" id="item8" *ngIf="page_flag8">
            <div class="content">
               <div class="scroller row" *ngIf="page_flag8_data">
                  <div class="col-lg-6 col-md-6">
                     <div class="row">
                        <div class="col-lg-6 col-md-6">

                           <ng-container *ngIf="page_flag8_data.link1 == ''">
                              <img [src]="allowurl(sharedService.imageBase+page_flag8_data.image1)"
                                 onError="this.src='assets/images/no.jpg'" class="tab-img1">
                           </ng-container>
                           <ng-container *ngIf="page_flag8_data.link1 != ''">
                              <a (click)="onShowVideo(page_flag8_data.link1)">
                                 <img [src]="allowurl(sharedService.imageBase+page_flag8_data.image1)"
                                    onError="this.src='assets/images/no.jpg'" class="tab-img1">
                              </a>
                           </ng-container>

                        </div>
                        <div class="col-lg-6 col-md-6">
                           <p class="mobileText mobileText1">
                              {{page_flag7_data.description.slice(0, 1100)}}
                           </p>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-6 col-md-6">

                     <ng-container *ngIf="page_flag8_data.link2 == ''">
                        <img [src]="allowurl(sharedService.imageBase+page_flag8_data.image2)"
                           onError="this.src='assets/images/no.jpg'" class="tab-img1">
                     </ng-container>
                     <ng-container *ngIf="page_flag8_data.link2 != ''">
                        <a (click)="onShowVideo(page_flag8_data.link2)">
                           <img [src]="allowurl(sharedService.imageBase+page_flag8_data.image2)"
                              onError="this.src='assets/images/no.jpg'" class="tab-img1">
                        </a>
                     </ng-container>




                     <a data-toggle="modal" data-target="#reach" class="reachOutBtnn btn-reach-pos"
                        (click)="onReachOut()" href="javascript:void(0);" title="Submit Query">Reach out</a>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <nav>
         <span id="bb-nav-prev" title="Previous">&larr;</span>
         <span id="bb-nav-next" title="Next">&rarr;</span>
      </nav>
      <nav class="upDownArrow">
         <ng-container *ngIf="UpArrow">
            <span id="bb-nav-prev1" title="Move to previous vendor"
               (click)="showPreviousPortfolioVendor()">&larr;</span>
         </ng-container>

         <ng-container *ngIf="DownArrow">
            <span id="bb-nav-next1" title="Move to next vendor" (click)="showNextPortfolioVendor()">&rarr;</span>
         </ng-container>

      </nav>
   </div>
   <!-- Banner END here-->
   <!--Modal Popup-------->

   <app-review-popup [childMessage]="portfolioDetails" *ngIf="showReviewPopup"></app-review-popup>
</div>




<!-- Video Box -->
<div class="modal" tabindex="-1" role="dialog" id="video">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title">Video</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <iframe height="315" [src]="Video_Link" frameborder="0" allowfullscreen style="    width: 100%;"></iframe>
            <!-- <video [src]="Video_Link" height="200" controls autoplay style="width: 100%;height: 250px;"></video> -->
         </div>
      </div>
   </div>
</div>