.desc{
    text-overflow: ellipsis;
    overflow: hidden;
    height: 116px;
    --max-lines: 3;
    text-align: left;
    display: block;
}
.fav {
    background-position: left;
    background-repeat: no-repeat;
    cursor: pointer;
    display: inline-block;
  }
  .fav :hover {
    background-position: right;
  }
  .fav-star {
    background-image: url('https://cssanimation.rocks/images/posts/steps/twitter_fave.png');
    height: 45px;
    width: 64px;
    background-position: right;
    animation: zoetrope 1s steps(55) 1;
  }
  .fav-star-default {
    background-image: url('https://cssanimation.rocks/images/posts/steps/twitter_fave.png');
    height: 45px;
    width: 64px;
    background-position: left;
  }
  
  @keyframes zoetrope {
    from {
      background-position: left;
    }
    to {
      background-position: right;
    }
  }
  
  .wrapper {
    display: flex;
  }
  .item {
    position: absolute;
    top: 83%;
    left: 0;
    display: flex;
  }
  
  .halfstar1 {
    position: absolute;
    top: -6px;
    right: 15px;
    width: 34px;
    font-size: 40px;
    color: #666;
    overflow: hidden;
    z-index: 1;
  }
  
  .halfstar2 {
    position: absolute;
    top: -6px;
    right: 32px;
    width: 17px;
    font-size: 40px;
    color: rgb(252, 173, 3);
    overflow: hidden;
    z-index: 2;
  }
  