<div class="modal popup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered cutome_login" role="document" style="    position: absolute;
    margin-top: 6%;
    width: 100%;
    margin-left: 31%;">
        <div class="modal-content">
            <div class="modal-header border-bottom-0">
                <h5 class="modal-title col-lg-11">Vendor Signup</h5>
                <!-- <div class="col-12">
                    <div class="radio">
                        <label><input type="radio" name="optradio" checked>Option 1</label>
                      </div>
                      <div class="radio">
                        <label><input type="radio" name="optradio">Option 2</label>
                      </div>
                </div> -->
                
                <button (click)="closeSignupmodel()" type="reset" class="close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form>
                <div class="modal-body">
                    <div class="mx-auto">
                        <div id="first">
                            <div class="myform form ">
                                <div [formGroup]="signupForm" name="registration">
                                    <div class="form-group myForm">
                                        <input type="text" formControlName="company_name" name="firstname" required
                                            class="form-control" id="firstname" aria-describedby="emailHelp"
                                            placeholder="Enter Company name">
                                        <span class="error-red"
                                            *ngIf="s.company_name.errors?.required && signupSubmitted">Company name is
                                            required</span>
                                    </div>
                                    <div class="form-group myForm">
                                        <input type="text" formControlName="poc_name" name="lastname" required
                                            class="form-control" id="lastname" aria-describedby="emailHelp"
                                            placeholder="Enter Name">
                                        <span class="error-red"
                                            *ngIf="s.poc_name.errors?.required && signupSubmitted">Name is
                                            required</span>
                                    </div>
                                    <div class="form-group myForm">
                                        <input type="text" formControlName="poc_title" name="position" required
                                            class="form-control" id="position" aria-describedby="emailHelp"
                                            placeholder="Enter Title/Postion">
                                        <span class="error-red"
                                            *ngIf="s.poc_title.errors?.required && signupSubmitted">Title/Postion is
                                            required</span>
                                    </div>
                                    <div class="form-group myForm">
                                        <input formControlName="poc_email" type="email" name="email" required
                                            class="form-control" id="email" aria-describedby="emailHelp"
                                            placeholder="Email">
                                        <span class="error-red"
                                            *ngIf="s.poc_email.errors?.required && signupSubmitted">Email is required</span>
                                        <span class="error-red" *ngIf="s.poc_email.errors?.duplicateEmail">Email is already
                                            exist</span>
                                        <span class="error-red"
                                            *ngIf="s.poc_email.errors?.email || s.poc_email.errors?.pattern">Enter a valid
                                            email</span>
                                    </div>
                                    <div class="form-group myForm">
                                        <input formControlName="password" type="password" name="password" required
                                            maxlength="30" minlength="8" id="password" class="form-control"
                                            aria-describedby="emailHelp" placeholder="Password">
                                        <span class="error-red"
                                            *ngIf="s.password.errors?.required && signupSubmitted">Password is
                                            required</span>
                                        <span class="error-red" *ngIf="s.password.errors?.minlength">Password must be at
                                            least 8 characters</span>
                                        <span class="error-red" *ngIf="s.password.errors?.maxlength">Password should not
                                            be greater then 30 characters</span>
                                    </div>
                                    <div class="form-group myForm">
                                        <input type="text" formControlName="poc_number" name="mobile" required
                                            class="form-control" id="mobile" aria-describedby="emailHelp"
                                            placeholder="Mobile number">
                                        <span class="error-red"
                                            *ngIf="s.poc_number.errors?.required && signupSubmitted">Mobile number is
                                            required</span>
                                        <span class="error-red" *ngIf="s.poc_number.errors?.pattern">Please enter a 10 digit
                                            mobile number</span>
                                    </div>
                                    <div class="col-md-12 text-center mb-3">
                                        <button (click)="signupSubmit()" type="button" class="mybtn tx-tfm">
                                            Get Started For Free</button>
                                    </div>
                                    <div class="col-md-12 ">
                                        <div class="form-group">
                                            <p class="text-center"><a [routerLink]="['/vendor-login']" id="signin">Already
                                                    have an vendor account?</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>