@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

html { height: 100%; }



body {

	height: 100%;
    /* overflow-y: hidden; */
}



a {
	color: #555;
	text-decoration: none;
	outline: none;
}

a:hover {
	color: #000;
}

.bb-custom-wrapper,
.bb-bookblock {
	/* width: 100%;
	height: 100%; */
    width: 100%;
    height: 545px;
}

.container {
	position: relative;
	left: 0px;
	-webkit-transition: left 0.3s ease-in-out;
	-o-transition: left 0.3s ease-in-out;
	transition: left 0.3s ease-in-out;
}

.slideRight {
	left: 240px;
}

.no-js .container {
	padding-left: 240px;
}


.bb-custom-wrapper nav {
    top: 35%;
    left: 0;
    position: absolute;
    z-index: 0;
}
span#bb-nav-prev {
    left: -65px;
}

.bb-custom-wrapper nav span,
.menu-button {
	position: absolute;
	
	top: 0;
	/* left: 0; */
    left: -20px;
	background: #f1103a;
	border-radius: 50%;
	color: #fff;
	line-height: 30px;
	text-align: center;
	speak: none;
	font-weight: bold;
	cursor: pointer;
}

.bb-custom-wrapper nav span:hover,
.menu-button:hover {
	background: #000;
}

.bb-custom-wrapper nav span:last-child {
    left: 1170px;
    
}
span#bb-nav-next
{
	background: url(../img/svg/arrow_right.svg);
    background-size: 100%;
    background-color: #f7f7f7;
    background-size: 100%;
    width: 45px;
    height: 45px;
    font-size: 0;
}
span#bb-nav-prev
{
	background: url(../img/svg/arrow_left.svg);
    background-size: 100%;
    background-color: #f7f7f7;
    background-size: 100%;
    width: 45px;
    height: 45px;
    font-size: 0;
}
.menu-button {
	z-index: 1000;
	left: 20px;
	top: 20px;
	text-indent: -9000px;
}

.menu-button:after {
	position: absolute;
	content: '';
	width: 50%;
	height: 2px;
	background: #fff;
	top: 50%;
	margin-top: -1px;
	left: 25%;
	box-shadow: 0 -4px #fff, 0 4px #fff;
}
.scroller.row .col-lg-6.col-md-6 p a.reviewText
{
    color: #0275d8;
    text-decoration: underline;
}

.no-js .bb-custom-wrapper nav span,
.no-js .menu-button {
	display: none;
}

.js .content {
	position: absolute;
	/* top: 60px; */
	top: 0px;
	left: 0;
	width: 100%;
	bottom: 0px;
	overflow: hidden;
	-webkit-font-smoothing: subpixel-antialiased;
}

.scroller {
	/* padding: 10px 1% 10px 1%;
    max-height: 72vh;
    overflow: auto; */
    padding: 10px 1% 10px 1%;
}

.js .content:before,
.js .content:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 20px;
	z-index: 100;
	pointer-events: none;
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
}

.js .content:after {
	top: auto;
	bottom: 0;
	background: -webkit-linear-gradient(bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
	background: -moz-linear-gradient(bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
	background: -o-linear-gradient(bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
	background: linear-gradient(to top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
}

.content h2 {
	font-weight: 300;
	font-size: 4em;
	padding: 0 0 10px;
	color: #333;
	margin: 0 1% 40px;
	text-align: left;

	text-shadow: 0 0 2px #fff;
}

.no-js .content h2 {
	padding: 40px 1% 20px;
}

.content p {
	line-height: 1.45;
    font-weight: 300;
    padding: 5px 0%;
    
}

section.header {
    height: 80px;
}
.scroller h3 {
        color: var(--main-color);
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 500;
    /* padding-top: 135px; */
    padding-top: 100px;
}
.scroller p {
    font-size: 13px;
}
.scroller p span
{
  color: var(--main-color);
}
p.chev-down {
    font-size: 28px;
    text-align: center;
}


.header .navbar .nav-item .nav-link .fa {
    padding-left: 3px;
    padding-right: 3px;
    font-size: 18px;
    color: #787877;
}

.header a.nav-link.waves-effect.waves-light.subscribeBtn {
    color: #ff0000 !important;
    border: 1.1px solid #ff0000;
    border-radius: 10px;
    padding: 1px 10px;
    margin-top: 5px;
    text-transform: capitalize;
}

.book-small-img {
    position: absolute;
    top: 0;
    display: grid;
}
.book-small-img img
{
	/* width: 110px;
	margin-top: 40px;
	margin-left: 30px; */
    width: 110px;
    margin-top: 22px;
    margin-left: 30px;
}
.compnyLogo {
    /* position: absolute;
    right: 44%;
    bottom: 35px; */
    position: absolute;
    right: 42%;
    bottom: 60px;
}
.compnyLogo img
{
	width: 90px;
}

.compnyLogo1
{
	text-align: right;
}
.compnyLogo1 img
{
	width: 105px;
}

.reachOutBtnn
{
	color: #4ba92a;
    text-transform: uppercase;
    margin-left: 50px;
    border: 1px solid #ddd;
    padding: 2px 12px;
    font-size: 13px;
    border-radius: 7px;
    font-weight: 600;    float: right;
}

.black-img
{
	width:100%;height: 521.14px;
}
.book-page-2
{
	    padding-top: 70px;
}
.book-page2
{
	position: absolute;
    right: 15px;
    bottom: 0;
}



.book-small-img1 {
       position: absolute;
    top: 55%;
    display: grid;
    left: 50%;
    transform: translate(-50%, -40%);
}

.book-small-img1 img {
    width: 100%;
    margin-top: 0;
    margin-left: 0;
}


.compnyLogoText {
    position: absolute;
    right: 50px;
    bottom: 20px;
}
.compnyLogoText h5, h6
{
	color: #fff;
    text-transform: uppercase;
}

.compnyLogoText h6
{
	color: #989898;
    text-transform: capitalize;
    text-align: right;
}

.book-page-4
{
	display: flex;
    flex-direction: column-reverse;
    margin-bottom: 5px;
}
.reachOutBtnn1 {
    color: #4ba92a !important;
    text-transform: uppercase;
    margin-left: 50px;
    border: 1px solid #ddd;
    padding: 2px 12px;
    font-size: 12px;
    border-radius: 6px;
    font-weight: 600;
    position: relative;
    top: -25px;
    float: right;
    right: 20px;
    background: #fff;
    padding-bottom: 0;
}
.h-495
{
	height: 495px;width: 100%;
}


.reachOutBtnn2 {
    color: #4ba92a;
    text-transform: uppercase;
    margin-left: 0;
    border: 1px solid #ddd;
    padding: 2px 12px;
    font-size: 12px;
    border-radius: 6px;
    font-weight: 600;
    position: relative;
    top: -25px;
    float: right;
    right: 15px;
    background: #fff;
    padding-bottom: 0;
}
.h-248
{
	height: 248px;
    width: 100%;
}
.review_popUp .modal-backdrop {
    background-color: unset;
    backdrop-filter: blur(4px) !important;
}
.popupRating
{
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 8px;
}
.popupRating .fa-star
{
color: #009f3c;
font-weight: 600;
}

.ratingTextPop
{
color: #737373;
font-size: 14px;
padding-left: 10px;
}

.review_popUp .modal-body ::placeholder
{
	font-size: 14px;
	font-style: italic;
	
}


.review_popUp .form-control {
    border: 1.5px solid #c4bfbf;
    border-radius: .50rem !important;
    padding-left: 20px;
}

.okbtnReview {
      position: absolute;
    right: 5px;
    bottom: 5px;
    border: 1.2px solid #c4bfbf;
    padding: 2px 10px 0;
    font-size: 12px;
    text-transform: uppercase;
    border-radius: 15px;
}


.cutome_login.review_popUp .modal-title {
    margin-bottom: 0;
    line-height: 1.5;
    text-align: left;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 800;
    position: relative;
    left: 0;
    padding-left: 0;
}

.cutome_login.review_popUp .modal-title {
   
    color: #595959;padding-left: 3rem;
}
.popUpTextArea {
    position: relative;
}


.cutome_login.review_popUp .modal-body p {
    font-size: 13px;
}
a.helpFul {
    border: 1.2px solid #c4c4c4;
    padding: 2px 25px;
    background: #ebebeb;
}
.modal-dialog .modal-content.reviewRatingPopUp {
    border-radius: 0;
    border: 1px solid #333;
    min-height: 420px;
    max-height: 600px;
    overflow-y: scroll;
}
p.colorR.mb-2 {
    color: var(--main-color);
}
.modal-content.reviewRatingPopUp .modal-body {
    
    padding: 0rem 4rem;
    
}

.bb-custom-wrapper nav.upDownArrow {
    top: auto;
    left: auto;
    position: absolute;
    z-index: 0;
    transform: rotate( 
90deg
 );
    right: 0px;
    bottom: 0;
    width: 45px;
    height: 30px;
}
span#bb-nav-prev1 {
    /* background: url(../img/prev-a.png); */
    background-image: url(../img/svg/arrow_left.svg);
    background-size: 100%;
    background-color: #f7f7f7;
    width: 25px;
    height: 25px;
    font-size: 0;
    left: -20px;
}

span#bb-nav-next1 {
    /* background: url(../img/next-a.png); */
    /* background: url(../img/next-a.png); */
    background-color: #f7f7f7;
    background-image: url(../img/svg/arrow_right.svg);
    background-size: 100%;
    width: 25px;
    height: 25px;
    font-size: 0;
    bottom: 0;
    right: 0;
    left: 20px;
}







@media screen and (max-width: 800px){
	.no-js .menu-panel {
		display: none;
	}

	.no-js .container {
		padding: 0;
	}
}

@media screen and (max-width: 400px){
	.menu-panel,
	.content {
		font-size: 75%;
	}
}




@media screen and (min-width: 360px) and (max-width: 374px){
    .bb-custom-wrapper nav span:last-child {
    left: 322px;
}
}

@media screen and (min-width: 375px) and (max-width: 410px){
    .bb-custom-wrapper nav span:last-child {
    left: 337px;
}
}
@media screen and (min-width: 411px) and (max-width: 413px){
    .bb-custom-wrapper nav span:last-child {
    left: 375px;
}
}
@media screen and (min-width: 414px) and (max-width: 420px){
    .bb-custom-wrapper nav span:last-child {
    left: 377px;
}
}


@media screen and (min-width: 768px) and (max-width: 1023px){

    :root { font-size: 14px;}
 
.scroller h3 {
    color: var(--main-color);
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 500;
    padding-top: 0;
}
.bb-custom-wrapper nav span:last-child {
    left: 700px;
}
.tab-img
{
    height: 480px;
    object-fit: cover;
}
.compnyLogo {
    position: absolute;
    right: 32%;
    bottom: 20px;
}

.book-small-img img {
    width: 110px;
    margin-top: 40px;
    margin-left: 15px;
}
span#bb-nav-prev {
    left: -15px;
}
.book-page-2 {
    padding-top: 0;
}
.black-img {
    width: 100%;
    height: 480px;
}
.book-page-4 {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}
.scroller p.mobileText {
    font-size: 13px;
    height: 480px;
    overflow: scroll;
}
.pt-5, .py-5 {
    padding-top: 0 !important;
}
.scroller p.mobileText1 {
    font-size: 13px;
    height: 230px;
    overflow: scroll;
}
span#bb-nav-next1 {
   
    left: 58vh;
}



}



@media screen and (min-width: 1024px) and (max-width: 1280px){

.bb-custom-wrapper nav span:last-child {
    left: 940px;
}

.bb-custom-wrapper nav {
    top: 18%;
    left: 0;
    position: absolute;
    z-index: 0;
}
.scroller h3 {
    color: var(--main-color);
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 500;
    padding-top: 0;
}

span#bb-nav-next1 {
    background: url(../img/svg/arrow_right.svg);
    background-size: 100%;
    width: 35px;
    height: 60px;
    font-size: 0;
    bottom: 0;
    left: 46vh;
}
.tab-img1 {
    height: 525px;    object-fit: cover;
}
.mobileText1
{
    height: 512px;overflow: scroll;
}
span#bb-nav-prev {
    left: -20px;
}
.text2M {
    height: 230px; overflow-y: scroll;
}
.header .navbar.navbar-dark .breadcrumb .nav-item .nav-link, .header .navbar.navbar-dark .navbar-nav .nav-item .nav-link {
    color: var(--second-color);
    -webkit-transition: .35s;
    transition: .35s;
    font-size: 8px;
    padding-top: 5px;
}



    }

    /********BY RAJESH ******/

    .h-190 { height: 133px; width: 100%;}
    .h-280 {  width: 100%;}

    
    

.custom-container {  margin: 0 auto; position: relative;}
.mt-34 { margin-top: 34%;}
.mt-25 { margin-top: 25%;}

.mobileText { height: 470px; overflow: hidden;}


@media screen and (max-width: 1920px) {

    :root { font-size: 18px;}

    .home-scroller-section .carousel-item { height: 450px;}
    #carouselExampleControls2 .carousel-item { height: 450px;}
    .main-banner-wrap .carousel-item {
        height: 420px;
    }
    
    /* .home-scroller-section .carousel-item {
        height: 506px;
    }
    #carouselExampleControls2 .carousel-item { height: 600px;}
    .main-banner-wrap .carousel-item {
        height: 600px;
    } */
    .custom-container { width: 90%;}
    .bb-custom-wrapper nav { width: 100%;}
    span#bb-nav-next { left: auto; right: -4%}
    .tab-img1 { height: 550px; width: 100%;}
    

    .t-41 { top: 36%}
    .h-280 { height: 360px}
    .bb-custom-wrapper nav.upDownArrow { right: -29px;}
    .btn-reach-pos {position: absolute !important; top: 86%; right: 6% !important; text-align: center;}

    .h-190-2 {width: 100%; height: 150px}
    .h-280-2 { width: 100%; height: 400px}

   

}

@media screen and (max-width: 1400px) { 

    :root { font-size: 16px;}
    


    .tab-img1 { height: 470px; width: 100%;}
.custom-container { width: 85%;}
.btn-reach-pos {position: absolute !important; top: 87%;  right: 6% !important; text-align: center}

span#bb-nav-next { left: auto; right: -7%}
.h-280 { height: 317px}

.t-41 { top: 45%}

.h-190-2 {width: 100%; height: 165px}
.h-280-2 { width: 100%; height: 300px}

}

@media screen and (max-width: 900px){

    .home-scroller-section .carousel-item,
    #carouselExampleControls2 .carousel-item
    {
        height: auto;
    }

    .home-scroller-section .carousel-control-prev,
.home-scroller-section .carousel-control-next
 { display: none;}

 .CategorySec .categoary-box { height: auto;}

}


@media screen and (max-width: 767px){

    .container { max-width: 100%;}

    :root
{

    font-size: 14px;
}


.main-banner-wrap h1,
.categoary-box-hover:hover p
{ line-height: normal;}

/* #carouselExampleControls2 .carousel-item { height: 850px;}*/
.main-banner-wrap .carousel-item {
    height: 507px;
} 

.remove-flex-in-mobile { display: block !important;}
.main-logo { float: left;}
button.navbar-toggler, .search-wrap-mobile { float: right; margin-top: 5px;}
.header .navbar.navbar-dark .search-wrap-mobile { position: relative; display: inline-block;}
.header .navbar.navbar-dark .search-wrap-mobile span { position: absolute; right: 10px; border: none; background: none;}
.header .navbar.navbar-dark .search-wrap-mobile form input[type=text] { width: 40px; padding: 6px; border: none; background: none; position: relative; z-index: 5;}
.header .navbar.navbar-dark .search-wrap-mobile form input[type=text]:focus { width: 212px; border: 1px solid rgba(85,85,113,0.36); background: inherit;}




.main-banner-wrap h1 { text-align: center; font-size: 2.1rem;}
.main-banner-wrap h1 + span { text-align: center;}
.main-banner-wrap a.button {     display: block; width: 100%; text-align: center; margin-bottom: 0px; text-transform: uppercase;}
.main-banner-wrap .mobile-height { height: 210px; position: relative;}
.main-banner-wrap .mobile-height .btn-wrap { position: absolute; bottom: 0; left: 0; right: 0; width: 89%; margin: auto;}
.section-commen h5 br
{ display: none;}

.main-logo { width: 74px;}




    .mobileText { height: auto;}
	.js .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    bottom: 50px;
    overflow: hidden;
    -webkit-font-smoothing: subpixel-antialiased;
}
.book-small-img img {
    width: 70px;
    margin-top: 24px;
    margin-left: 10px;
}
.compnyLogo img {
    width: 60px;
}
.compnyLogo {
    position: absolute;
    right: 44%;
    bottom: 10px;
}
.scroller h3 {
    color: var(--main-color);
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 500;
    padding-top: 0;
}
.compnyLogo1 {
    text-align: right;
    padding-top: 20px;
}
.bb-custom-wrapper nav span:last-child {
    left: 282px;
}
span#bb-nav-next {
    background: url(../img/svg/arrow_right.svg);
    background-size: 90%;
    width: 30px;
    height: 50px;
    font-size: 0;
}
span#bb-nav-prev {
    left: 10px;
}
span#bb-nav-prev {
     background-size: 97%;
    width: 30px;
    height: 50px;
    font-size: 0;
}
.reachOutBtnn {
    color: #4ba92a;
    text-transform: uppercase;
    margin-left: 0;
    border: 1px solid #ddd;
    padding: 2px 12px !important;
    font-size: 13px;
    border-radius: 7px;
    font-weight: 600;
    position: absolute;
    margin-right: 10px;
}
.black-img {
    width: 100%;
    height: 370px;
}
.book-small-img1 img {
    width: 75%;
    margin-top: 0;
    margin-left: 0;
}

.book-small-img1 {
    position: absolute;
    top: 43%;
    display: grid;
    left: 54%;
    transform: translate(-50%, -40%);
}
.book-page-2 {
    padding-top: 20px;
}
.h-495 {
    height: auto;
    width: 100%;
    margin-bottom: 15px;
}
.scroller.row .col-lg-6 .row .col-lg-12 img
{
	width: 100%;
}
.reachOutBtnn2 {
    color: #4ba92a;
    text-transform: uppercase;
    margin-left: 0;
    border: 1px solid #ddd;
    padding: 2px 12px;
    font-size: 12px;
    border-radius: 6px;
    font-weight: 600;
    position: relative;
    top: -42px;
    float: right;
    right: 15px;
    background: #fff;
    padding-bottom: 0;
}
.bb-custom-wrapper nav.upDownArrow {
    left: 0;
    right: 0;
    position: absolute;
    z-index: 0;
    transform: rotate(90deg);
    bottom: 0;
    margin: auto;
}
span#bb-nav-next1 {
    background: url(../img/svg/arrow_right.svg);
    background-size: 100%;
    width: 35px;
    height: 60px;
    font-size: 0;
    bottom: 0;
    left: 83vh;
}
span#bb-nav-next1 {
    background: url(../img/svg/arrow_right.svg);
    background-size: 90%;
    width: 30px;
    height: 50px;
    font-size: 0;
}
span#bb-nav-prev1 {
    background-size: 97%;
    width: 30px;
    height: 50px;
    font-size: 0;
}
body {
    height: 100%;
    overflow-y: visible;
}
.modal-content.reviewRatingPopUp .modal-body {
    padding: 0rem 1rem;
}

.modal-dialog {
    max-width: 100%;
    margin: 1.75rem 15px;
    height: auto;
}
.review_popUp .form-control {
    border: 1.5px solid #c4bfbf;
    border-radius: .50rem !important;
    padding-left: 20px;
}
.media img{width: 30px !important;}
.cutome_login.review_popUp .modal-body p {
    font-size: 12px;
}
.m-3 {
    margin: 0rem!important;
}
.cutome_login.review_popUp .modal-title {
    margin-bottom: 0;
    line-height: 1.5;
    text-align: left;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 800;
    position: relative;
    left: 0;
    padding-left: 0;
}
.cutome_login.review_popUp .modal-title {
    color: #595959;
    padding-left: 0rem;
}




}



@media screen and (max-width: 769px) {

    .custom-container { width: 98%;}
    .mt-34 { margin-top: 4%;}
    .mt-25 { margin-top: 0%;}
    .navbar.navbar-dark .navbar-toggler-icon {
        background-image: url(../image/menu.png);
        cursor: pointer;    background-size: contain;
    }

    .bb-custom-wrapper nav { display: block; width: 100%; top: 49%;}
    span#bb-nav-next {
        background: url(../img/svg/arrow_right.svg);
        background-size: 100%;
        width: 30px;
        height: 30px;
        font-size: 0;
        border: solid 1px #c9c9c9;
        background-color: #f7f7f7;
        left: auto;
        right: 0;
    }

    span#bb-nav-prev {
        background-size: 97%;
        width: 30px;
        height: 30px;
        font-size: 0;
        border: solid 1px #c9c9c9
    }


    span#bb-nav-next1 {  
        background-size: 100%;
        width: 30px;
        height: 30px;
        font-size: 0;
        border: solid 1px #c9c9c9;
        background-color: #f7f7f7;
        left: auto;
    }

    span#bb-nav-prev1 {
        background-size: 97%;
        width: 30px;
        height: 30px;
        font-size: 0;
        border: solid 1px #c9c9c9
    }
}

