
:root
{
    --main-color:#eb8f8f;
    --second-color:#3d3d53;
}
/* @font-face {
  font-family: future;
  src: url(../FUTURASTD-BOOK.OTF);
} */

body
{
  font-family: future;

}
.bg-grey {
    border: 1px solid #3d3d53;
    background: #fff !important;
    /* height: 300px; */    height: 170px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
     transition: .5s all;
     cursor: pointer;
     text-align: center;
}
.pd-b-5 { padding-bottom: 0.5%;}
.row.no-gutter.border.text-center { height: 528px; overflow: auto;}

.bg-grey:hover
{
    filter: grayscale(0%);
    background: #ffe4e1 !important;
    transition: .5s all;
}
.bg-grey.active
{
    filter: grayscale(0%);
    background: #828b94;
    transition: .5s all;
}


section.typology {
    margin-left: 45px;
}

.clac-left-sec h4 {
    color: #3d3d53;
    font-size: 18px;
    padding-top: 15px;transition: .5s all;
}
.bg-grey:hover .clac-left-sec h4 {
    color: #08c18a;
    font-size: 32px;
    padding-top: 0px;
    transition: .5s all;
    letter-spacing: 10px;
    position: relative;
    bottom: 95px;
}
.bg-grey.active .clac-left-sec h4 {
    color: #fff;
}
.custom-width {width: 100%; margin: auto}
.custom-width .carousel-inner { max-width: 700px; margin: auto;}
.carousel-control-prev {
    left: 0;
}
.carousel-control-next {
    right: 0;
}
.carousel-control-next, .carousel-control-prev {opacity: 10.0; width: 10%;}
.bg-grey-lg {
    border: 1px solid #3d3d53;
    background: #ffefe2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: .5s all;
  cursor: pointer;
  padding: 40px 0;
}
.slider-new .carousel-control-next, .slider-new .carousel-control-prev { background-color: #f7f7f7;}
.carousel .carousel-control-prev-icon { background-image: url(../img/svg/arrow_left.svg)}
.carousel .carousel-control-next-icon { background-image: url(../img/svg/arrow_right.svg)}

.btn-select { float: right; color: #fff; background-color: rgba(108,117,125,.55); border-color: rgba(108,117,125,.58); padding: 5px 10px; border-radius: 5px;}
.btn-select:hover { background-color: #00eb9c; }

.custom-next, .custom-prev {
  background: none;
  opacity: 10.0;
  width: 10%;
}

.bg-grey-lg img {
  margin: 15px;
}

.bg-grey-lg h4 {
  color: #3d3d53;
  font-size: 28px;
  padding: 15px;
  transition: .5s all;
  letter-spacing: 12px;
}


.sliderTitle {
    font-size: 20px;
    font-weight: 600;
    color: var(-second-colo);
    text-transform: uppercase;
}
.bg-color{    background: var(--main-color);
    border: 1px solid #000;
    border-right: 0;
    border-left: 0;
    margin-left: -1px;}


.calc-search .form-control {
    display: block;
    width: 100%;
    height: 15px;
    padding: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #3d3d53;
    background-color: transparent;
    background-clip: padding-box;
    border: none;
    border-radius: 0;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    border-bottom: 1px solid #3d3d53;
}

.form-control:focus {
    
    box-shadow: none;
}

.typology .btn-secondary {
   
    background-color: #ececec;
    border-color: #000;
    border-radius: 0;
    color: #4ba92a;
    font-size: 14px;
    padding: 3px 35px;
    font-weight: 600;
    min-width: 121px;
}
.typology .btn-secondary:hover {
    color: #fff;
    background-color: #828b94;
    border-color: #545b62;
}
.close.position-absolute {
  color: #3d3d53;
  right: 10px;
  top: 3px;
}

.textMeseure .form-control {
    display: block;
    width: 89%;
    text-align: center;
    font-size: 30px;color: #4ba92a;
    font-weight: 800;
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
}




/* SLIDER-STYLES */

.slider-orange > .bar > span {
    transition: 0.3s;
    background: transparent!important;
}
.slider-orange > .bar-btn{
    background: #626060!important;
    border: 2px solid #626060 !important;
    transition: 0.3s;
}



.dot{
    width: 7px !important;
    height: 7px;
    background: #fff;
    display: block;
    position: absolute;
    border-radius: 125%;
    top: 2px;
}

.slider {
  display: inline-block;
  width: 96%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}
.slider > input {
  opacity: 0;
  width: 100%;
  height: 40px;
  position: relative;
  z-index: 5;
  -webkit-appearance: none;
}
.slider > input::-webkit-slider-thumb {
  -webkit-appearance: none;
  z-index: 100;
  position: relative;
  width: 50px;
  height: 30px;
  -webkit-border-radius: 10px;
  border-radius: 10px;;
}
.slider > span.slider-container {
  min-height: 40px;
  display: inline-block;
  position: absolute;
  top: 0;
  left: -8px;
  right: 46px;
  z-index: 3;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.slider > span.slider-container > span.bar {
    background-color: transparent;
    display: inline-block;
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    height: 20px;
    overflow: hidden;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 2px;
    top: 50%;
    transform: translateY(-50%);
    border: 1px solid;
}
.slider > span.slider-container > span.bar > span {
  background: #00965b;
  display: inline-block;
  float: left;
  height: 11px;
  width: 0%;
}

.slider > span.slider-container > span.bar-btn {
    display: inline-block;
    position: absolute;
    min-width: 0;
    max-width: 0;
    height: 38px;
    font-weight: bold;
    text-align: center;
    background: #00965b;
    left: 0;
    top: 50%;
    border-radius: 100px;
    border: 2px solid #dadada;
    z-index: 5;
    color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transform: translateY(-50%);
}

.slider > span.slider-container > span.bar-btn > span {
   display: none;
    position: absolute;
   
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.bgBlur
{
    filter: blur(3px);
}








/*Calc-2 css start here*/
.calc-2
{
    filter: grayscale(0);
}
.calc-2 img
{
    width: 145px;
}
.calc-2 .clac-left-sec h4 {
        color: #3d3d53;
    font-size: 18px;
    padding-top: 15px;
    transition: .5s all;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-left: 0;
    width: 100%;
    bottom: -15px;
}

.calc-2:hover .clac-left-sec h4 {
    color: #fff;
    font-size: 32px;
    padding-top: 0px;
    transition: .5s all;
    letter-spacing: 10px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-left: 0;
    width: 100%;
}

.calc-2 .clac-left-sec2 h4 {
    color: #3d3d53;
    font-size: 18px;
    padding-top: 15px;
    transition: .5s all;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-left: 0;
    width: 100%;
    top: 50%;
}

/* width */
.sliderTitle ::-webkit-scrollbar {
 width: 0;
    height: 4px;
}

/* Track */
.sliderTitle ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
.sliderTitle ::-webkit-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 10px;
}

/* Handle on hover */
.scroller-style ::-webkit-scrollbar-thumb:hover {
  background: #00aa73; 
}


/* width */
::-webkit-scrollbar {
 width: 4px;
   
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #00aa73; 
}



.h-170
{
    height: 170px;
}
.pr-50
{
    margin-right: 37px;    margin-left: -17px;
}

.calc-2 .clac-left-sec h4 {
    color: #3d3d53;
    font-size: 15px;}

.calc-2:hover .clac-left-sec h4 {
 
    color: #08c18a;
    font-size: 20px;
    padding-top: 0px;
    transition: .5s all;
    letter-spacing: 5px;
    position: absolute;
    left: 50%;
    bottom: 28%;
    transform: translate(-50%, 0);
    margin-left: 0;
    width: 100%;
}
.clac-3 img
{
    width: 165px;
    max-height: 156px;
}
a.getBtnCalcPage {
    color: #08c18a;
    font-size: 20px;
    padding: 10px 35px;
    font-weight: 600;
    letter-spacing: 3px;
    border: 1.5px solid #3d3d53;
    border-radius: 4px;
    display: block;
    text-align: center;
    margin-top: 50px;
}
.d1-hide
{
    display: none;
}
.xs-hide{display: block;}


.myMoalBody input {
        position: relative;
    width: 130px;
    right: 0;
    top: 50%;
    text-align: center;
    transform: translate(-25%, -50%);
    font-size: 12px;
    letter-spacing: .5px;
    background: #ececec;
    border-radius: 0;
    border: 1px solid #3d3d53;
    font-weight: 700;
}
.dflex-center
{
        display: flex;
    flex-direction: row;
    justify-content: center;
}

.dflex-center input
{
width: 130px;
    text-align: center;
    
    font-size: 12px;
      letter-spacing: 1px;
    background: #ececec;
    border-radius: 0;
    border: 1px solid;
    font-weight: 700;
}
.modal-footers {
    float: right;
    text-align: end;
    position: absolute;
    right: 10px;
    bottom: 7px;}


.modal-footers button
{
    border: 1px solid;
    border-radius: 12px;
    padding: 1px 10px;
    font-size: 13px;
    font-weight: 600;
}
.modal-content
{
        border: 1px solid rgb(0 0 0);
        border-radius: 0;
}

.modal-backdrop {
    background-color: #ffffffd1;
    backdrop-filter: blur(4px) !important;
    filter: blur(11px);
}

 .myMoalBody input.posnSet {
    position: relative;
    width: 130px;
    right: 0;
    top: 50%;
    text-align: center;
    transform: translate(-4%, -50%);
    font-size: 12px;
    letter-spacing: .5px;
    background: #ececec;
    border-radius: 0;
    border: 1px solid;
    font-weight: 700;
}

.typology .modal-dialog {
    max-width: 600px;
    margin: 1.75rem auto;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.popImgText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.scroller-style {
    height: 528px;
    overflow-y: auto;
    overflow-x: hidden;
    border: solid 1px #3d3d53;
}
.scroller-style-small {
    height: 340px;
    overflow-y: auto;
    overflow-x: hidden;
    border: solid 1px #3d3d53;
}




@media screen and (min-width: 1280px) and (max-width: 1440px){
    .sliderTitle {
    font-size: 16px;
    font-weight: 600;
    color: #3d3d53;
    text-transform: uppercase;
}

}

.ulcontainer {  max-width: 70%; overflow: auto; float: right; height: 27px;}
h4.sliderTitle.pl-4 ul {
    padding: 0;
    margin: 0;
    white-space: nowrap;
    }
    
h4.sliderTitle.pl-4 ul li
{
        padding: 0;
        display: inline;
}

h4.sliderTitle.pl-4 ul li a
{
        font-size: 11px;
    color: var(--main-color);
    text-transform: uppercase;
    letter-spacing: .5px;
    padding: 5px 10px;
    font-weight: 100;
    position: relative;
    background: #ececec;
    border: 1px solid #3d3d53;
    display: inline-block;
}

@media screen and (max-width: 767px) {
    .typology .pl-4, .px-4 {
    padding-left: 0rem!important;
}
.row.no-gutter.border.text-center { overflow: inherit;}
.ulcontainer { max-width: 100%; margin: 10px 0;}

section.typology {
    margin-left: 0;
    margin: 0 15px;
}
.sliderTitle {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    margin-left: -15px;
    margin-top: 20px;
}
.typology .btn-secondary {
    background-color: #ececec;
    border-color: #000;
    border-radius: 0;
    color: #4ba92a;
    font-size: 14px;
    padding: 3px 0;
    font-weight: 600;
    min-width: 60px;
}
.bg-color {
    background: var(--main-color);
    border: 1px solid #000;
    border-right: 1px solid #000;
    border-left: 1px solid #000;
    margin-left: -1px;
    margin-bottom: 10px;
    padding: 15px 10px;
}
.typology .mt-5, .my-5 {
    margin-top: 0rem!important;
}
.textMeseure .form-control {
    display: block;
    width: 100%;
    
}
.slider > span.slider-container {
    min-height: 40px;
    display: inline-block;
    position: absolute;
    top: 0;
    left: -8px;
    right: 0;
    z-index: 3;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.slider {
    display: inline-block;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}


/*Calc-2 css start*/
.bgBlur
{
    padding-right: 0;
}

.scroller-style {
    height: auto;
    overflow-y: unset;
    overflow-x: unset;
    margin-right: 0;    margin-left: 0;
}
h4.sliderTitle.pl-4 ul {
    
    width: 100%;
    overflow-x: auto;
    top: inherit;
    margin: 0;
}
.h-170 {
    height: 150px;   
}

.pr-50 {
    margin-right: 0;
    margin-left: -17px;
}
.calc-2 img {
    width: 70px;
}
.m-br
{
    border-right: 1px solid #000 !important;
    border-bottom: 1px solid #000 !important;
}
.bor-m
{
     border-bottom: 1px solid #000 !important;
}

a.getBtnCalcPage {
    color: #4ba92a;
    font-size: 14px;
    padding: 8px 15px;
    font-weight: 600;
    letter-spacing: 3px;
    border: 1.5px solid #c6c6c6;
    border-radius: 4px;
    display: block;
    text-align: center;
    margin-right: 15px;
}
.d1-hide
{
    display: block;
}
.d-flex img.popp {
        margin-left: 0;
    width: 160px;}
.modal.show .modal-dialog {
    -webkit-transform: none;
    transform: none;
    margin: 15px 16px;
}
.myMoalBody input {
    position: absolute;
    width: 100px;
    right: 0;
    top: 50%;
    text-align: center;
    transform: translate(-5%, -50%);
    font-size: 12px;
    letter-spacing: .5px;
    background: #ececec;
    border-radius: 0;
    border: 1px solid;
    font-weight: 700;
}
.myMoalBody input.posnSet {
    position: relative;
    width: 100px;

}
.modal-body {
    
    padding-top: 0;
}

}




/************MODEL************/


.card-thumb { border: solid 1px #c0c0c0; text-align: center; height: 280px; transition: .3s all}
.card-thumb:hover {background-color: #ffefe2;}
.card-thumb:hover h4 { margin-top: -30px; color: white; font-size: 30px;}
.card-thumb img { max-width: 160px;}
.card-thumb h4 { color: #3d3d53; font-size: 18px; text-transform: uppercase; margin-top: 20px; transition: .3s all; letter-spacing: 15px;}
