
:root
{
    --main-color:#08c18a;
    --second-color:#3d3d53;
}
/* @font-face {
  font-family: future;
  src: url(./assets/fonts/FUTURASTD-BOOK.OTF);
} */

body
{
  font-family: future;

}
.row.no-gutter.border.text-center { height: 483px; overflow: auto;}
/* width */
::-webkit-scrollbar {
    width: 4px;
      
   }
   
   /* Track */
   ::-webkit-scrollbar-track {
     box-shadow: inset 0 0 5px grey; 
     border-radius: 10px;
   }
    
   /* Handle */
   ::-webkit-scrollbar-thumb {
     background: var(--main-color);
     border-radius: 10px;
   }
   
   /* Handle on hover */
   ::-webkit-scrollbar-thumb:hover {
     background: #00aa73; 
   }   
.bg-grey {
    border: 1px solid #3d3d53;
    background-color: #fff !important;
    height: 240px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* filter: grayscale(100%); */
     transition: .5s all;
     cursor: pointer;
}

.bg-grey:hover
{
    filter: grayscale(0%);
    /* background: #9098a0 !important;  */
    background:  #ffe4e1 !important; 
   
    transition: .5s all;
}

section.typology {
    margin-left: 45px;
}

.clac-left-sec h4 {
    color: #3d3d53;
    font-size: 18px;
    transition: .5s all;
}
.clac-left-sec .img-fluid { max-width: 70%;}
.bg-grey:hover .clac-left-sec h4 {
    color: #08c18a;
    font-size: 32px;
    padding-top: 0px;
    transition: .5s all;
    letter-spacing: 5px;
    position: relative;
    bottom: 95px;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -ms-transition: .5s all;
    -o-transition: .5s all;
}

.bg-grey-lg {
    border: 1px solid #3d3d53;
    background: #ffefe2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
     transition: .5s all;
     cursor: pointer;
     padding: 20px 0;
}
.bg-grey-lg .img-lg { margin: 15px; max-width: 320px;}
.bg-grey-lg h4 {
    color: #3d3d53;
    font-size: 28px;
    padding: 10px;transition: .5s all;
    letter-spacing: 6px;
}


.sliderTitle {
    font-size: 20px;
    font-weight: 600;
    color: #3d3d53;
    text-transform: uppercase;
}
.bg-color{    background: var(--main-color);
    border: 1px solid #000;
    border-right: 0;
    border-left: 0;
    margin-left: -1px;}


.calc-search .form-control {
    display: block;
    width: 100%;
    height: 15px;
    padding: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #6e6d6d;
    background-color: transparent;
    background-clip: padding-box;
    border: none;
    border-radius: 0;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    border-bottom: 1px solid #6e6d6d;
}

.form-control:focus {
    
    box-shadow: none;
}

.typology .btn-secondary {
   
    background-color: #ececec;
    border-color: #000;
    border-radius: 0;
    color: #3d3d53 !important;
    font-size: 14px;
    padding: 3px 35px;
    font-weight: 600;
    min-width: 121px;
}
.typology .btn-secondary:hover {
    color: #fff !important;
    background-color: #00eb9c !important;
    border-color: #3d3d53;
}
.typology .btn-secondary:not(:disabled):not(.disabled):active, .typology .btn-secondary:not(:disabled):not(.disabled).active1 {
    color: #ffffff !important ;
    background-color: #00aa73  !important;
    border-color: #3d3d53;
}

/* .btn-secondary.dropdown-toggle {
    background-color:#ececec!important;
}
.btn-secondary:hover {
    background-color: #ececec!important;
    box-shadow: none !important;
}
.btn-secondary.dropdown-toggle:focus, .btn-secondary.dropdown-toggle:hover {
    background-color: #ececec!important;
} */
/* .typology .btn-secondary:hover {
    color: #fff !important;
    background-color: #828b94 !important;
    border-color: #545b62;
} */
.close.position-absolute { color: #3d3d53; right: 10px; top: 3px;}

.textMeseure .form-control {
    display: block;
    width: 89%;
    text-align: center;
    font-size: 30px;
    color: #00eb9c;
    font-weight: 800;
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
}




/* SLIDER-STYLES */

.slider-orange > .bar > span {
    transition: 0.3s;
    background: transparent!important;
}
.slider-orange > .bar-btn{
    background: #626060!important;
    border: 2px solid #626060 !important;
    transition: 0.3s;
}



.dot{
    width: 7px !important;
    height: 7px;
    background: #fff;
    display: block;
    position: absolute;
    border-radius: 125%;
    top: 2px;
}

.slider {
  display: inline-block;
  width: 96%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}
.slider > input {
  opacity: 0;
  width: 100%;
  height: 40px;
  position: relative;
  z-index: 5;
  -webkit-appearance: none;
}
.slider > input::-webkit-slider-thumb {
  -webkit-appearance: none;
  z-index: 100;
  position: relative;
  width: 50px;
  height: 30px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
.slider > span.slider-container {
  min-height: 40px;
  display: inline-block;
  position: absolute;
  top: 0;
  left: -8px;
  right: 46px;
  z-index: 3;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.slider > span.slider-container > span.bar {
    background-color: transparent;
    display: inline-block;
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    height: 20px;
    overflow: hidden;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 2px;
    top: 50%;
    transform: translateY(-50%);
    border: 1px solid;
}
.slider > span.slider-container > span.bar > span {
  background: #00965b;
  display: inline-block;
  float: left;
  height: 11px;
  width: 0%;
}

.slider > span.slider-container > span.bar-btn {
    display: inline-block;
    position: absolute;
    min-width: 0;
    max-width: 0;
    height: 38px;
    font-weight: bold;
    text-align: center;
    background: #00965b;
    left: 0;
    top: 50%;
    border-radius: 100px;
    border: 2px solid #dadada;
    z-index: 5;
    color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transform: translateY(-50%);
}

.slider > span.slider-container > span.bar-btn > span {
   display: none;
    position: absolute;
   
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.bgBlur
{
    filter: blur(3px);
}

.h-500 { height: 250px;}


@media screen and (max-width: 767px){
    .typology .pl-4, .px-4 {
    padding-left: 0rem!important;
}
.ng-autocomplete { width: 100% !important;}
section.typology {
    margin-left: 0;
    margin: 0 15px;
}
.sliderTitle {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    margin-left: -15px;
    margin-top: 20px;
}
.typology .btn-secondary {
    border-radius: 0;
    font-size: 14px;
    padding: 3px 0;
    font-weight: 600;
    min-width: 50%;
}
.bg-color {
    background: var(--main-color);
    border: 1px solid #000;
    border-right: 1px solid #000;
    border-left: 1px solid #000;
    margin-left: -1px;
    margin-bottom: 10px;
    padding: 15px 10px;
}
.typology .mt-5, .my-5 {
    margin-top: 0rem!important;
}
.textMeseure .form-control {
    display: block;
    width: 100%;
    
}
.slider > span.slider-container {
    min-height: 40px;
    display: inline-block;
    position: absolute;
    top: 0;
    left: -8px;
    right: 0;
    z-index: 3;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.slider {
    display: inline-block;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}


.bg-grey:hover .clac-left-sec h4 {
    color: #fff;
    font-size: 14px;
    padding-top: 0px;
    transition: .5s all;
    letter-spacing: 3px;
    position: absolute;
    bottom: 56px;
}


/* width */

   
   
   /* width */
   ::-webkit-scrollbar {
    width: 4px;   
   }
   
   /* Track */
   ::-webkit-scrollbar-track {
     box-shadow: inset 0 0 5px grey; 
     border-radius: 10px;
   }
    
   /* Handle */
   ::-webkit-scrollbar-thumb {
     background: var(--main-color);
     border-radius: 10px;
   }
   
   /* Handle on hover */
   ::-webkit-scrollbar-thumb:hover {
     background: #00aa73; 
   }

}



   .btn-outline { border: solid 1px #3d3d53; background: none; color: #3d3d53; border-radius: 4px; padding: 5px 26px; margin-right: 25px;}
   .btn-outline:hover { border: solid 1px #3d3d53; color: #fff; background-color: #00eb9c;}


  
