.category_banner
{
	margin-top: 0px;
    margin-bottom: 70px;
}
#demo img
{
	height: 320px;
	width: 100%;
	object-fit: cover;
}

.category_design_sec .col-2.float-left
{
	cursor: pointer;
    border-radius: 10px;
    border: solid 1px #555571;
    background-color: #ffffff;
    max-width: calc(16.666667% - 2rem);
}

.category_design_sec .col-2.float-left img
{
	border:1px solid #ddd;
	/* filter: grayscale(100%); */
	cursor: pointer;
    transition: .5s all;
}

.category_design_sec .col-2.float-left:hover img
{
	border:0px solid #ddd;
	filter: grayscale(0%);
}

.caption h4 {
    font-size: 14px;
    font-weight: 500;
}
.caption h4 span i{
    color: #ffc107;
}
.caption p {
    font-size: 9px;
}
.category_design_sec .col-2.float-left .caption {
   position: absolute;
    z-index: 0;
    bottom: 0px;
    border-radius: 10px;
    padding: 5px 5px;
    opacity: 1;
    transition: .2s all;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /* background: #f7f7f7;    */
    /* border-bottom: 2px solid #e5e5e5; */
    width: 100%;
    /* opacity: 0.45; */
    /* border: solid 1px #707070; */
    /* border: 1px solid #ddd; */
}
.filterLinkBtn-category
{
	text-transform: uppercase;
    color: var(--second-color);
    font-size: 13.5px;
    position: relative;
    top: 8px;
    left: -6px;
}

.category_design_sec .col-2.float-left .caption p{
    /* opacity: 0; */
    display: none;
}
.category_design_sec .col-2.float-left:hover .caption {
    opacity: 1;
    transition: .2s all;
    /* background: #f7f7f7; */
    color: #ffffff;
   width: 100%;
   background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), #555571);
}
.category_design_sec .col-2.float-left:hover .caption h4{
    font-size: 12px;
    margin-bottom: 0;
}
.category_design_sec .col-2.float-left:hover .caption p{
    display: block;
}
.art_design .col-2.float-left:hover .caption {
    opacity: 1;
    transition: .2s all;
    background: #00000000;
    color: #fff;width: 100%;left: -5px;
}

/*Category page design section slider css*/
.category_design_sec .col-2.float-left:hover {
    transition: .5s all;
    position: relative;
    z-index: 9;
    border: 1px solid #707070;;
    background: #f7f7f7;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 200px;
    box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.69);
}
/* .category_design_sec .col-2.float-left:hover img {
    /* width: 160px; * /
    position: absolute;
    top: 0px;
} */

.category_design_sec .carousel-item:hover .col-2.float-left{
  /* filter:blur(2px); */
  /* transform: scale(.98); */
  border-radius: 10px;
  border: solid 1px #555571;
  background-color: #ffffff;
    transition: .5s all;
  box-shadow:none;
}
.category_design_sec .carousel-item:hover .col-2.float-left:hover{
  /*filter:blur(0px);
  */box-shadow:0 8px 20px 0px rgba(0,0,0,0.125);
  transform:scale(1.3);
}

.category_design_sec .carousel-inner {
    padding-left: 85px;
    overflow: visible;
}

.sliderTitle{
    font-size: 20px;
    font-weight: 600;
    /* color: var(--main-color); */
    color: #555571;
    margin-bottom: .75rem;
    text-transform: uppercase;
}

.category_design_sec .col-2.float-left iframe
{
border: 1px solid #ddd;
}

.art_design .carousel-control-next, .art_design .carousel-control-prev {   
    top: 1px;    
    height: 96%;
}

.mobile-show
{
	display: none;
}
.mobile-hide
{
	display: block;
}

 .category_design_sec .col-2.float-left img {
    border: 1px solid #ddd;
    /* filter: grayscale(100%); */
    cursor: pointer;
    height: 198px !important;
    object-fit: contain;
    width: 100%;
    border-radius: 10px;
} 
.category_design_sec .col-2.float-left video {
    border: 1px solid #ddd;
    filter: grayscale(100%);
    cursor: pointer;
    height: 198px !important;
    object-fit: contain;
    width: 100%;
} 
@media screen and (max-width:1366px) and (min-width:1280px) {
    .category_design_sec .col-2.float-left img{
        height: 120px  !important;
    }
    .category_design_sec .col-2.float-left:hover{
        height: 122px  !important;
    }
    .caption h4 {
        font-size: 12px;
    }
    .category_design_sec .col-2.float-left:hover .caption h4 {
        font-size: 10px;
    }
}