


/*=========================================================/*Directory page css start from here-----------------------------------*/
.directOryBanner #carousel .carousel-item.boat {
  background-image: url("../img/b2.jpg");
}

.directOryBanner #carousel .carousel-item.sea {
  background-image: url("../img/b3.jpg");
}

.directOryBanner #carousel .carousel-item.river {
  background-image:  url("../img/b1.jpg");
}

.directOryBanner #carousel .carousel-item {
  height: 250px;
  width: 100%;
  min-height: 250px;
  background: no-repeat center center scroll;
  background-size: cover;
}

.directOryBanner #carousel .carousel-inner .carousel-item {
  transition: -webkit-transform 2s ease;
  transition: transform 2s ease;
  transition: transform 2s ease, -webkit-transform 2s ease;
}

.directOryBanner #carousel .carousel-item .caption {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 40px;
  color: white;
  animation-duration: 1s;
  animation-delay: 2s;
}

.directOryBanner #carousel .caption h2 {
  animation-duration: 1s;
  animation-delay: 2s;
}

.directOryBanner #carousel .caption p {
  animation-duration: 1s;
  animation-delay: 2.2s;
}

.directOryBanner #carousel .caption a {
  animation-duration: 1s;
  animation-delay: 2.4s;
}

/* Button */
.delicious-btn {
  display: inline-block;
  min-width: 160px;
  height: 60px;
  color: #ffffff;
  border: none;
  border-left: 3px solid #1c8314;
  border-radius: 0;
  padding: 0 30px;
  font-size: 16px;
  line-height: 58px;
  font-weight: 600;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  text-transform: capitalize;
  background-color: #40ba37;
}

.delicious-btn.active, .delicious-btn:hover, .delicious-btn:focus {
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  background-color: #1c8314;
  border-color: #40ba37;
}
section.directOryBanner {
    margin-top: 70px;
}
li.nav-item.active a{color: var(--main-color) !important;
}




.designSec .carousel-item > div {
  float: left;
}
.designSec  .carousel-by-item [class*="cloneditem-"] {
  display: none;
}
.designSec .carousel-item .col-lg-2.col-md-3.col-sm-4.col-4 {
    padding: 0;
}
.designSec .carousel-item .col-lg-2.col-md-3.col-sm-4.col-4 img{
  border: 1px solid #000;transition: .3s all;
}
.designSec .carousel .carousel-control-next-icon, .designSec .carousel .carousel-control-prev-icon {
    width: 65px;
    height: 65px;
}


.designSec .carousel-item .col-lg-2.col-md-3.col-sm-4.col-4 img:hover {
  transform: scale(1.5);transition: .3s all;/* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.headerText {
    color: var(--main-color) !important;
    font-size: 22px;
    font-weight: 400;
}


.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-slider
{
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
            user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;
    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;border: 1px solid #000; filter: grayscale(100%);	transition: .2s all;

}
.slick-slide img:hover
{
    filter: grayscale(0%);
		transition: .2s all;
		cursor: pointer;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
		margin: 0;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.carousel-control-next, .carousel-control-prev {

    width: 4%;background: #7a7a7a;
}

/*=========================================================/*Directory page css End from here-----------------------------------*/


