@media screen and (max-width:767px){
.cutome_login input {
    background-color: transparent;left: 0;
    width: 230px;}


p.animated.fadeInRight {
    text-align: center;
    font-size: 12px;
}
h3.Category-hover-text-show {
    margin-bottom: 0;
    padding: 20px 0;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
}
.navbar.navbar-dark .navbar-toggler-icon {
    background-image: url(../image/menu.png);
    cursor: pointer;    background-size: contain;
}

.navbar.scrolling-navbar {
    
    width: 100%;
}
.col-lg-4.col-6.offset-3.offset-lg-0.offset-md-0.col-md-4 {
    height: 150px;
}

.openBtn {
  background: #f1f1f1;
  border: none;
  padding: 10px 15px;
  font-size: 20px;
  cursor: pointer;
}

.openBtn:hover {
  background: #bbb;
}

.overlays {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0, 0, 0, 0.77);
}

.overlay-content {
  position: relative;
  top: 46%;
  width: 80%;
  text-align: center;
  margin-top: 30px;
  margin: auto;
}

.overlays .closebtn {
      position: absolute;
    top: 5px;
    right: 20px;
    font-size: 30px;
    cursor: pointer;
    color: white;
}

.overlays .closebtn:hover {
  color: #ccc;
}

.overlays input[type=text] {
    padding: 5px 10px;
    font-size: 14px;
    border: none;
    float: left;
    width: 70%;
    background: white;
}

.overlays input[type=text]:hover {
  background: #f1f1f1;
}

.overlays button {
    float: left;
    width: 20%;
    padding: 9.5px;
    background: #dee2e6;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.overlays button:hover {
  background: #bbb;
}
.mobileSerch
{
  position: fixed;
    z-index: 999;
    right: 55px;
    margin-top: 15px !important;
}

.mobileSerch .openBtn {
    background: #fff;
    border: none;
    padding: 10px 15px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 4px;
}


.modal-dialog {
    max-width: 100%;
    margin: 15px;
    height: auto;
}

/* NEW HOME PAGE CSS (BY RAJESH )*/

.categoary-box-hover { margin-bottom: 15px;}
.CategorySec .categoary-box { height: auto}
.section-count .countBox { width: 100%; margin-bottom: 15px;}
.team-card { max-width: 100%; margin-bottom: 15px; padding-bottom: 15px; border-bottom: solid 1px rgba(0,0,0,0.125); text-align: center;}
.contact-section .form-inline label, .contact-section .form-inline input[type=text], .contact-section .form-inline select { width: 100%;} 

/* */



/* category page*/

#demo img {
    height: auto;
    width: 100%;
    object-fit: cover;
}
.category_design_sec .carousel-inner {
    overflow: hidden;
}
.mobile-show
{
	display: block;    margin-top: 25px;
}
.mobile-hide
{
	display: none;
}
.col-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 100%;
    max-width: 100%;
}
.carousel-control-next, .carousel-control-prev {  
    width: 10%;}

.category_design_sec .col-2.float-left img {
    border: 1px solid #ddd;
    filter: grayscale(0%);
    cursor: pointer;
    width: 100%;
}

.category_design_sec .col-2.float-left:hover {
    transition: .5s all;
    position: relative;
    z-index: 9;
    border: 1px solid #ddd;
    background: #f7f7f7;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: auto;
}
.category_design_sec .carousel-item:hover .col-2.float-left:hover {
    transform: scale(1);
    filter: blur(0px);
    box-shadow: 0 8px 20px 0px rgba(0,0,0,0.125);
}

.category_banner.category_design_sec.mobile-show .col-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 33%;
    max-width: 33%;
    padding: 0 0;
}
.category_banner.category_design_sec.mobile-show .col-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 33%;
    max-width: 33%;
    padding: 0 0;
}
.art_design-m .carousel-control-next, .art_design-m .carousel-control-prev {
    width: 10%;
    height: 95%;
}

section.category_banner.category_design_sec.mobile-show{overflow: hidden;}

}








@media screen and (min-width: 1280px) and (max-width: 1440px){

    


.art_design .col-2.float-left:hover .caption {
    
    left: -10px;
}
.category_banner {
    margin-top: 0;
}
.category_banner .carousel-control-next, .category_banner .carousel-control-prev,.category_design_sec .carousel-control-next, .category_design_sec .carousel-control-prev{
    height: 45px;
    width: 45px !important;
}
#demo img {
    height: 290px;
}
.caption p {
    font-size: 8px;
}

}
@media only screen  and (max-width: 480px){
    section.header {
        height: 55px !important;
    }
    .category_banner {
        margin-top: 0px;
        margin-bottom: 30px;
    }
    .category_banner .carousel-control-next, .category_banner .carousel-control-prev{
        height: 25px;
        width: 25px !important;
        top: 25%;
    }
    .category_banner .carousel-indicators {
        bottom: -22px !important;
    }
    .service-title label {
        font-size: 20px !important;
        margin-top: 10px;
        margin-right: 2px;
    }
    .service-title select {
        font-size: 20px !important;
    }
    .service-title,.service-select{
        margin-bottom: 10px;
    }
    .category_design_sec .col-2.float-left{
        max-width: calc(100% - 2rem);
    }
    .category_design_sec .carousel-control-next, .category_design_sec .carousel-control-prev{
        height: 30px;
        width: 30px !important;
    }
    .category_design_sec .carousel-inner{
        padding-left: 0;
    }
}
@media only screen  and (max-width: 350px){
    .service-title label {
        font-size: 16px !important;
    }
    .service-title select {
        font-size: 16px !important;
    }
    .service-select label {
        font-size: 16px !important;
    }
    .sort-select label {
        font-size: 16px !important;
    }
}