@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);




*
{
	padding: 0;
	margin: 0;
}
:root
{
	--main-color:#08c18a;
	--second-color:#3d3d53;

    font-size: 16px;
}


.container { max-width: 1200px;}

.overlay-container{
    width:1px !important;
    height: 1px !important;
}

.prim-color { color: var(--main-color);}

/*=========================================================/*home page css start from here-----------------------------------*/



.header .navbar.navbar-dark .breadcrumb .nav-item .nav-link, .header .navbar.navbar-dark .navbar-nav .nav-item .nav-link {
    color: var(--second-color);
    -webkit-transition: .35s;
    transition: .35s;
    font-size: 1rem;
    padding: 0px 0.5rem;
    font-weight: 500;
}

.header .navbar.navbar-dark form input[type=text] {
    background-color: #F8F7F7;
    border: 1px solid rgba(85,85,113,0.36);
    border-radius: 10px;
    padding: 6px 10px 6px 35px;
    height: 2.5rem;
    box-sizing: border-box;
    width: 212px;
}
.header .navbar.navbar-dark form input[type=text]:focus { box-shadow: inset 4px 4px 11px -1px rgb(0 0 0 / 20%); border: 1px solid rgba(85,85,113,0.36); }
.header .search-wrap { position: relative; }
.header .search-wrap button { border: none; position: absolute; left: 20px; background: none;}

.search-wrap-mobile { display: none;}



.carousel-indicators.custom-indecators li {opacity: 1; box-shadow: 1px 1px 2px rgba(0,0,0,0.30); border: none; background: white;}
.carousel-indicators.custom-indecators .active {     min-width: 20px; background: #66CEC6; height: 10px; border-radius: 15px;}


.header .badge, .header .navbar.navbar-dark .breadcrumb .nav-item.active>.nav-link:hover, .header .navbar.navbar-dark .navbar-nav .nav-item.active>.nav-link:hover, .header .navbar.navbar-dark .navbar-toggler, .header .navbar.navbar-dark form .form-control, .pagination .active .page-link:hover {
    color: var(--main-color);
}
.header .navbar.navbar-dark .breadcrumb .nav-item .nav-link:hover, .header .navbar.navbar-dark .navbar-nav .nav-item .nav-link:hover
{
  color: var(--main-color);
}


.header nav.navbar.navbar-expand-lg.mb-4
{
	box-shadow: none;
}
.smallText
{
	    font-size: 20px;
    font-weight: 600;
}
.active-color
{
	color: var(--main-color);
}
.filterLinkBtn
{
	text-transform: uppercase;
	color: var(--second-color);
	font-size: 13.5px;
}
.header .navbar .navbar-brand {

    font-size: 30px;
    font-weight: 700;
    color: var(--second-color);

}

.cutome_login {
    max-width: 685px;
    margin: 1.75rem auto;
    height: 460px;
}

.header .navbar .nav-item .nav-link {
    display: block;
    color: var(--second-color);
    text-transform: uppercase;
    font-weight: 400;
}


input::placeholder{
	color: var(--second-color) !important;
	font-size: 13.5px;
}
.navbar.scrolling-navbar {
    padding-top: 0.188px;
    padding-bottom: 0.188px;    background: #fff;
}
/*.navbar.navbar-dark .breadcrumb .nav-item .nav-link:hover, .navbar.navbar-dark .navbar-nav .nav-item .nav-link:hover {
    color: var(--main-color) !important;
}*/
.filterLinkBtn:hover {
    color: var(--main-color);
}



.header .panel {
   border-radius: 4px;
   padding: 1rem;
   margin-top: 0.2rem;
   background-color: #f5f5f5;
   color: #323b40;
}
 .header .panel.panel-blue {
   background-color: #e0f5ff;
   color: #00a5fa;
}
 .header .panel.panel-big-height {
   min-height: 150px;
}
 .header .item {
   border-radius: 4px;
   padding: 0.5rem;
   margin: 0.2rem;
}
 .header .item.item-blue {
   background-color: #b9e5fe;
   color: #00a5fa;
}
 .header .item.item-green {
   background-color: #b7e0dc;
   color: #019888;
}
 .header .item.item-lime {
   background-color: #c7e8c8;
   color: #42b045;
}
 .header .item.item-yellow {
   background-color: #ffeeba;
   color: #ff9901;
}
 .header .item.item-pink {
   background-color: #fabad0;
   color: #ef075f;
}
 .header .item.item-red {
   background-color: #fec9c6;
   color: #fd3d08;
}
 .header .item.item-big-width {
   min-width: 380px;
}
a.nav-link.waves-effect.waves-light.subscribeBtn {
    color: #ff0000 !important;
    border: 1.1px solid #ff0000;
    border-radius: 10px;
    padding: 3px 10px;
    margin-top: 5px;
    text-transform: capitalize;
}
.dropdown .dropdown-menu .dropdown-item:active, 
.dropdown .dropdown-menu .dropdown-item:focus, 
.dropdown .dropdown-menu .dropdown-item:hover {
    color: var(--main-color) !important;
}



         .tx-tfm{
         text-transform:uppercase;
         }
        .mybtn {
    border-radius: 0;
    border: none;
    background: none;
    color: #848484c9;
    font-size: 24px;
    font-weight: 600;
}
        
         .login-or {
         position: relative;
         color: #aaa;
         margin-top: 10px;
         margin-bottom: 10px;
         padding-top: 10px;
         padding-bottom: 10px;
         }
         .span-or {
         display: block;
         position: absolute;
         left: 50%;
         top: -2px;
         margin-left: -25px;
         background-color: #fff;
         width: 50px;
         text-align: center;
         }
         .hr-or {
         height: 1px;
         margin-top: 0px !important;
         margin-bottom: 0px !important;
         }
        .google {
    text-align: center;
    outline: none;
    border: 0;
    font-size: 20px;
    margin: 0 5px;
}
.modal-dialog .modal-content {
        border-radius: 0;
    border: 1px solid #333;
}
a#foget {
    color: #333;
    font-size: 14px;
}
a#signup {
    font-size: 24px;
    color: #848484;
    font-weight: 400;
}
          form .error {
         color: #ff0000;
         }
         #second{display:none;}

.cutome_login .modal-title {
    margin-bottom: 0;
    line-height: 1.5;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 800;    position: relative;
    left: 25px;
}

.cutome_login input {
    background-color: transparent;
    width: 100%;
    font-size: 1rem;
    box-shadow: none;
    box-sizing: initial;
    -webkit-transition: all .3s;
    transition: all .3s;
    border: 1px solid #ddd;
    border-radius: 12px;
    height: 30px !important;
    padding: 5px 10px 5px 30px;
    margin: 0 0px 1px 0 !important;
    position: relative;
    left: 0;
    min-width: 280px;
}
.myForm{
    margin-bottom: 25px !important;
}
input.form-control.mr-sm-2 {
    padding-bottom: 0;
}
.category_banner .carousel .carousel-control-next-icon, .category_banner .carousel .carousel-control-prev-icon {
    width: 70px;
    height: 70px;
}
.category_banner .carousel .carousel-control-next-icon{
    background-image: url('../img/svg/arrow_right.svg');
}
.category_banner .carousel .carousel-control-prev-icon {
    background-image: url('../img/svg/arrow_left.svg');
}
.category_design_sec .carousel .carousel-control-next-icon{
    background-image: url('../img/svg/arrow_right.svg');
}
.category_design_sec .carousel .carousel-control-prev-icon {
    background-image: url('../img/svg/arrow_left.svg');
}
.myform.form
{
  text-align: -webkit-auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cutome_login input::placeholder
{
  font-size: 16px;
  color:#ddd;
}
.cutome_login .modal-body {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1rem;
    padding-top: 0;
    padding-bottom: 0;
}
#signin
{
  color: #333;
}
.header .modal {
    
    background: #ffffff6b !important;
    backdrop-filter: blur(2px) !important;
}


.modal-backdrop {    
    background-color: unset;
    backdrop-filter: blur(2px) !important;
}

.d-hide{display: none;}


/* Category Css start here*/





.categoary-box-hover { padding: 2px; flex: 1;}
.categoary-box-hover:hover {padding: 2px; border-radius: 10px; background: linear-gradient(to right, #86FFFA, #9BC8FC, #C49BFC, #F890FC, #FA9898, #FFC989,#F0FF9F,#AFFF91);}
.categoary-box-hover:hover p { width: 50%; font-size: 1.125rem; line-height: 30px;}
.categoary-box-hover:hover .calculator { background: #C0D9E8;}
.categoary-box-hover:hover .directory { background: #B1F0D4;}
.categoary-box-hover:hover .marketpalace { background: #FFE5E2;}
.categoary-box-hover:hover .categoary-box span { display: block;}
.CategorySec .categoary-box 
{
transition: .3s all;
cursor: pointer;
border-radius: 10px;
padding: 5%;
position: relative;
height: 230px;
box-sizing: border-box;
box-shadow: 6px 6px 15px rgba(0,0,0,0.10);
}

.categoary-box span { display: none;}
.categoary-box .btn-ex { font-size: 1.125rem; color: #00D898; font-weight: 500;}

.calculator {
    background-color: #C0D9E8; /* For browsers that do not support gradients */
    background-image: linear-gradient(to bottom right, white, #C0D9E8);
}
.directory {
    background-color: #C0D9E8; /* For browsers that do not support gradients */
    background-image: linear-gradient(to bottom right, white, #B1F0D4);
}
.marketpalace {
    background-color: #C0D9E8; /* For browsers that do not support gradients */
    background-image: linear-gradient(to bottom right, white, #FFE5E2);
}

.CategoryTitle {
text-align: left;
display: block;
font-size: 2rem;
text-transform: capitalize;
font-weight: 500;
color: #555571;
	transition: .1s all;
}
.categoary-box img
{
	width: 40%;
    
	transition: .3s all;
    object-fit: contain;
    
    position: absolute;
    bottom: 0;
    right: 0%;
    
}
.Category-subTitle {
    text-align: left;
    font-size: 1.125rem;
    font-weight: 400;
    color: #555571;
	transition: .05s all;
    line-height: normal;
    width: 61%;
}


.Category-subTitle a{color: #fff;}
h3.Category-hover-text-show {
    margin-bottom: 0;
    padding: 30px 0;
    text-align: center;
    font-size: 20px;
    font-weight: 300;
}

.about-us
{
	background: #ddd;
	height: 300px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.career
{
	background: #eee;
	height: 300px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

 .contact
{
	background: #ccc;
	height: 300px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.blog
{
	background: #fff;
	height: 300px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.news
{
	background: #bbb;
	height: 300px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.subscribe
{
	background: #f7f7f7;
	height: 300px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.modal-backdrop {
    z-index: 1;
}
.modal-backdrop.show {
    opacity: .9;
}

.containers span {
	font-size: 12px;
}

.containers a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

.containers button {
	border-radius: 20px;
	border: 1px solid var(--main-color);
	background-color: var(--main-color);
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

.containers button:active {
	transform: scale(0.95);
}

.containers button:focus {
	outline: none;
}

.containers button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

.containers form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

.containers input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

.containers {
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25),
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 800px;
	max-width: 100%;
	min-height: 480px;
}

.form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.sign-in-container {
	left: 0;
	width: 50%;
	z-index: 2;
}

.containers.right-panel-active .sign-in-container {
	transform: translateX(100%);
}

.sign-up-container {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}

.containers.right-panel-active .sign-up-container {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
}

@keyframes show {
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
	}

	50%, 100% {
		opacity: 1;
		z-index: 5;
	}
}

.overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

.containers.right-panel-active .overlay-container{
	transform: translateX(-100%);
}

.overlay {
	background: var(--main-color);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.containers.right-panel-active .overlay {
  	transform: translateX(50%);
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.overlay-left {
	transform: translateX(-20%);
}

.containers.right-panel-active .overlay-left {
	transform: translateX(0);
}

.overlay-right {
	right: 0;
	transform: translateX(0);
}

.containers.right-panel-active .overlay-right {
	transform: translateX(20%);
}

.social-container {
	margin: 20px 0;
}

.social-container a {
	border: 1px solid #DDDDDD;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
}
section.directOryBanner {
    margin-top: 90px;
    padding: 60px 0;
}

p.animated.fadeInRight {
    text-align: center;
    font-size: 18px;
}


.category_banner .carousel-control-next, .category_banner .carousel-control-prev {
    position: absolute;
    top: 40%;
    bottom: 0;
    z-index: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 57px;
    width: 57px !important;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    opacity: .5;
    transition: opacity .15s ease;
    /* background: url(../image/gradient.png); */
    background-color: #f7f7f7;
    background-position: 80px 0px;
    box-shadow: 0px 0px 10px #424242;
}


.category_banner .carousel-control-next{
    right: 2%;
}
.category_banner .carousel-control-prev{
    left: 2%;
}
.category_design_sec .carousel-control-next, .category_design_sec .carousel-control-prev {
    position: absolute;
    top: 40%;
    bottom: 0;
    z-index:9;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 57px;
    width: 57px !important;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    opacity: .5;
    transition: opacity .15s ease;
    /* background: url(../image/gradient.png); */
    background-color: #f7f7f7;
    background-position: 80px 0px;
    box-shadow: 0px 0px 10px #424242;
}


.category_design_sec .carousel-control-next{
    right: 2%;
}
.category_design_sec .carousel-control-prev{
    left: 2%;
}
.carousel-control-next, .carousel-control-prev {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 99;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 5%;
    color: #fff;
    text-align: center;
    opacity: .5;
    transition: opacity .15s ease;
    background:#757575;
}

.carousel .carousel-control-next-icon, .carousel .carousel-control-prev-icon {
    width: 65px;
    height: 65px;
}


.badge, .btn, .btn-primary.active:not([disabled]):not(.disabled), .btn-primary:not([disabled]):not(.disabled):active, .card:not([class*=card-outline-]), .chip, .jumbotron, .modal-dialog.cascading-modal .modal-c-tabs .nav-tabs, .modal-dialog.modal-notify .modal-header, .navbar, .pagination .active .page-link, .show>.btn-primary.dropdown-toggle, .z-depth-1 {
    box-shadow: none;
}


/*=========================================================/*home page css End from here-----------------------------------*/

/* HOME PAGE NEW 06-06-2021 */

.section-commen h1 { color: #3D3D53; font-size: 1.75rem; font-weight: 500;}
.section-commen h1.big { color: #3D3D53; font-size: 2rem; font-weight: 500;}
.section-commen .font-weight-medium { font-weight: 500;}
.section-commen h5 { color: #3A3768; font-size: 1.75rem; font-weight: 500;}
.section-commen ul.list-text {color: #3D3D53; list-style: none; line-height: 40px;}
.section-commen ul.list-about { line-height: 40px; margin: 40px 0 0 20px; list-style: disc; list-style-position: inside;}
.section-commen a.link {color:#0089FF}

.main-banner-wrap h1 { color: #636EA7; font-size: 3rem; font-weight: 500; margin: 0; padding: 0; text-align: right; line-height: 60px;}
.main-banner-wrap h1 + span { font-weight: 400; line-height: 24px;  display: block; text-align: right; width: 100%; margin: 15px 0 0; color: #5E5EB7}
.main-banner-wrap  h1 + .btn-wrap {  margin: 15px 0 0;}
.main-banner-wrap .carousel-item { height: 420px;}

.main-banner-wrap .btn-wrap {  justify-content: flex-end; display: flex; width: 100%;}
.main-banner-wrap a.button {background-color: #07C189; border: solid 1px #07C189; padding: 8px 14px; color: #fff; font-weight: 500; border-radius: 10px; box-shadow: 3px 3px 5px rgba(0,0,0,0.20); transition: all 0.5s ease-in-out; text-transform: uppercase;}
.main-banner-wrap a.button:hover { box-shadow: none; border: solid 1px #8acaad;color: #fff;}
/* .main-banner-wrap .main-banner1 {background-image: linear-gradient(to right, #E6FFFD, #ECFFE6, #E0FAFF, #DDEBFF);}
.main-banner-wrap .main-banner2 {background-image: linear-gradient(to right, #EDFFF4, #FFFBE6, #FFF2EA, #EEF7D1);}
.main-banner-wrap .main-banner3 {background-image: linear-gradient(to right, rgb(227, 248, 255), 248, 255), #F8FFE8, #FFFBE5, #E8ECFF);} */

.section-commen .carousel h1 { color: #3A3768; font-size: 1.75rem; font-weight: 500; line-height: 36px;}
.section-commen h5.color-blue { color: #3A3768; font-size: 1.375rem; font-weight: 500;}
.home-scroller-section .carousel-inner { background-color: #FFE5E2; background-image: linear-gradient(to bottom right, #FFFDFD, #FFE5E2);}
.home-scroller-section.bg-change .carousel-inner {background-color: #C9DAFF; background-image: linear-gradient(to bottom right, #C9DAFF, #ffffff);}
.home-scroller-section .carousel { box-shadow: 6px 6px 12px rgba(0,0,0,0.16);}
.home-scroller-section .carousel-control-next, .home-scroller-section .carousel-control-prev { position: absolute; bottom: auto; top: 50%;
    border-radius: 50%; background: #F7F7F7; opacity: 1; color: #08C18A; box-shadow: 3px 3px 6px rgb(0 0 0 / 30%); width: 2rem; height: 2rem;
}

.home-scroller-section .carousel-control-next { right: 0.938rem;}
.home-scroller-section .carousel-control-prev { left: 0.938rem;}

.home-scroller-section .carousel-control-prev:active,
.home-scroller-section .carousel-control-next:active { box-shadow: inset 4px 4px 4px -3px rgb(0 0 0 / 40%);}

.pm-color
  { color: #3d3d3d}


  /* WE ARE GROWING */
  .section-count h1 { color: #3d3d3d; font-size: 1.75rem;}
  .section-count hr { border-top: 1px solid #808094;}
  .section-count .countBox { border: solid 1px #fff; border-radius: 10px; padding: 6px;  box-shadow: 12px 12px 16px rgba(0,0,0,0.11); text-align: center; width: 80%; margin: auto;}
  .section-count .countBox:hover {border: solid 1px #07C189;}
  .section-count .countBox span { font-size: 3rem; font-weight: 500;}
  .section-count .countBox p { font-size: 1.375rem; font-weight: 500;}
  .section-count .countBox em { font-style: normal; font-size: 1rem;}

  p.medium-text { font-size: 1.375rem; font-weight: 600; line-height: 32px;}

  /* TABS HOME PAGE */
  .tabs-wrapper ul.nav-tabs { display: flex; font-size: 1.375rem; border: none; font-weight: 500;}
  .tabs-wrapper ul.nav-tabs li { flex-grow: 1; text-align: center; margin-bottom: -2px;}
  .tabs-wrapper ul.nav-tabs li a {color: #3D3D53; padding: .5rem; font-weight: 600;}
  .tabs-wrapper .tab-content { background-color: white; padding: 1.5rem;}
  .tabs-wrapper p { line-height: 28px;}

  /* BLOGS */
  .card-wrap .card { box-shadow: 6px 6px 12px rgba(0,0,0,0.16); border-radius: 15px;}
  .card-wrap .card img { max-height: 250px;}
  .card-wrap h5.card-title { font-size: 1.125rem; color: #3d3d3d; font-weight: 600; margin-bottom: 0;}
  .card-wrap .small { font-size: 0.875rem; font-weight: 400;}
  .card-wrap .card-body { padding: 0.800rem;  white-space: nowrap;  width: 100%; overflow: hidden; text-overflow: ellipsis}
  .card-wrap .card-body p {margin-bottom: 0; line-height: 28px;}

  /*TEAM*/

  .team-card { max-width: 70%;}
  .team-card h5.team-title { font-size: 1.125rem; color: #3d3d3d; font-weight: 500; margin-bottom: 0;}
  .team-card span { font-weight: 400; display: block; margin: 5px 0; font-size: 0.875rem;}
  .team-card > img { box-shadow: 0px 3px 6px rgba(0,0,0,0.16); margin-bottom: 15px; width: 160px; height: 200px; border-radius: 10px;}

/* CONTACT US HOME */

.contact-section h2 { color: #3d3d3d; font-size: 1.375rem;}
.contact-section .sub-title {  margin: 20px 0; display: block; font-weight: 500;}
.contact-section input[type=text], .contact-section select { background-color: white; height: 30px; border: solid 1px rgba(61,61,81,0.50); padding: 2px 5px; height: auto; border-radius: 5px;}
    .contact-section .form-inline label { width: 40%; box-sizing: border-box; justify-content: left;}
    .contact-section .form-inline input[type=text],
    .contact-section .form-inline select
    { width: 60%; box-sizing: border-box; margin-bottom: 0;}
    .contact-section .form-inline .form-group { margin-right: 0;}

    .contact-section .sumbit-btn { border: solid 1px #07C189; color: #07C189; border-radius: 5px; padding: 4px 15px; background: white;
        font-weight: 500; box-shadow: 3px 3px 12px rgba(0,0,0,0.20);}

        .contact-section .connect { font-size: 1rem; margin: 3rem 0;}
        .contact-section .connect span { font-size: 1rem; font-weight: 600;}

/*FOOTER  */

footer { background-color: #3D3D53; color: white; padding: 20px 0 0; display: block;}
footer h5 { font-size: 1.75rem;}
footer ul { margin: 0; padding: 0; list-style: none; line-height: 30px; font-weight: 300;}
footer ul li a { color: white;}
footer a.social-link img { width: 1.875rem; height: 1.875rem; margin-right: 10px; }

footer .footer-bottom { background-color: rgba(255,255,255,0.16); text-align: center; color: white; padding-top: 10px; padding-bottom: 10px;}
footer .footer-bottom a { font-weight: 300; color: white; font-size: 0.900rem; padding: 0 10px;}
































/*-------------------------------Media Query Start from Here-----------------------------------------------------------------*/

@media screen and (max-width: 767px){

	div#navbarSupportedContent {
    background: var(--main-color);
    padding-left: 10px !important;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom:10px;

    width: 100%;
}

div#navbarSupportedContent.show { display: inline-block; }

div#navbarSupportedContent ul.ul-main-link li a.nav-link { padding: 10px 0; border-bottom: solid 1px rgba(255,255,255,0.2);} 
div#navbarSupportedContent ul.ul-main-link li:last-child > a.nav-link { border-bottom: none;}
div#navbarSupportedContent li.nav-item.for-mobile { width: 50%;}
div#navbarSupportedContent li.nav-item.for-mobile a {border: solid 1px #36ecb6; padding: 10px 0; border: solid 1px rgba(255,255,255,0.2); text-align: center;}

.header .navbar.navbar-dark .breadcrumb .nav-item .nav-link, .header .navbar.navbar-dark .navbar-nav .nav-item .nav-link {
    color: #fff;}

.filterLinkBtn {
    text-transform: uppercase;
    color: #fff;
    position: relative;
    left: 7px;
    padding-top: 3px !important;
    border: 1px solid #f8f9fa;
    padding: 3px 15px;
    margin-top: 10px;
    border-radius: 25px;
    font-size: 12px;
}




.blue .modal { max-width: 214px;}
}
@media screen and (max-width: 766px){ 
.menu-wrapper { max-width: 100%;
    margin: 10px 0 0;
    height: auto;
}
    h4.sliderTitle.pl-4 ul { height: auto;}
}
.menu-wrapper ul { height: auto;}
@media screen and (max-width: 400px){
    .blue .modal { max-width: 190px;}
}





/*-------------------------------Media Query END from Here-----------------------------------------------------------------*/


.compnyLogo {
    position: absolute;
    right: 40%;
    bottom: -10px;
}


