:root
{
	--main-color:#eb8f8f;
	--second-color:#495057;
}
.sliderTitle {
    font-size: 20px;
    font-weight: 600;
    color: var(--main-color);
    text-transform: uppercase;
}


/*========WORKSPACE PAGE ==========***/
.progress-round { width: 90px;
    height: 90px;
    background: none;
    position: absolute;
    right: 10px;
    top: 10px;
  }
  
  .progress-round::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 8px solid rgba(0,0,0,0.25);
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .progress-round>span {
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
  }
  
  .progress-round .progress-left {
    left: 0;
  }
  
  .progress-round .progress-bar {
    width: 100%;
    height: 100%;
    background: none;
    border-width: 8px;
    border-style: solid;
    position: absolute;
    top: 0;
  }
  
  .progress-round .progress-left .progress-bar {
    left: 100%;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
  }
  
  .progress-round .progress-right {
    right: 0;
  }
  
  .progress-round .progress-right .progress-bar {
    left: -100%;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-right: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
  }
  
  .progress-round .progress-value {
    position: absolute;
    top: 0;
    left: 0;
  }

  .blue .modal .progress-round { width: 50px; height: 50px;}
  .blue .modal .progress-round .progress-bar { border-width: 5px;}
  .blue .modal .progress-round::after {border-width: 5px;}


  .menu-wrapper {
	position: relative;
	max-width: 70%;
	height: 27px; 
	overflow-x: hidden;
    overflow-y: hidden;
    display: inline-block;
    vertical-align: sub;
    margin-left: 20px;
}
  

h4.sliderTitle.pl-4 ul {
    background: #ececec;
    box-sizing: border-box;
	white-space: nowrap;
    overflow-x: hidden;
	-webkit-overflow-scrolling: touch;    
    border: 1px solid #333;
    height: 27px;
    padding-left: 12px;
}

h4.sliderTitle.pl-4 ul li
{
        padding: 0px 0 1px;
        display: inline-block;
        box-sizing: border-box;
}
.paddle {
	position: absolute;
	top: 0;
    bottom: 0;
    color: var(--main-color);
}
.left-paddle {
    left: 1px;
    border: none;
    top: 1px;
    line-height: normal;
    bottom: 1px
}
.right-paddle {
	right: 1px;
    border: none;
    top: 1px;
    line-height: normal;
    bottom: 1px
}
.hidden {
	display: none;
}

h4.sliderTitle.pl-4 ul li a
{
        font-size: 11px;
    color: var(--main-color);
    text-transform: uppercase;
    letter-spacing: .5px;
    padding: 0 10px;
    font-weight: 100;
    position: relative;
    top: -2px;
}


h4.sliderTitle.pl-4 ul li:after
{
    content: "";
    border-right: 1.5px solid;

}
.bg-activites { background-color: #828b94; max-height: 420px; overflow: auto;}
.ul-activity { list-style: none; font-size: 13px}
.ul-activity li a {color: #fff; text-decoration: none; text-decoration: underline; line-height: 24px;}
.ul-activity li a:hover, .ul-activity li a.active { color: #f9b4b4; text-decoration: none;}
.bg-grey2 { border: 1px solid #000; background: #c7c7c7; height: 300px; display: flex; flex-direction: row; justify-content: center;
    align-items: center; filter: grayscale(100%); transition: .5s all; cursor: pointer}
    .bg-grey2:hover {
        filter: grayscale(0%);
        background: #828b94;
        transition: .5s all;
    }
    .bg-grey2:hover .img-secation h4 {
        color: #fff;
        font-size: 20px;
        padding-top: 0px;
        transition: .5s all;
        position: absolute;
        left: 50%;
        bottom: 43%;
        transform: translate(-50%, 0);
        margin-left: 0;
        width: 100%;
    }
.h-170 { height: 170px; filter: grayscale(100%); margin-bottom: -2px;}
.img-secation h4 { font-size: 13px; position: absolute; bottom: 5px; text-align: center; display: block; width: 100%; left: 0; text-transform: uppercase;}
.scroller-style {height: 420px; overflow-y: auto; overflow-x: hidden}
.box-text { background-color: var(--main-color); width: 95%; margin: auto;  border: solid 2px #000; border-radius: 10px; text-align: center; color: #fff; line-height: normal; margin-top: 10px;}
.p-custom { border-radius: 20px; background-color: #838383; box-shadow: inset 0 0 5px #000000; border: solid 1px #000; height: 20px;}
.p-custom .progress-bar { background-color: var(--main-color); height: 20px;}
.dynamic-content h5 { color: var(--main-color); text-transform: uppercase; font-size: 16px;}
.dynamic-content .big-heading { color: var(--main-color); font-size: 22px; text-transform: uppercase; letter-spacing: 2px; margin-right: 10px; font-weight: bold;}
.dynamic-content .d-cost { display: inline-block; background-color: #ececec; border: solid 1px #000000; color: var(--main-color); font-size: 18px; font-weight: bold; padding: 0 4px; vertical-align: text-bottom;}

.blue
{
  background-color:blue;
}

.block 
{
  width:100%;
}


.blue .modal {
    position: absolute !important;
    width: 100%;
    max-width: 400px;
    bottom: 5px;
    top: 0%;
    height: min-content;
    left: inherit;
    right: 5px;
}

.blue .modal .modal-dialog { height: auto; margin: 0;}
.blue .modal-backdrop {
    position: absolute !important;
    width: 100%;
    height: 100%;
}
.blue .modal-footers button {
    border: 1px solid #333;
    border-radius: 12px;
    padding: 1px 10px;
    font-size: 13px;
    font-weight: 600;
    color: #212529 !important;
}




/* width */
::-webkit-scrollbar {
    width: 4px;
      
   }
   
   /* Track */
   ::-webkit-scrollbar-track {
     box-shadow: inset 0 0 5px grey; 
     border-radius: 10px;
   }
    
   /* Handle */
   ::-webkit-scrollbar-thumb {
     background: var(--main-color);
     border-radius: 10px;
   }
   
   /* Handle on hover */
   ::-webkit-scrollbar-thumb:hover {
     background: #b30000; 
   }
