<div class="modal popup" id="form" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered cutome_login" role="document">
        <div class="modal-content">
            <div class="modal-header border-bottom-0">
                <h5 class="modal-title col-lg-11">Forgot Password</h5>
                <button type="button" (click)="closemodel()" class="close">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="mx-auto" [formGroup]="loginForm">
                    <div id="first">
                        <div class="myform form">
                            <div class="form-group myForm">
                                <input type="email" formControlName="email" name="email" class="form-control"
                                    id="email" aria-describedby="emailHelp" placeholder="Email">
                                <span class="error-red" *ngIf="f.email.errors?.required && submitted">Email is
                                    required</span>
                                <!-- <div class="error-red" *ngIf="f.Username.errors?.email">Enter a valid Email</div> -->
                            </div>

                            <div class="col-md-12 text-center ">
                                <button (click)="loginSubmit()" type="button" class="mybtn tx-tfm">Submit</button>
                            </div>
                            <div class="col-md-12 mb-2 mt-2">
                            <div class="form-group">
                                <p class="text-center"><a (click)="onLoginRedirect()" href="javascript:void(0);">Already Account?  SIgn In</a></p>
                            </div>
                            <div class="form-group">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

