<!--Modal Popup-------->
<div class="modal popup" id="reach" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered reachout-modal" role="document" style="overflow-y: hidden;">
    <div class="modal-content reviewRatingPopUp" style="    height: 400px;
    overflow: hidden;">
      <div class="modal-header border-bottom-0">
        <h5 class="modal-title col-lg-11" id="exampleModalLabel">Reach Out</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form [formGroup]="Addform">
          <div class="row">
            <div class="col-12">
              <div class="form-group">
                <label>Subject</label>
                  <input class="form-control" rows="4" placeholder="Subject" formControlName="title">
                    <div *ngIf="submitted && f.title.errors" class="errorMsg">
                        <div *ngIf="f.title.errors.required">Subject is required</div>
                    </div>
                </div>
              <div class="form-group">
                <label>Message</label>
                  <textarea class="form-control" rows="4" placeholder="Add Query" formControlName="description"></textarea>
                    <div *ngIf="submitted && f.description.errors" class="errorMsg">
                        <div *ngIf="f.description.errors.required">Description is required</div>
                    </div>
                </div>
            </div>
          </div>
          
          <button (click)="onSubmitReview()" class="mybtn tx-tfm" style="text-align: center;
          display: block;
          margin: 0 auto;">Submit</button>
          
      </form>

    </div>
  </div>
</div>

<!--Modal Pop up End------>