.cont {
    width: 93%;
    max-width: 350px;
    text-align: center;
    margin: 4% auto;
    padding: 30px 0;
    background: #111;
    color: #EEE;
    border-radius: 5px;
    border: thin solid #444;
    overflow: hidden;
  }
  .reachout-modal .form-control{
    border: 1px solid #ddd;
    border-radius: 12px;
  }
  .reachout-modal .modal-title {
    margin-bottom: 0;
    line-height: 1.5;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 800;
    position: relative;
    left: 25px;
}
  div.stars {
    width: 270px;
    display: inline-block;
  }
  i.fa.fa-star {
    color: #e4e404;
    font-size: 17px;
}
.errorMsg {
  color: red;
  font-weight: 600;
}