<div class="modal popup" style="display: block !important;" tabindex="-1" role="dialog" >
    <div class="modal-dialog  modal-dialog-centered cutome_login modal-lg" role="document" >
        <div class="modal-content" style="padding: 0px 15px;">
            <div class="modal-header border-bottom-0">
                <h5 class="modal-title col-lg-11">Vendor Portfolio Details</h5>
                <button (click)="closeditProfileVendor()" type="reset" class="close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div>
                <div class="table-responsive" *ngIf="record_flag">
                    <table class="table table-hover  table-bordered">
                        <thead>
                            <tr>
                                <th *ngFor="let key of keys" [hidden]="(key == 'created_by') || (key == 'modified_by') || (key == 'vendor_id')?true:false">
                                    <span *ngIf="key == 'id'"> S.no.</span>
                                    <span *ngIf="key != 'id'"> {{key}}</span>
                                </th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let list of data; let i= index">
                                <td *ngFor="let key of keys" [hidden]="(key == 'created_by') || (key == 'modified_by') || (key == 'vendor_id')?true:false">

                                    <span *ngIf="key == 'id'">{{i+1}}</span>
                                    <span *ngIf="key == 'image1'" style="cursor: pointer;" (click)="showImageModal(list.image1)">
                                        <i class="fas fa-images edit-icon"></i> 
                                    </span>

                                    <span *ngIf="key == 'image2'" style="cursor: pointer;" (click)="showImageModal(list.image2)">
                                        <i class="fas fa-images edit-icon"></i> 
                                    </span>

                                    <span *ngIf="key == 'image3'" style="cursor: pointer;" (click)="showImageModal(list.image3)">
                                        <i class="fas fa-images edit-icon"></i> 
                                    </span>

                                    <span *ngIf="key == 'image4'" style="cursor: pointer;" (click)="showImageModal(list.image4)">
                                        <i class="fas fa-images edit-icon"></i> 
                                    </span>

                                    <span *ngIf="key == 'image5'" style="cursor: pointer;" (click)="showImageModal(list.image5)">
                                        <i class="fas fa-images edit-icon"></i> 
                                    </span>


                                    <span *ngIf="key == 'status'">
                                        <button class="btn-active" *ngIf="list.status == '1'" (click)="updateStatusData(list)">Active</button>
                                        <button class="btn-deactive" *ngIf="list.status == '0'"(click)="updateStatusData(list)">InActive</button>
                                    </span>
                                    <span *ngIf="key == 'created'">{{list.created| date: 'dd/MM/yyyy'}}</span>
                                    <span *ngIf="key == 'modified'">{{list.modified| date: 'dd/MM/yyyy'}}</span>
                                    <span *ngIf="key != 'id' && key != 'image' && key != 'created' && key != 'status' && key != 'modified' && key != 'image1' && key != 'image2' && key != 'image3' && key != 'image4' && key != 'image5'">{{list[key]}}</span>
                                </td>
                                <td>
                                    <div class="delete-icon">
                                        <a href="javascript:void(0)" (click)="oneditAction(list.id)"><i
                                                class="fas fa-edit edit-icon"></i></a>
                                        <a href="javascript:void(0)" (click)="gotoDelete(list.id)"><i
                                                class="fas fa-trash-alt delete-icon"></i></a>
                                    </div>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>