@import url("../../../assets/css/workspace.css");

area:hover {
    outline-color:red ;
    /* border: 1px solid blue; */
}

.right-paddle{
    right: 1px;
    border: none;
    top: 1px;
    line-height: 0px !important;
    bottom: 1px;
    overflow: hidden;
    padding-left: 10px !important;
}

.left-paddle {
    left: 1px;
    border: none;
    top: 1px;
    bottom: 1px;
    line-height: 0px !important;
    padding-right: 10px !important;
}
.sliderTitle{
    width: 100%;
}
.menu-wrapper{
    float:right;
}

.blue .modal-footers button {
    border: 1px solid #333;
    border-radius: 12px;
    padding: 1px 10px;
    font-size: 13px;
    font-weight: 600;
    color: #212529 !important;
}
.blue .modal {
    position: absolute !important;
    width: 100%;
    max-width: 400px;
    bottom: 5px;
    top: 1%;
    height: min-content;
    left: inherit;
    right: 5px;
}
.blue .modal .modal-dialog {
    height: auto;
    margin: 0;
}
.blue .modal .progress-round {
    width: 50px;
    height: 50px;
}
.progress-round {
    width: 90px;
    height: 90px;
    background: none;
    position: absolute;
    right: 10px;
    top: 10px;
}
.progress-round .progress-left {
    left: 0;
}
.progress-round>span {
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
}
.blue .modal .progress-round .progress-bar {
    border-width: 5px;
}
.progress-round .progress-left .progress-bar {
    left: 100%;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
}
.progress-round .progress-bar {
    width: 100%;
    height: 100%;
    background: none;
    border-width: 8px;
    border-style: solid;
    position: absolute;
    top: 0;
}
.progress-round .progress-right {
    right: 0;
}
.progress-round .progress-right .progress-bar {
    left: -100%;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-right: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
}
.progress-round .progress-value {
    position: absolute;
    top: 0;
    left: 0;
}