<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6 col-md-6 pr-0">
      <h4 class="sliderTitle mb-3">Workspace</h4>
      <div class="no-gutter border border-dark text-center">
        <div class="col-lg-12 col-md-12 col-12 border-bottom-0 border-right-0 position-relative">
          <!-- Progress bar 1 -->
          <div class="progress-round mx-auto" data-value="50">
            <span class="progress-left">
              <span class="progress-bar" style="border-color: var(--main-color);"></span>
            </span>
            <span class="progress-right">
              <span class="progress-bar" style="border-color: var(--main-color);"></span>
            </span>
            <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
              <div class="h5 font-weight-bold mb-0">50<sup class="small">%</sup></div>
            </div>
          </div>
          <!-- END -->

          <!-- model -->
          <div class="blue block">
            <div id="myModalPopup" class="modal fade" role="dialog">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-body">
                    <div class="progress-round mx-auto" data-value="75">
                      <span class="progress-left">
                        <span class="progress-bar" style="border-color: var(--main-color);"></span>
                      </span>
                      <span class="progress-right">
                        <span class="progress-bar" style="border-color: var(--main-color);"></span>
                      </span>
                      <div
                        class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
                        <div class="h5 font-weight-bold mb-0 small">75
                          <sup class="small">%</sup>
                        </div>
                      </div>
                    </div>
                    <p>
                      <span id="subimagetext">{{ImageTitle}}</span>
                      <img [src]="allowurl(sharedService.imageBase+ImageUrl)" class="img-fluid" alt="">
                    </p>
                  </div>
                  <div class="modal-footers border-0 p-0 text-right">
                    <button (click)="closeModel()" type="button" class="btn">OK</button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div>

            <img [src]="allowurl(sharedService.imageBase+workSpaceData[0].image)" usemap="#image-map" class="img-fluid" id="Port" (window:resize)="onResize($event)" *ngIf="workSpaceData">
            <map name="image-map">
              <area target="" alt="{{data.name}}" title="{{data.name}}" href="javascript:void(0);"
                coords="{{data.coordinates}}" class="image-map"
                shape="poly" *ngFor="let data of SubLayoutData" (click)="onModalPopup(data)">
            </map>


          </div>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="col-lg-12">
        <div class="box-text">
          Check out to your custom cart <br>
          Get your free BOQ<br>
          Best recommended vendor near you<br>

        </div>
      </div>
      <div class="clearfix"></div>
    </div>
     <div class="col-lg-6 col-md-6 bgBlu">
      <div class="row m-0">
        <h4 class="sliderTitle pl-4"><span>activities</span>
          <div class="menu-wrapper">
            <ul class="list-unstyled mb-0 workspace" #widgetsContent>

              <li><a [routerLink]="['../typology/']">{{getCalculatorDatails.name}}</a></li>
              <li><a [routerLink]="['../topography-home/']">{{topographyData.name}} </a></li>
              <li><a [routerLink]="['../level1/']">{{calculatorData.TypeOfProject}}</a></li>
              <li><a [routerLink]="['../level2/']">{{calculatorData.TypeOfProjectLevel2Selected}}</a></li>
              <li><a [routerLink]="['../level3/']">{{bhkFilterData.name}} </a></li>
              <li class="item" style="padding-left:10px;">&nbsp;</li>
            </ul>
            <div class="paddles">
              <button class="left-paddle paddle" (click)="scrollLeft()">
                <i class="fa fa-angle-double-left"></i>
              </button>
              <button class="right-paddle paddle" (click)="scrollRight()">
                <i class="fa fa-angle-double-right"></i>
              </button>
            </div>
          </div>
        </h4>
      </div>
      <div class="row calc-search mr-auto" style="margin-top:5px;">
        <div class="col-lg-3 col-md-3 bg-activites pt-3">
        
          <ul class="ul-activity">
            <li *ngFor="let category of CategoryData;let i= index"><a (click)="menuClick(i+1);" id="menu-{{i+1}}"
                class="sidenav-item"><strong>{{i+1}}.</strong>&nbsp;{{category.name}}</a></li>
            
          </ul>
        </div>
        <div class="col-lg-9 col-md-9 pl-0 pr-0">
          <div class="scroller-style worksapce">
            <div class="row no-gutter border text-center">
              
              <div class="col-lg-4 col-md-4 col-6 bg-grey2 h-170 clac-3 border-bottom-0 calc-2 border-right-0 m-br">
                <div class="img-secation">
                  <input type="checkbox" class="form-control edit_checkbox" style="position: absolute;left: -54px;right: 53px;top: -3px;z-index: 999999;">
                  <!-- <input type="checkbox" class="form-control edit_checkbox" style="padding: 0px 0px;margin-right: 83%;margin-left: -90%;display: block;width: 100%;"> -->
                  <img src="assets/image/workhouse-2.png" class="img-fluid">
                  <h4>wallpaper</h4>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-6 bg-grey2 h-170 clac-3 calc-2 border-bottom-0 bor-m">
                <div class="img-secation">
                  <img src="assets/image/workhouse-3.png" class="img-fluid">
                  <h4>Doors</h4>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-6 bg-grey2 h-170 clac-3 calc-2 border-right-0 border-bottom-0 bor-m">
                <div class="img-secation">
                  <img src="assets/image/workhouse-4.png" class="img-fluid">
                  <h4>CARPENTRY</h4>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-6 bg-grey2 h-170 clac-3 calc-2 border-right-0 border-bottom-0 bor-m">
                <div class="img-secation">
                  <img src="assets/image/workhouse-5.png" class="img-fluid">
                  <h4>PAINTING</h4>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-6 bg-grey2 h-170 clac-3 calc-2 border-bottom-0 bor-m">
                <div class="img-secation">
                  <img src="assets/image/workhouse-6.png" class="img-fluid">
                  <h4>WINDOWS</h4>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-6 bg-grey2 h-170 clac-3 calc-2 border-right-0 border-bottom-0 bor-m">
                <div class="img-secation">
                  <img src="assets/image/workhouse-7.png" class="img-fluid">
                  <h4>BATHROOM FITTINGS</h4>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-6 bg-grey2 h-170 clac-3 calc-2 border-right-0 border-bottom-0 bor-m">
                <div class="img-secation">
                  <img src="assets/image/workhouse-8.png" class="img-fluid">
                  <h4>RAILINGS</h4>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-6 bg-grey2 h-170 clac-3 calc-2 border-bottom-0 bor-m">
                <div class="img-secation">
                  <img src="assets/image/workhouse-2.png" class="img-fluid">
                  <h4>RAILINGS</h4>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-6 bg-grey2 h-170 clac-3 calc-2 border-right-0 border-bottom-0 bor-m">
                <div class="img-secation">
                  <img src="assets/image/workhouse-5.png" class="img-fluid">
                  <h4>RAILINGS</h4>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-6 bg-grey2 h-170 clac-3 calc-2 border-right-0 border-bottom-0 bor-m">
                <div class="img-secation">
                  <img src="assets/image/workhouse-8.png" class="img-fluid">
                  <h4>RAILINGS</h4>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-6 bg-grey2 h-170 clac-3 calc-2 border-bottom-0 bor-m">
                <div class="img-secation">
                  <img src="assets/image/workhouse-8.png" class="img-fluid">
                  <h4>RAILINGS</h4>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-6 bg-grey2 h-170 clac-3 calc-2 border-right-0 border-bottom-0 bor-m">
                <div class="img-secation">
                  <img src="assets/image/workhouse-1.png" class="img-fluid">
                  <h4>RAILINGS</h4>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-6 bg-grey2 h-170 clac-3 calc-2 border-bottom-0 bor-m">
                <div class="img-secation">
                  <img src="assets/image/workhouse-8.png" class="img-fluid">
                  <h4>RAILINGS</h4>
                </div>
              </div>

            </div>
          </div>

        </div>
      </div>

      <div class="row mt-3 pl-4">
        <div class="col-sm-3">
          <img src="assets/image/3d-house.png" class="img-fluid">
        </div>
        <div class="col-sm-9">
          <div class="dynamic-content">
            <h5>ACCURACY BAR</h5>
            <div class="progress p-custom">
              <div class="progress-bar" style="width:70%">70%</div>
            </div>
            <span class="big-heading">Dynamic Costing</span><span class="d-cost">INR 25,75,000 </span>
          </div>

        </div>

      </div>
    </div> 
  </div>
</div>

<img src="assets/img/c1.png" style="position: absolute;
width: 100%;
z-index: 99999;
top: -49%;">
