
.background-fix{
    background-image:url('/assets/image/header_bg1.png');
    background-size:cover;
    background-position: center center;
    background-attachment: fixed;
}
// .bg-about{
//     background-image:url('/assets/image/header_bg1.png');
//     background-size:cover;
//     background-position: center center;
// }
.bg-about-text{
    color:#3d3d53;
    font-style: italic;
    // font-family: "Myriad-pro";
    font-size:40px;
    font-weight: 600;
    text-align: justify;
}
.h-480{
    height:480px;
}
.box-about{
    border: 1px solid #efb7b6;
    background-color: #eb8f8f94;
    min-height: 550px;
    max-height: 550px;
    position: relative;
    background-position: center center;
    background-size: 100% 100%;
    object-fit: cover;
}
.title-fix{
    position: absolute;
    top:10px;
    left:10px;
    font-size: 22px;
    .samll{
        font-variant: small-caps;
        font-size:14px;
    }
}

.box-content{
    font-size:22px;
    color:#3d3d53;
    font-weight: 600;
}
.ml-text{
    margin-left:-150px;
}
.bg-gray-clr{
    background-color: rgb(110 109 109 /20%);
    margin-top:-50px;
}
.item-list{
    list-style-type: none;
    font-size:22px;
    padding-left:20px;
}
.box-round{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    border: 1px solid #ddd;
    text-align: center;
    vertical-align: middle;
    margin: auto;
    margin-top: -20px;
    margin-bottom: 2px;
    background: #fceaed;
    font-size: 22px;
    padding-top: 75px;
}
.img-fix-about{
    height:100%;
    width:100%;
    object-fit: cover;
}
.image-box{
    border:1px solid#ddd;
    // padding:10px;
    background-color:#efb7b6;
    // min-height: 200px;
    // max-height: 300px;
    position: relative;
    img{
        max-height: 300px;
        object-fit: cover;
        width:100%;
        height: 100%;
        border-radius: 5px;
        overflow: hidden;
        box-shadow: 0px 6px 3px -4px #ddd;
        border:1px solid#efb7b6;
    }
    p.title-img{
        position: absolute;
        bottom:0px;
        width: 100%;
        padding:10px;
        // background-color:rgba($color: #ff9c9c9e, $alpha: 0.5);
        background-color:rgba(110, 109, 109, 0.5);
        color:#fff;
    }
}
.team-title{
    color:#3d3d53;
    font-size:22px;
}
.box-team{
    width: 160px;
    height: 200px;
    background-color: #fff;
    border: 1px solid #ddd;
}
.team-content{
    line-height: 17px;
    font-size: 13px;
}
.img-fix-team{
    width:100%;
    height:100%;
    object-fit: cover;
}
.founder-img{
    background-color:#efb7b6;
    margin-bottom: 15px;
}
.about-msg{
    font-size:24px;
    text-align: center;
    color:#3d3d53;
}
.about-msg2{
    font-size:29px;
    text-align: center;
    color:#3d3d53;
    font-weight: 600;
}
.h-300{
    min-height: 200px;
}
.bg-banner{
    background-color:rgb(115 115 115 / 70%);
}
.blog-img-fix{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.box-pos1{
    position: absolute;
    bottom:0px;
    left: 0px;
    height:380px;
    background-color: #3d3d53;
    .img-bg-fix{
        width:100%;
        height: 100%;
        object-fit: cover;
        cursor: pointer;
    }
}
.box-pos2{
    position: absolute;
    bottom:50px;
    right: 0px;
    height: 600px;
    background-color: #303030;
    z-index: 99;
    .img-bg-fix{
        width:100%;
        height: 100%;
        object-fit: cover;
    }
}
.box-pos3{
    position: absolute;
    top:100px;
    left:17%;
    height:350px;
    background-color: #fff;
    z-index:99;
    .img-bg-fix{
        width:100%;
        height: 100%;
        object-fit: cover;
    }
}

.tab-content {
    padding:10px;
    //   border:1px solid #ddd;
    //   border-bottom:0px;
    }
//   .nav-tabs1 {
//   border-bottom: 0px;
//       border-top: 1px solid #ddd;
//   }
    .nav-tabs1 > li {
  margin-bottom:0;
      margin-top:-1px;
      padding:15px;
  }
    
    .nav-tabs1 > li > a {
    padding-top: 8px;
    padding-bottom: 8px;
    line-height: 20px;
    color:#3d3d53;
    // border: 1px solid transparent;
    // -moz-border-radius:0px;
    // -webkit-border-radius:0px;
    // border-radius:0px;
    // -moz-border-radius-bottomright: 5px;
    // -webkit-border-bottom-right-radius: 5px;
    // border-bottom-right-radius: 5px;
    // -moz-border-radius-bottomleft: 5px;
    // -webkit-border-bottom-left-radius: 5px;
    // border-bottom-left-radius: 5px;
  }
.nav-tabs1 > .active > a, .nav-tabs1 > .active > a:hover, .nav-tabs1 > .active > a:focus {
  color: #eb8f8f;
//   cursor: default;
  cursor: pointer;
//   background-color: #ffffff;
//   border: 1px solid #ddd;
//   border-top-color: transparent;
}
.img-fix-bx{
    width:100%;
    max-width: 440px;
    height: 100%;
    max-height:250px;
    min-height: 250px;
    object-fit: cover;
    background-color:#828b94;
}
.tb-title{
    font-weight: 600;
    color: #3d3d53;
}
.banner-fix{
    width:100%;
    height: 200px;
    object-fit: cover;
    background-color: #828b94;
}
.ft-18{font-size:18px;}
.h-80{
    min-height: 60px;
    margin-bottom:20px;
}

.box-test1{
    width:100%;
    height: 100%;
    max-height: 220px;
    min-height: 220px;
    border:1px solid#3d3d53;
}
.box-test2{
    width:100%;
    max-width:60%;
    height: 100%;
    max-height: 150px;
    min-height: 150px;
    background-color: #3d3d53;
}
.bg-light-gray{
    background-color:#b8bdc1;
}

.job-title{
    position: absolute;
    left:10px;
    top:10px;
    // font-size:18px;
    font-size:14px;
    text-transform: uppercase;
    color:#3d3d53;
}
.build-title{
    color:#3d3d53;
    font-size:22px;
}
.ques-about{
    background-color: #ffefe2;
}
.footer-bg{
    background-color: #f3c2c1;
}

.title-ced{
    // top:10px;
    // left:10px;
    font-size: 22px;
    .samll{
        font-variant: small-caps;
        font-size:14px;
    }
}
.footer-title{
    color:#3d3d53;
    font-weight: bold;
}
.list-footer{
    list-style-type: none;
    padding-left:5px;
    line-height: 25px;
    color:#fff;
    li{
        border-bottom:1px solid#fff;
        line-height: 35px;
    }
}
.list-footer2{
    list-style-type: none;
    padding-left:5px;
    line-height: 25px;
    color:#fff;
    li{
        border-bottom:1px solid#fff;
        line-height: 20px;
        padding-bottom: 10px;
        padding-top:10px;
    }
}

.img-footer{
    width:50px;
    height:50px;
    object-fit: cover;
    // background-color:#fff;
}
.img-list{
    list-style-type: none;
    li:nth-child(4) {
        clear: left;
    }
    li{
        float:left;
        margin-right:8px;
        margin-bottom:8px;
    }
}
.myInput{
    width:150px;
    border:none;
    border-bottom:1px solid#303030;
    background-color:transparent;
    margin:0px 5px;
}
.ft-16{
    font-size:16px;
}

.footer-bg2{
    background-color:#303030;
    color:#fff;
}
.mr-margin{
    margin-right:-44px;
}


.circle-box-shadow {
    width: 210px;
    height: 210px;
    border: 10px solid #fff;
    box-shadow: 1px 4px 14px #9a9a9a;
    border-radius: 100%;
    background-color: #fff;
    margin-bottom: 20px;
}
.circle-box-red {
    width: 190px;
    height: 190px;
    border: 1px solid#EF4960;
    color: #EF445C;
    vertical-align: middle;
    border-radius: 100%;
    padding-top: 5px;
}

.circle-box-red h2 {
    color: #EF445C;
    font-size: 55px;
    font-weight: 400;
    text-align: center;
    line-height: 40px;
    margin-top: 43px;
}
.circle-box-shadow p {
    color: #687083;
    font-size:18px;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
}

.circle-box-green {
    width: 190px;
    height: 190px;
    border: 1px solid#5DD8D3;
    color: #5DD8D3;
    vertical-align: middle;
    // padding-left: 10px;
    border-radius: 100%;
    padding-top: 5px;
}
.circle-box-green h2 {
    color: #5DD8D3;
    font-size: 55px;
    font-weight: 400;
    text-align: center;
    line-height: 40px;
    margin-top: 43px;
}
.circle-box-blue {
    width: 190px;
    height: 190px;
    border: 1px solid#9264D3;
    color: #9264D3;
    vertical-align: middle;
    // padding-left: 10px;
    border-radius: 100%;
    padding-top: 5px;
}
.circle-box-blue h2 {
    color: #9264D3;
    font-size: 55px;
    font-weight: 400;
    text-align: center;
    line-height: 40px;
    margin-top: 43px;
}

.bg-img-circle{
    background-image:url('/assets/image/bg-circle.png');
     background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: bottom right;

}

.blog-title{
    font-size:55px;
    font-weight: 600;
    color:#3d3d53;
}
.br-1{
    border-right:2px solid#3d3d53;
}
.blog-title2{
    font-size: 170px;
    font-family: Gabriola;
    padding-left: 25px;
    color:#3d3d53;
}
.blog-title3{
    font-size: 80px;
    font-family: Gabriola;
    padding-left: 25px;
    color:#3d3d53;
    text-align: center;
}
.blog-title4{
    width: 100%;
    text-align: center;
    font-size:65px;
    font-family: Gabriola;
    padding-left: 25px;
    color:#3d3d53;
}
.btn-secondary2 {
    color: #fff;
    background-color: #6c757d8c;
    border-color: #6c757d94;
}
.btn-secondary2:hover{
    background-color:#00eb9c;
    border:1px solid#00eb9c;
}
.coustom-color{
    color:#3d3d53;
}
.ft-51{
    font-size:51px;
}
.ft-32{
    font-size:22px;
}
.cursorp{
    cursor: pointer;
}
.link-ft
{
font-size:18px;
}
.z_index{
    z-index: 999 !important;
}
.border-left-title{
    padding-left: 20px;
    border-left: solid 12px #727372;
    line-height: 55px;
}
.bg-about-text{
    font-style: normal;
    font-size: 30px;
}
.subtitle{
    margin-left: 32px;
    font-size: 32px;
}
.inner-how-it-works{
    padding-left: 32px;
}
.active_card{
    border: 2px solid #01c587 !important;
    background-color: #01c587;
    color: #fff;
}
.inline_height{
    li{
        line-height: 50px;
    };
}