<section id="works" class="home-scroller-section section-commen mt-5">
    <div class="container">
        <h1 class="big">How it Works</h1>
        <h5 class="my-4">Top 5 features about CED that would help your dream project come true.</h5>

    </div>

    <!-- carousel Start -->
    <div class="container">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">

                <div class="row">
                    <div class="carousel-item active py-5">
                        <div class="col-10 offset-1">
                            <div class="row">
                                <div class="col-sm-12">
                                    <h5 class="color-blue mb-5">1: Know how much it would cost. Get 95% accurate
                                        estimate with </h5>
                                </div>

                                <div class="col-lg-8">
                                    <h1 class="font-weight-medium mb-4">Comprehensive <br> Cost Calculator</h1>
                                    <ul class="list-text">
                                        <li>- Add City (location)</li>
                                        <li>- Select type of project</li>
                                        <li>- Provide project related information like Area, Layout, Finishes etc.</li>
                                    </ul>
                                </div>
                                <div class="col-lg-4">
                                    <img src="assets/img/hiw-1.png" class="img-fluid">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="carousel-item py-5">
                        <div class="col-10 offset-1">
                            <div class="row">
                                <div class="col-sm-12">
                                    <h5 class="color-blue mb-5">2: Get it build by best professional near you. </h5>
                                </div>

                                <div class="col-lg-8">
                                    <h1 class="font-weight-medium mb-4">Directory <br> of service provider</h1>
                                    <ul class="list-text">
                                        <li>- Contractors, Architects, Suppliers etc.</li>
                                        <li>- Get extensive portfolios of various service provider.</li>
                                        <li>- View their recent projects</li>
                                        <li>-Get respective rates and charges upfront. </li>
                                    </ul>
                                </div>
                                <div class="col-lg-4">
                                    <img src="assets/img/howItWorks2.png" class="img-fluid">
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="carousel-item py-5">
                        <div class="col-10 offset-1">
                            <div class="row">
                                <div class="col-lg-12">
                                    <h5 class=" color-blue mb-5">3: We make it affordable with our
                                        best prices. </h5>
                                </div>
                                <div class="col-lg-8">
                                    <h1 class="font-weight-medium mb-4"> CED marketplace </h1>
                                    <ul class="list-text">
                                        <li>- Special rates at CED from all major manufacturers</li>
                                        <li>- Directly purchase from the Manufacturer </li>
                                        <li>- Get scheduled delivery of genuine products</li>
                                        <li>- Shops and products with respect to your location.</li>
                                    </ul>
                                </div>
                                <div class="col-lg-4">
                                    <img src="assets/img/howItWorks3.png" class="img-fluid">
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="carousel-item py-5">
                        <div class="col-10 offset-1">
                            <div class="row">
                                <div class="col-sm-12">
                                    <h5 class="color-blue mb-5">4: Make it simple our simulator. </h5>
                                </div>

                                <div class="col-lg-8">
                                    <h1 class="font-weight-medium mb-4">Real time simulator</h1>
                                    <ul class="list-text">
                                        <li>- Choose and manage finishes and fixtures using real time Stimulator. </li>
                                        <li>- Get details from exteriors to interior fixture to layers of material.
                                        </li>
                                        <li>- Left side shows real time 3D and left you can see detailed list of fixture
                                            and
                                            materials.</li>
                                        <li>- Makes it simple even for a layman. </li>
                                    </ul>
                                </div>
                                <div class="col-lg-4">
                                    <img src="assets/img/howItWorks4.png" class="img-fluid">
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="carousel-item py-5">
                        <div class="col-10 offset-1">
                            <div class="row">
                                <div class="col-sm-12">
                                    <h5 class="color-blue mb-5">5: Completion on time CED helps in Bookings, Tracking
                                        and
                                        Scheduling
                                    </h5>
                                </div>

                                <div class="col-lg-8">
                                    <h1 class="font-weight-medium mb-4">End to end project <br> management</h1>
                                    <ul class="list-text">
                                        <li>- CED helps to to schedule various tasks as per your project.</li>
                                        <li>- You cab book services and orders from marketplace directly from CED’s
                                            platform.
                                        </li>
                                        <li>- Track your operations on site as well as you bookings.</li>
                                        <li>- Also provide you hassle free payment options.</li>
                                    </ul>
                                </div>
                                <div class="col-lg-4">
                                    <img src="assets/img/howItWorks5.png" class="img-fluid">
                                </div>
                            </div>
                        </div>
                    </div>


                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                        <span class="fa fa-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                        <span class="fa fa-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>

                </div>
                <div class="clearfix">&nbsp;</div>
            </div>


        </div>

    </div>

    <!-- carousel END -->
</section>

<!-- WE ARE GROWING -->

<section class="mt-5 section-count">
    <div class="container">
        <div class="row mb-5">
            <div class="col-lg-12">
                <h1 class="pm-color mb-5">We are growing Fast</h1>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-12 mb-sm-3 mb-lg-5">
                <div class="bg-white countBox">
                    <span>305</span>
                    <hr>
                    <p>Service Providers</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 mb-sm-3">
                <div class="bg-white countBox">
                    <span>35</span>
                    <hr>
                    <p>Manufacturers</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 mb-sm-3">
                <div class="bg-white countBox">
                    <span>3500</span>
                    <hr>
                    <p>Projects Created</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="bg-white countBox">
                    <span>1M <em class="smallText">sq.ft.</em></span>
                    <hr>
                    <p>Projects Delivered</p>
                </div>
            </div>

        </div>
    </div>
</section>

<!-- 2nd SLIDER  -->
<section class="home-scroller-section bg-change section-commen mt-5">
    <div class="container">
        <h5 class="mb-1">5 points how CED would help service providers boost their business.</h5>
    </div>

    <!-- carousel Start -->
    <div class="container">
        <div id="carouselExampleControls2" class="carousel slide mt-4" data-ride="carousel">
            <div class="carousel-inner">


                <div class="row">
                    <div class="carousel-item active py-5">
                        <div class="col-10 offset-1">
                            <div class="row">
                                <div class="col-sm-12">
                                    <h5 class="color-blue mb-5">1: Get on-board & exhibit your work to the world out
                                        there.
                                    </h5>
                                </div>

                                <div class="col-lg-8">
                                    <h1 class="font-weight-medium mb-4">Make your Profile <br> showcase your skills</h1>
                                    <ul class="list-text">
                                        <li>- Create your personalised WORK-FOLIO on CED, enjoy automated templates to
                                            make
                                            attractive portfolios.
                                        </li>
                                        <li>- Don't miss out opportunities, to get sales connect.</li>
                                    </ul>
                                </div>
                                <div class="col-lg-4">
                                    <img src="assets/img/CED-help1.png" class="img-fluid">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="carousel-item py-5">
                        <div class="col-10 offset-1">
                            <div class="row">
                                <div class="col-sm-12">
                                    <h5 class="color-blue mb-5"> 2: Get work contracts and connect with leading
                                        manufacturers of
                                        <br>
                                        the industry.
                                    </h5>
                                </div>

                                <div class="col-lg-8">
                                    <h1 class="font-weight-medium mb-4">Grow your business</h1>
                                    <ul class="list-text">
                                        <li>- Get exposure to newer landscape of consumer.</li>
                                        <li>- Enhance work capability: access to material providers, availability of
                                            material at
                                            discount.</li>
                                        <li>- Get material at best market prices.</li>
                                    </ul>
                                </div>
                                <div class="col-lg-4">
                                    <img src="assets/img/CED-help2.png" class="img-fluid">
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="carousel-item py-5">
                        <div class="col-10 offset-1">
                            <div class="row">
                                <div class="col-lg-12">
                                    <h5 class="color-blue mb-5">3: Your journey will be automated from initiation to
                                        closure
                                        of<br>
                                        the project. </h5>
                                </div>
                                <div class="col-lg-8">
                                    <h1 class="font-weight-medium mb-4">Journey easy at CED </h1>
                                    <ul class="list-text">
                                        <li>- Get help in property structuring the commissioning your work.</li>
                                        <li>- Minimise your TIME OVER RUN to prevent COST OVER RUN. </li>
                                        <li>- Get scheduled delivery of genuine products. </li>
                                    </ul>
                                </div>
                                <div class="col-lg-4">
                                    <img src="assets/img/CED-help3.png" class="img-fluid">
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="carousel-item py-5">
                        <div class="col-10 offset-1">
                            <div class="row">
                                <div class="col-sm-12">
                                    <h5 class="color-blue mb-5">4: Enhance your business through ads and ratings with
                                        CED
                                        and<br>
                                        skill-up your business </h5>
                                </div>

                                <div class="col-lg-8">
                                    <h1 class="font-weight-medium mb-4">Level of your service</h1>
                                    <ul class="list-text">
                                        <li>- Get ANALYTICAL DASHBOARD to analyse your service quality.</li>
                                        <li>- Target your customers according to their demographic and location. </li>
                                        <li>- Advertise your service on CED & make the buzz about your service a little
                                            loud.
                                        </li>
                                        <li>- Get HIGEST RATINGS and real time feed back from your customers. </li>
                                    </ul>
                                </div>
                                <div class="col-lg-4">
                                    <img src="assets/img/CED-help4.png" class="img-fluid">
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="carousel-item py-5">
                        <div class="col-10 offset-1">
                            <div class="row">
                                <div class="col-sm-12">
                                    <h5 class="color-blue mb-5">5: Unlock business new avenues with learning and
                                        development
                                    </h5>
                                </div>

                                <div class="col-lg-8">
                                    <h1 class="font-weight-medium mb-4">Potential to speedy growth</h1>
                                    <ul class="list-text">
                                        <li>- Expand your service portfolio with CED. </li>
                                        <li>- Exposure to new technologies, and techniques.</li>
                                        <li>- Grow your sales with skill improvement.</li>
                                        <li>- Seminars for upscaling and better project management</li>
                                    </ul>
                                </div>
                                <div class="col-lg-4">
                                    <img src="assets/img/CED-help5.png" class="img-fluid">
                                </div>
                            </div>
                        </div>
                    </div>


                    <a class="carousel-control-prev" href="#carouselExampleControls2" role="button" data-slide="prev">
                        <span class="fa fa-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls2" role="button" data-slide="next">
                        <span class="fa fa-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>

                </div>
                <div class="clearfix">&nbsp;</div>
            </div>


        </div>
    </div>

    <!-- carousel END -->
</section>

<!-- ABOUT US SECTION -->

<section class="section-commen mt-5" id="aboutUs">
    <div class="container">
        <div class="row align-items-baseline">
            <div class="col-lg-12">
                <h1 class="big">About Us</h1>
                <p class="medium-text ml-md-5 my-4">At CED, our mission is to make the process of commissioning of an
                    architecture
                    and construction project, as
                    enjoyable as, buying your favourite pair of sneakers online.</p>
            </div>
            <div class="col-md-5">
                <img src="assets/img/about-img1.png" class="img-fluid mb-3">
            </div>
            <div class="col-md-7">
                <p>We make the process of Planning, and Execution of any project of Design, Architecture or
                    Construction, as enjoyable as buying your favourite pair of sneakers online. <br><br>

                    We are a one stop platform to calculate accurate and effective project cost, we generate and
                    maintain schedule for your construction. With custom ordering cart and direct to nearest top-rated
                    service provider for all architectural projects.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7">
                <ul class="list-about">
                    <li>Select your design module</li>
                    <li>Add in the desired material</li>
                    <li>Calculate your cost-effective estimate</li>
                    <li>Direct yourself to nearest highest rated vendor</li>
                    <li>Purchase everything in one go at one stop</li>
                    <li>Schedule your material supply
                        Keep a track of your project</li>
                </ul>
            </div>
            <div class="col-md-5">
                <img src="assets/img/about-img2.png" class="img-fluid">
            </div>
        </div>
    </div>
</section>

<!-- TABS SECTION -->

<section class="section-commen mt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 tabs-wrapper">
                <h1 class="mb-4">Core Values</h1>

                <!-- TABS -->
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation" >
                        <a class="nav-link {{tab1==true?'active':''}}" id="home-tab" data-toggle="tab" href="#home" role="tab"
                            aria-controls="home" aria-selected="true" (click)="onActiveClass('tab1')">Value proposition</a>
                    </li>
                    <li class="nav-item" role="presentation" (click)="onActiveClass('tab2')">
                        <a class="nav-link {{tab2==true?'active':''}}" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                            aria-controls="profile" aria-selected="false"(click)="onActiveClass('tab2')">Reach</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link {{tab3==true?'active':''}}" id="work-tab" data-toggle="tab" href="#work" role="tab" aria-controls="work"
                            aria-selected="false" (click)="onActiveClass('tab3')">Work Contracts</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link {{tab4==true?'active':''}}" id="learning-tab" data-toggle="tab" href="#learning" role="tab"
                            aria-controls="learning" aria-selected="false" (click)="onActiveClass('tab4')">Learning & Development</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link {{tab5==true?'active':''}}" id="pre-tab" data-toggle="tab" href="#pre" role="tab" aria-controls="pre"
                            aria-selected="false" (click)="onActiveClass('tab5')">Pre-negotiated OEM rates</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="row align-items-baseline" *ngIf="tab1">
                            <div class="col-lg-6">
                                <h1 class="font-weight-medium mb-4">Value Proposition for PARTNERS</h1>
                                <p>With work contracts as a core proposition, at CED we enable partners to showcase
                                    their works and expertise and get exposed to the digital consumer landscape.</p>
                            </div>
                            <div class="col-lg-6">
                                <img src="assets/img/core-value1.png" class="img-fluid">
                            </div>
                        </div>
                        <div class="row align-items-baseline" *ngIf="tab2">
                            <div class="col-lg-6">
                                <h1 class="font-weight-medium mb-4">Broadening your the Horizon</h1>
                                <p>Exposure to a new consumer landscape, they were never in touch with Platform to
                                    advertise and showcase their work.
                                </p>
                            </div>
                            <div class="col-lg-6">
                                <img src="assets/img/core-value2.png" class="img-fluid">
                            </div>
                        </div>
                        <div class="row align-items-baseline" *ngIf="tab3">
                            <div class="col-lg-6">
                                <h1 class="font-weight-medium mb-4">End to End Contract management</h1>
                                <p>For every transaction rooted from platform, CED will provide expert documentation
                                    between consumer and service provider to solidify the terms discussed for execution.
                                </p>
                            </div>
                            <div class="col-lg-6">
                                <img src="assets/img/core-value3.png" class="img-fluid">
                            </div>
                        </div>
                        <div class="row align-items-baseline" *ngIf="tab4">
                            <div class="col-lg-6">
                                <h1 class="font-weight-medium mb-4">Learning & Development</h1>
                                <p>Weekly, fortnightly and monthly, L&D programme in form of graphics, videos &
                                    seminars, for best industry practises, workmanship & skill development of vendors
                                </p>
                            </div>
                            <div class="col-lg-6">
                                <img src="assets/img/core-value4.png" class="img-fluid">
                            </div>
                        </div>
                        <div class="row align-items-baseline" *ngIf="tab5">
                            <div class="col-lg-6">
                                <h1 class="font-weight-medium mb-4">Pre-negotiated OEM rates</h1>
                                <p>Subscribed vendors will be exposed to the benefits of pre-negotiated OEM rates, in
                                    order to maximise their profits.</p>
                            </div>
                            <div class="col-lg-6">
                                <img src="assets/img/core-value5.png" class="img-fluid">
                            </div>
                        </div>
                    </div>
                    <!-- <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab"  *ngIf="tab2">
                        <div class="row align-items-baseline">
                            <div class="col-lg-6">
                                <h1 class="font-weight-medium mb-4">Broadening your the Horizon</h1>
                                <p>Exposure to a new consumer landscape, they were never in touch with Platform to
                                    advertise and showcase their work.
                                </p>
                            </div>
                            <div class="col-lg-6">
                                <img src="assets/img/core-value2.png" class="img-fluid">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade show active" id="work" role="tabpanel" aria-labelledby="work-tab"  *ngIf="tab3">
                        <div class="row align-items-baseline">
                            <div class="col-lg-6">
                                <h1 class="font-weight-medium mb-4">End to End Contract management</h1>
                                <p>For every transaction rooted from platform, CED will provide expert documentation
                                    between consumer and service provider to solidify the terms discussed for execution.
                                </p>
                            </div>
                            <div class="col-lg-6">
                                <img src="assets/img/core-value3.png" class="img-fluid">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade show active" id="learning" role="tabpanel" aria-labelledby="learning-tab"  *ngIf="tab4">
                        <div class="row align-items-baseline">
                            <div class="col-lg-6">
                                <h1 class="font-weight-medium mb-4">Learning & Development</h1>
                                <p>Weekly, fortnightly and monthly, L&D programme in form of graphics, videos &
                                    seminars, for best industry practises, workmanship & skill development of vendors
                                </p>
                            </div>
                            <div class="col-lg-6">
                                <img src="assets/img/core-value4.png" class="img-fluid">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade show active" id="pre" role="tabpanel" aria-labelledby="pre-tab"  *ngIf="tab5">
                        <div class="row align-items-baseline">
                            <div class="col-lg-6">
                                <h1 class="font-weight-medium mb-4">Pre-negotiated OEM rates</h1>
                                <p>Subscribed vendors will be exposed to the benefits of pre-negotiated OEM rates, in
                                    order to maximise their profits.</p>
                            </div>
                            <div class="col-lg-6">
                                <img src="assets/img/core-value5.png" class="img-fluid">
                            </div>
                        </div>
                    </div> -->
                </div>
                <!-- TABS ENDS -->
            </div>
        </div>
    </div>
</section>

<!-- BLOG -->
<section class="section-commen mt-5" id="blog_section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="big mb-3">Blogs</h1>
            </div>
            <div class="col-8">
                <h3 class="font-weight-medium mb-3">Popular Reads</h3>
            </div>
            <div class="col-4 text-right"><a href="https://ceddaac.com/blog/" target="_blank" class="link">Read More</a>
            </div>
        </div>

        <!-- CARDS -->
        <div class="row row-cols-1 row-cols-md-3">
            <div class="col mb-4 card-wrap" *ngFor="let listItem of Blog_List" (click)="onRedirect(listItem.link)"
                style="cursor: pointer;">
                <div class="card">
                    <ng-container *ngIf="listItem._embedded['wp:featuredmedia']">
                        <img src="{{listItem._embedded['wp:featuredmedia'][0]['source_url']}}" class="blog-img-fix"
                            onError="this.src='assets/image/blog-img.jpg'">
                    </ng-container>
                    <ng-container *ngIf="!listItem._embedded['wp:featuredmedia']">
                        <img src="assets/image/blog-img.jpg" class="blog-img-fix"
                            onError="this.src='assets/image/blog-img.jpg'">
                    </ng-container>
                    <div class="card-body">
                        {{listItem.title.rendered}}
                        
                    </div>
                </div>
            </div>
            <!-- <div class="col mb-4 card-wrap">
                <div class="card">
                    <img src="assets/img/blog2.png" class="img-fluid">
                    <div class="card-body d-flex">
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                            additional content.</p>
                        <i class="fas fa-heart"></i>
                    </div>
                </div>
            </div>
            <div class="col mb-4 card-wrap">
                <div class="card">
                    <img src="assets/img/blog3.png" class="img-fluid">
                    <div class="card-body d-flex">
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                            additional content.</p>
                        <i class="fas fa-heart"></i>
                    </div>
                </div>
            </div> -->
        </div>


        <div class="row">
            <div class="col-12 mt-4">
                <h3 class="font-weight-medium mb-3">CED Video Series</h3>
            </div>
            <!-- <div class="col-6 mt-4 text-right"><a href="" class="link">Read More</a></div> -->
        </div>

        <div class="row row-cols-1 row-cols-md-3">
            <div class="col mb-4 card-wrap">
                <div class="card">
                    <video src="assets/img/video1.mp4" height="222" onmouseover="this.play()" onmouseout="this.pause();"
                        (click)="onImageActive('image2')" poster="assets/img/video-thumb1.jpg">
                    </video>
                    <!-- <video src="assets/images/news-3.mp4" controls onmouseover="this.play()" onmouseout="this.pause();"
                        (click)="onImageActive('image2')">
                    </video> -->
                    <div class="p-2 d-flex">
                        <h5 class="card-title flex-grow-1">Top 3 challenges during project execution <br>
                            <span class="small">526 views</span>
                            <span class="small ml-sm-5">Released: 23 Feb 2021 </span>
                        </h5>
                        <!-- <i class="fas fa-heart"></i> -->
                    </div>
                </div>
            </div>
            <div class="col mb-4 card-wrap">
                <div class="card">
                    <video src="assets/img/video2.mp4" height="222" onmouseover="this.play()" onmouseout="this.pause();"
                        (click)="onImageActive('image2')" poster="assets/img/video-thumb2.jpg">
                    </video>
                    <div class="p-2 d-flex">
                        <h5 class="card-title flex-grow-1">Major levers of cost variation <br>
                            <span class="small">411 views</span>
                            <span class="small ml-sm-5">Released: 11 Mar 2021 </span>
                        </h5>
                    </div>
                </div>
            </div>
            <div class="col mb-4 card-wrap">
                <div class="card">
                    <video src="assets/img/video3.mp4" height="222" onmouseover="this.play()" onmouseout="this.pause();"
                        (click)="onImageActive('image2')" poster="assets/img/video-thumb3.jpg">
                    </video>
                    <div class="p-2 d-flex">
                        <h5 class="card-title flex-grow-1">TOP 3 challenges in project design <br>
                            <span class="small">357 views</span>
                            <span class="small ml-sm-5">Released: 20 Mar 2020 </span>
                        </h5>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<!-- TEAM -->

<section class="section-commen mt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="big mb-5">Our Team</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-10 offset-lg-1 col-sm-12">
                <div class="row row-cols-1 row-cols-md-4">
                    <div class="col mb-md-5">
                        <div class="team-card">
                            <img src="assets/image/team-img1.jpg" class="img-fluid">
                            <h5 class="team-title">Rahul Jangir</h5>
                            <span>Founder</span>
                            <a href="https://www.linkedin.com/in/rahul-jangir-91a53190?originalSubdomain=in"
                                target="_blank"><img src="assets/img/linkedin.png"></a>
                        </div>
                    </div>
                    <div class="col mb-md-5">
                        <div class="team-card">
                            <img src="assets/image/team-img2.jpg" class="img-fluid">
                            <h5 class="team-title">Shubham Jangir</h5>
                            <span>Founder</span>
                            <a href="https://www.linkedin.com/in/shubham-jangir-3b1267102/?originalSubdomain=in"
                                target="_blank"><img src="assets/img/linkedin.png"></a>
                        </div>
                    </div>
                    <div class="col mb-md-5">
                        <div class="team-card">
                            <img src="assets/img/Picture2.jpg" class="img-fluid">
                            <h5 class="team-title">Sarthak Rohilla</h5>
                            <span>Co-Founder </span>
                            <a><img src="assets/img/linkedin.png"></a>
                        </div>
                    </div>
                    <div class="col mb-md-5">
                        <div class="team-card">
                            <img src="assets/image/team-img3.jpg" class="img-fluid">
                            <h5 class="team-title">Nitesh R Jain</h5>
                            <span>Head Data Technology</span>
                            <a href="https://www.linkedin.com/in/niteshrajjain/?originalSubdomain=in"
                                target="_blank"><img src="assets/img/linkedin.png"></a>
                        </div>
                    </div>
                    <div class="col mb-md-5">
                        <div class="team-card">
                            <img src="assets/img/Picture1.jpg" class="img-fluid">
                            <h5 class="team-title">Harish Sembara</h5>
                            <span>Head Sales</span>
                            <a><img src="assets/img/linkedin.png"></a>
                        </div>
                    </div>
                    <div class="col mb-md-5">
                        <div class="team-card">
                            <img src="assets/img/Picture3.jpg" class="img-fluid">
                            <h5 class="team-title">Saurabh Jadhav</h5>
                            <span>Head Brand and Marketing</span>
                            <a><img src="assets/img/linkedin.png"></a>
                        </div>
                    </div>
                    <div class="col mb-md-5">
                        <div class="team-card">
                            <img src="assets/img/Picture4.jpg" class="img-fluid">
                            <h5 class="team-title">Sachin Agrawal</h5>
                            <span>Advisor Business and Growth</span>
                            <a><img src="assets/img/linkedin.png"></a>
                        </div>
                    </div>
                    <div class="col mb-md-5">
                        <div class="team-card">
                            <img src="assets/img/Picture5.jpg" class="img-fluid">
                            <h5 class="team-title">Sonal Lakhera</h5>
                            <span>Head Design</span>
                            <a><img src="assets/img/linkedin.png"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<!-- CONTACT US -->

<section class="section-commen contact-section my-5" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="big mb-5">Contact Us</h1>
            </div>
            <div class="col-lg-6 border-right">
                <h2>Need to get in touch with our team, We are all ears. </h2>
                <span class="sub-title">Tell us about yourself and your query and we’ll get back to you.</span>

                <form [formGroup]="Addform" class="form-inline">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group mb-2">
                                <label for="input1">Full Name</label>
                                <input type="text" class="form-control" formControlName="name" />
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group mb-2">
                                <label for="input2">Email Adress</label>
                                <input type="text" class="form-control" formControlName="mail">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group mb-2">
                                <label for="input3">Organisation</label>
                                <input type="text" class="form-control" formControlName="work">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group mb-2">
                                <label for="input4">Phone No.</label>
                                <input type="text" class="form-control" id="input4"  formControlName="mobile" >
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group mb-2">
                                <label for="inlineFormCustomSelectPref">Connect as</label>

                                <select class="form-control ft-16" formControlName="provider">
                                    <option value="" disabled selected></option>
                                    <option value="Service Provider">Service Provider</option>
                                    <option value="Manufacturer">Manufacturer</option>
                                    <option value="Seller">Seller</option>
                                    <option value="Consumer">Consumer</option>
                                    <option value="Investor">Investor</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group mb-2">
                                <label>In context</label>
                                <select class="form-control ft-16" formControlName="want">
                                    <option value="" disabled selected></option>
                                    <option value="wan't to">wan't to</option>
                                    <option value="wan't to explore/inquire">wan't to explore/inquire</option>
                                    <option value="am curious">am curious</option>
                                    <option value="have an pressing need">have an pressing need</option>
                                    <option value="have a suggestion">have a suggestion</option>
                                    <option value="have an escalation">have an escalation</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group mb-2">
                                <label for="input5">Describe your query.</label>
                                <textarea class="form-control w-100"></textarea>

                            </div>
                        </div>
                        <div class="col-sm-12">
                            <button type="submit" class="sumbit-btn pull-right"
                                (click)="onSubmitReview()">Submit</button>
                            <div class="clearfix"></div>
                        </div>
                    </div>

                </form>

            </div>

            <div class="col-lg-6 mb-5 connect">

                <span class="d-block w-100 text-left">Connect with someone : </span><br>

                <div class="text-left w-100 text-left ml-sm-2">Phone no. <br> 9540549539, 9799057847</div><br>
                <div class="text-left w-100 text-left ml-sm-2">
                    Email address <br>
                    <a href="mailto:info@ceddaac.com">info@ceddaac.com</a>&nbsp;&nbsp;&nbsp;
                    <a href="mailto:Sales@ceddaac.com">Sales@ceddaac.com</a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- FOOTER -->

<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <img src="assets/img/logo-footer.png" width="120">
            </div>
            <div class="col-sm-4">
                <h5>Services</h5>
                <ul>
                    <li>Calculate accurate and effective project costs</li>
                    <li>Get comprehensive list of material required</li>
                    <li>Get a end to end Project Management</li>
                    <li>Connect to service providers</li>
                </ul>
            </div>
            <div class="col-sm-4">
                <h5>Quick Links</h5>
                <ul>
                    <li><a href="javascript:void(0)" routerLink="/typology">Calculator</a></li>
                    <li><a href="javascript:void(0)" routerLink="/directory">Directory</a></li>
                    <li><a href="">Marketplace</a></li>
                    <li><a href="home#careers">Careers </a></li>
                    <li><a href="home#aboutUs">Subscribe</a></li>
                </ul>
            </div>
            <div class="col-sm-4">
                <h5>Social Media</h5>
                <a href="" class="social-link" target="_blank"
                    href="https://www.facebook.com/CEDdaac-115273257269560"><img src="assets/img/facebook-f.png"></a>
                <a href="" class="social-link" target="_blank" href="https://www.instagram.com/ceddaac/"><img
                        src="assets/img/instagram-f.png"></a>
                <a href="" class="social-link" target="_blank" href="https://www.linkedin.com/company/ceddaac"><img
                        src="assets/img/linkedin-f.png"></a>
                <a href="" class="social-link"><img src="assets/img/twitter-f.png"></a>
                <a href="" class="social-link"><img src="assets/img/youtube-f.png"> </a>
            </div>
        </div>
    </div>

    <!-- Terms & Condition | Privacy & Policies | Cookie Policy -->
    <div class="clearfix">&nbsp;</div>
    <div class="container-fluid footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col text-left">Copyright &copy; CEDDAAC 2021. All Rights Reserved.</div>
                <div class="col text-right">
                    <a href="" routerLink="/home/termsandcondition">Terms &amp; Condition</a> |
                    <a href="" routerLink="/home/privacypolicy">Privacy &amp; Policies</a> |
                    <a href="" routerLink="/home/cookiepolicy">Cookie Policy</a>
                </div>
            </div>
        </div>
    </div>
</footer>