<div class="background-fix">
    <section id="works">
        <div class="container-fluid bg-about">
            <div class="container">
                <div class="row m-0 py-5 align-items-center pt-5">
                    <div class="col-md-12 col-lg-12 pt-5">
                        <h4 class="bg-about-text" style="font-family: sans-serif;">In 5 Steps know, What is CED and How it would help your dream project come true</h4>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container-fluid py-5">
            <div class="container">
            <div class="row m-0 py-5 align-items-center">
                <div class="col-md-12 col-lg-12">
                    <h4 class="bg-about-text border-left-title mb-5">STEP 1: Know how much it would cost ? Financial planning</h4>
                    <p class="bg-about-text subtitle" style="color: #adaaaa;">In just simple 7 clicks !!! Get 95% accurate costing</p>
                </div>
            </div>
            <div class="row m-0 align-items-center">
                <div class="tabbable w-100">
                    <div class="">
                        <div id="tab1" class="inner-how-it-works">
                            <div class="row m-0 align-items-center">
                                <div class="col-md-6">
                                    <h6 class="coustom-color">Use our</h6>
                                    <h2 class="tb-title">Comprehensive Cost Calculator</h2>
                                    <div class="col-lg-12 p-0 ft-32 text-justify coustom-color">
                                        <ul style="list-style: disc;padding-left: 25px;">
                                            <li> Add City (location)</li>
                                            <li> Select type of project</li>
                                            <li>Provide project related <br> information like size etc.
                                                </li>
                                            </ul>
                                    </div>
                                </div>
                                <div class="col-md-6 text-center">
                                    <img src="assets/img/howItWorks1.png" class="img-fluid">
                                </div>
                            </div>
                        </div>
                    </div>
                 </div>
            </div>
            </div>
        </div>
    </section> 
    <section>
        <div class="container-fluid py-5">
            <div class="container">
            <div class="row m-0 py-5 align-items-center">
                <div class="col-md-12 col-lg-12">
                    <h4 class="bg-about-text border-left-title">STEP 2: Get it build by best professional near you.</h4>
                </div>
            </div>
            <div class="row m-0 align-items-center">
                <div class="tabbable w-100">
                    <div class="">
                        <div id="tab1" class="inner-how-it-works">
                            <div class="row m-0 align-items-center">
                                <div class="col-md-6 text-center">
                                    <img src="assets/img/howItWorks2.png" class="img-fluid">
                                </div>
                                <div class="col-md-6">
                                    <h6 class="coustom-color">Use our</h6>
                                    <h2 class="tb-title">Service provider DIRECTORY</h2>
                                    <div class="col-lg-12 p-0 ft-32 text-justify coustom-color">
                                        <ul style="list-style: disc;padding-left: 25px;">
                                            <li> Contractors, Architects, Suppliers etc.</li>
                                            <li> Get extensive portfolios of various
                                                service provider</li>
                                            <li>View their recent projects</li>
                                            <li>Get respective rates and charges
                                                upfront</li>
                                            </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                 </div>
            </div>
            </div>
        </div>
    </section> 
    <section>
        <div class="container-fluid py-5">
            <div class="container">
            <div class="row m-0 py-5 align-items-center">
                <div class="col-md-12 col-lg-12">
                    <h4 class="bg-about-text border-left-title">STEP 3: We make it affordable with best prices</h4>
                </div>
            </div>
            <div class="row m-0 align-items-center">
                <div class="tabbable w-100">
                    <div class="">
                        <div id="tab1" class="inner-how-it-works">
                            <div class="row m-0 align-items-center">
                                <div class="col-md-6">
                                    <h6 class="coustom-color">Explore from</h6>
                                    <h2 class="tb-title">The CED Marketplace</h2>
                                    <div class="col-lg-12 p-0 ft-32 text-justify coustom-color">
                                        <ul style="list-style: disc;padding-left: 25px;">
                                            <li> Special rates at CED from all major
                                                manufacturers</li>
                                            <li> Directly purchase from the Manufacturer</li>
                                            <li> Get scheduled delivery of genuine products</li>
                                            <li> Shops and products with respect to your location</li>
                                            </ul>
                                    </div>
                                </div>
                                <div class="col-md-6 text-center">
                                    <img src="assets/img/howItWorks3.png" class="img-fluid">
                                </div>
                            </div>
                        </div>
                    </div>
                 </div>
            </div>
            </div>
        </div>
    </section> 
    <section>
        <div class="container-fluid py-5">
            <div class="container">
            <div class="row m-0 py-5 align-items-center">
                <div class="col-md-12 col-lg-12">
                    <h4 class="bg-about-text border-left-title">STEP 4: Make it simple with our Simulator</h4>
                </div>
            </div>
            <div class="row m-0 align-items-center">
                <div class="tabbable w-100">
                    <div class="">
                        <div id="tab1" class="inner-how-it-works">
                            <div class="row m-0 align-items-center">
                                <div class="col-md-6 text-center">
                                    <img src="assets/img/howItWorks4.png" class="img-fluid">
                                </div>
                                <div class="col-md-6">
                                    <h6 class="coustom-color">Create projects, view them on</h6>
                                    <h2 class="tb-title">Real time Simulator</h2>
                                    <div class="col-lg-12 p-0 ft-32 text-justify coustom-color">
                                        <ul style="list-style: disc;padding-left: 25px;">
                                            <li> Choose and manage finishes and fixtures
                                                using our real time Simulator</li>
                                            <li> Get details from exteriors to interior fixture
                                                to layers of material</li>
                                            <li> Left side shows real time 3D and on right you
                                                can see detailed list of fixture and materials</li>
                                            <li>Makes it simple even for a layman</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                 </div>
            </div>
            </div>
        </div>
    </section> 
    <section>
        <div class="container-fluid py-5">
            <div class="container">
            <div class="row m-0 py-5 align-items-center">
                <div class="col-md-12 col-lg-12">
                    <h4 class="bg-about-text border-left-title">STEP 5: Completion on time CED helps in Bookings, Tracking and Scheduling</h4>
                </div>
            </div>
            <div class="row m-0 align-items-center">
                <div class="tabbable w-100">
                    <div class="">
                        <div id="tab1" class="inner-how-it-works">
                            <div class="row m-0 align-items-center">
                                <div class="col-md-6">
                                    <h6 class="coustom-color">End to end</h6>
                                    <h2 class="tb-title">Project management</h2>
                                    <div class="col-lg-12 p-0 ft-32 text-justify coustom-color">
                                        <ul style="list-style: disc;padding-left: 25px;">
                                            <li> CED helps to schedule various tasks as per your project</li>
                                            <li> You can book services and orders from marketplace directly from CEDʼs platform</li>
                                            <li> Track your operations on site as well as you bookings</li>
                                            <li> Also provide you hassle free payment options</li>
                                            </ul>
                                    </div>
                                </div>
                                <div class="col-md-6 text-center">
                                    <img src="assets/img/howItWorks5.png" class="img-fluid">
                                </div>
                            </div>
                        </div>
                    </div>
                 </div>
            </div>
            </div>
        </div>
    </section> 
    
    <section>
        <div class="container-fluid py-5">
            <div class="container">
                <div class="row m-0 py-5 align-items-center pt-5">
                    <div class="col-md-8 col-lg-8 pt-5">
                        <h4 class="bg-about-text">Here's a little video on how the
                            calculator works. <br>Letʼs get Started</h4>
                    </div>
                    <div class="col-md-4 text-center">
                        <img src="assets/img/video-icon.jpg" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="aboutUs">
        <div class="container-fluid bg-about">
            <div class="container">
                <div class="row m-0 py-5 align-items-center pt-5">
                    <div class="col-md-12 col-lg-12 pt-5">
                        <h4 class="bg-about-text">We make your dream project come true by aggregateting the vendors at
                            the grassroot level and give you an end-to-end solution and steps for your projects.</h4>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container-fluid bg-about">
            <div class="container">
                <div class="row m-0 align-items-center">
                    <div class="col-md-5 col-lg-5">
                        <div class="box-about" style="background-image:url('/assets/image/all-img.jpg');">
                            <div class="title-fix">
                                <img src="assets/img/logo_main.png" style="width:100px;">
                                <!-- <span class="text-danger">C</span>ED<span class="samll">DAAC</span> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 col-lg-8 ml-text pr-0">
                        <div class="row box-content text-justify">
                            <div class="row mr-margin">We make the process of comissioning any project of Design, Art,
                                Architecture or Construction, as enjoyable as buying your favourie pair of sneakers
                                online.<br /> <br />
                                We are a one stop platform to calculate accurate and effective project cost, to get time
                                schedule with custom ordering cart and direct to nearest top-rated executioners for any
                                kind of Design and Construction oriented project.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container-fluid bg-about mb-5">
            <div class="container">
                <div class="row m-0 align-items-center">
                    <div class="offset-md-1 col-md-11 bg-gray-clr p-0">
                        <div class="row align-items-center">
                            <div class="col-md-7 h-480">
                                <img src="assets/images/about image 2.jpg" class="img-fix-about" />
                            </div>
                            <div class="col-md-5">
                                <ul class="ft-18 coustom-color pl-4 inline_height">
                                    <li>Select your design module</li>
                                    <li>Add in the desired material</li>
                                    <li>Calculate your cost-effective estimate </li>
                                    <li>Direct yourself to nearest highest rated vendor</li>
                                    <li>Purchase everything in one go at one stop</li>
                                    <li>Schedule your material supply</li>
                                    <li>Keep a track of your project</li>
                                </ul>
                                <!-- <ul class="ft-18 coustom-color pl-4">
                                <li>Learn from the experts in multi-disciplinary way</li>
                                <li> Higher and broader scope of expansion in the field of Design and Technology</li>
                                <li> World class approach at project execution, under one roof.</li>
                                <li>  Become an expert at end-to-end Architectural and Interior Design project.</li> 
                            </ul> -->
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>

    </section>

    <section>
        <div class="container-fluid bg-about pt-5 bg-img-circle mb-5">
            <div class="container">
                <div class="row align-items-center" style="height:450px;background-color: transparent;">
                    <div class="offset-md-1 col-md-11 p-0">
                        <div class="row m-0 align-items-center text-center">
                            <div class="col-md-4 text-center">
                                <div class="circle-box-shadow">
                                    <div class="circle-box-red">
                                        <h2>21</h2>
                                        <p>Service Providers</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 text-center">
                                <div class="circle-box-shadow">
                                    <div class="circle-box-green">
                                        <h2>...</h2>
                                        <p>Manufacturers</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 text-center">
                                <div class="circle-box-shadow">
                                    <div class="circle-box-blue">
                                        <h2>...</h2>
                                        <p>Projects Delivered</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container-fluid bg-about py-5">
            <div class="container">
                <div class="row m-0 align-items-center">
                    <div class="tabbable w-100">
                        <div class="tab-content">
                            <div id="tab1" class="tab-pane active" *ngIf="tab1">
                                <div class="row m-0">
                                    <div class="col-md-7">
                                        <h6 class="coustom-color">CORE VALUES</h6>
                                        <h2 class="tb-title">Value Proposition for<br /><span
                                                class="ft-51">PARTNERS</span></h2>
                                        <div class="col-lg-12 p-0 ft-32 text-justify coustom-color">
                                            <p>With work contracts as a core proposition, at CED we enable partners to
                                                showcase their works and expertise and get exposed to the digital
                                                consumer landscape.</p>
                                        </div>
                                    </div>
                                    <div class="col-md-5 text-center">
                                        <img src="assets/images/value1.png" class="img-fix-bx">
                                    </div>
                                </div>
                            </div>
                            <div id="tab2" class="tab-pane active" *ngIf="tab2">
                                <div class="row m-0">
                                    <div class="col-md-7">
                                        <h6 class="coustom-color">CORE VALUES</h6>
                                        <h2 class="tb-title">Reach</h2>
                                        <div class="col-lg-12 p-0 ft-32 text-justify coustom-color">
                                            <p>Exposure to a new consumer landscape, they were never in touch with
                                                Platform to advertise and showcase their work</p>
                                        </div>
                                    </div>
                                    <div class="col-md-5 text-center">
                                        <img src="assets/images/value2.jpg" class="img-fix-bx">
                                    </div>
                                </div>
                            </div>
                            <div id="tab3" class="tab-pane active" *ngIf="tab3">
                                <div class="row m-0">
                                    <div class="col-md-7">
                                        <h6 class="coustom-color">CORE VALUES</h6>
                                        <h2 class="tb-title">Work Contracts <br />(Projects)</h2>
                                        <div class="col-lg-12 p-0 ft-32 text-justify coustom-color">
                                            <p>Opportunity to get work contracts for minimum ~3 for big scale, ~5 for
                                                medium & ~9 projects/year for small scale vendor</p>
                                        </div>
                                    </div>
                                    <div class="col-md-5 text-center">
                                        <img src="assets/images/value3.png" class="img-fix-bx">
                                    </div>
                                </div>
                            </div>
                            <div id="tab4" class="tab-pane active" *ngIf="tab4">
                                <div class="row m-0">
                                    <div class="col-md-7">
                                        <h6 class="coustom-color">CORE VALUES</h6>
                                        <h2 class="tb-title">End-to-end contract <br />management</h2>
                                        <div class="col-lg-12 p-0 ft-32 text-justify coustom-color">
                                            <p>For every transaction rooted from platform, CED will provide expert
                                                documentation between consumer and service provider to solidify the
                                                terms discussed for execution.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-5 text-center">
                                        <img src="assets/images/value4.jpg" class="img-fix-bx">
                                    </div>
                                </div>
                            </div>
                            <div id="tab5" class="tab-pane active" *ngIf="tab5">
                                <div class="row m-0">
                                    <div class="col-md-7">
                                        <h6 class="coustom-color">CORE VALUES</h6>
                                        <h2 class="tb-title">Learning & Development</h2>
                                        <div class="col-lg-12 p-0 ft-32 text-justify coustom-color">
                                            <p>Weekly, fortnightly and monthly, L&D programme in form of graphics,
                                                videos & seminars, for best industry practises, workmanship & skill
                                                development of vendors
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-5 text-center">
                                        <img src="assets/images/value5.jpg" class="img-fix-bx">
                                    </div>
                                </div>
                            </div>
                            <div id="tab6" class="tab-pane active" *ngIf="tab6">
                                <div class="row m-0">
                                    <div class="col-md-7">
                                        <h6 class="coustom-color">CORE VALUES</h6>
                                        <h2 class="tb-title">Pre Negotiated OEM<br /> Rates</h2>
                                        <div class="col-lg-12 p-0 ft-32 text-justify coustom-color">
                                            <p>Subscribed vendors will be exposed to the benefits of pre-negotiated OEM
                                                rates, in order to maximise their profits.</p>
                                        </div>
                                    </div>
                                    <div class="col-md-5 text-center">
                                        <img src="assets/images/value6.png" class="img-fix-bx">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <ul class="nav nav-tabs1 row m-0 pl-4">
                            <li class="col {{tab1==true?'active':''}}"><a href="#tab1" data-toggle="tab"
                                    (click)="onActiveClass('tab1')">Core Value</a></li>
                            <li class="col {{tab2==true?'active':''}}"><a href="#tab2" data-toggle="tab"
                                    (click)="onActiveClass('tab2')">Reach</a></li>
                            <li class="col {{tab3==true?'active':''}}"><a href="#tab3" data-toggle="tab"
                                    (click)="onActiveClass('tab3')">Work Contracts (Projects)</a></li>
                            <li class="col {{tab4==true?'active':''}}"><a href="#tab4" data-toggle="tab"
                                    (click)="onActiveClass('tab4')">End-to-end contract management</a></li>
                            <li class="col {{tab5==true?'active':''}}"><a href="#tab5" data-toggle="tab"
                                    (click)="onActiveClass('tab5')">Learning & Development</a></li>
                            <li class="col {{tab6==true?'active':''}}"><a href="#tab6" data-toggle="tab"
                                    (click)="onActiveClass('tab6')">Pre-negotiated OEM rates</a></li>
                        </ul>
                    </div>
                </div>
                <div id="blog_section"></div>
            </div>
        </div>
    </section>
    <section>
        <div class="container-fluid bg-box" style="margin-top:80px;margin-bottom:80px;">
            <div class="row m-0 align-items-center">
                <div class="col-6 py-5 br-1">
                    <div class=" text-right">
                        <h1 class="blog-title">Build to the FUTURE</h1>
                    </div>
                </div>
                <div class="col-6 py-5">
                    <h1 class="blog-title2">Blogs
                        <span class="text-right" style="font-size:24px;">May the TECHNOLOGY be with you</span>
                    </h1>
                </div>
            </div>
            <span id="blogLink"></span>
        </div>
    </section>

    <section>
        <div class="container-fluid bg-about py-5" style="background-attachment: fixed;">
            <div class="container">
                <div class="row m-0 align-items-center">
                    <!-- <div class="col-lg-6 col-md-6 mb-4" *ngFor="let listItem of [0,1,2,3,4,5]">
                        <div class="image-box">
                            <img src="assets/image/blog-img.jpg" class="blog-img-fix">
                            <p class="title-img m-0">Blog Title</p>
                        </div>
                    </div> -->

                    <div class="col-lg-6 col-md-6 mb-4" *ngFor="let listItem of Blog_List" (click)="onRedirect(listItem.link)" style="cursor: pointer;">
                        <div class="image-box">
                            <ng-container *ngIf="listItem._embedded['wp:featuredmedia']">
                                <img src="{{listItem._embedded['wp:featuredmedia'][0]['source_url']}}" class="blog-img-fix" onError="this.src='assets/image/blog-img.jpg'" >
                            </ng-container>
                            <ng-container *ngIf="!listItem._embedded['wp:featuredmedia']">
                                <img src="assets/image/blog-img.jpg" class="blog-img-fix" onError="this.src='assets/image/blog-img.jpg'" >
                            </ng-container>
                            <p class="title-img m-0">{{listItem.title.rendered}}</p>
                        </div>
                    </div>


                    <div class="col-md-12 mt-2 text-right">
                        <div id="news"></div>
                        <a href="https://ceddaac.com/blog/" target="_blank">
                            <p class="btn btn-secondary2">View More...</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="w-100">
        <div class="container-fluid bg-about py-5" style="background-attachment: fixed;">
            <div class="container">
                <div class="row m-0 align-items-center px-4">
                    <div class="offset-md-1 col-md-10 position-relative" style="height: 600px;">
                        <div class="col-md-10 box-pos1 p-0" id="news_image1">
                            <img (click)="onImageActive('image1')" src="assets/images/news-1.png" class="img-bg-fix"
                                style="cursor: pointer;" />
                            <a style="position: absolute;
                            top: 91%;
                            left: 86%;
                            color: #010001;
                            white-space: nowrap;" href="https://www.ndtv.com/business/union-budget-2021-easing-income-tax-norms-pushing-gst-reforms-needed-for-real-estate-sector-2351884" target="_blank">See More....</a>
                        </div>
                        <div class="col-md-7 box-pos2 p-0" id="news_image3">
                            <img (click)="onImageActive('image3')" src="assets/images/news-2.png" class="img-bg-fix"
                                style="cursor: pointer;" />
                                <a style="    position: absolute;
                                top: 95%;
                                left: 81%;
                                color: #010001;" href="https://www.makeinindia.com/sector/construction" target="_blank">See More....</a>
                        </div>
                        <div class="col-md-6 box-pos3 p-0" id="news_image2">
                            <video src="assets/images/news-3.mp4" controls onmouseover="this.play()"
                                onmouseout="this.pause();" (click)="onImageActive('image2')"></video>
                            <!-- <img (click)="onImageActive('image2')" src="https://i.pinimg.com/originals/78/77/c1/7877c117eaef64dba0e9895c818eb103.png" class="img-bg-fix" style="cursor: pointer;"/> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container-fluid bg-about py-5">
            <div class="container">
                <div class="row m-0 align-items-center py-5">
                    <div class="col-md-12">
                        <p class="about-msg2 text-justify">Our mission is to make the process of comissioning project of
                            Design, Art, Architecture or Construction, as enjoyable as buying your favourie pair of
                            sneakers online. CED is a one stop platform to calculate accurate and effective project
                            cost, to get time schedule with custom ordering cart and direct to nearest top-rated
                            executioners.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>


    
    <div id="careers"></div>

    <section>
        <span></span>
        <div class="container-fluid bg-box" style="margin-top:80px;margin-bottom:80px;">
            <div class="row m-0 align-items-center">
                <div class="col-6 py-5 br-1">
                    <div class=" text-right">
                        <h1 class="blog-title">Be the Champion</h1>
                    </div>
                </div>
                <div class="col-6 py-5">
                    <h1 class="blog-title3">Join our BAND
                        <span class="text-right" style="font-size:24px;">Let's build the Future together</span>
                    </h1>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container-fluid bg-about">
            <div class="row m-0">
                <div class="container">
                    <div class="col-lg-8">
                        <h6 class="coustom-color">BENEFITS</h6>
                        <h2 class="tb-title">Live your best life </h2>
                        <div class="col-lg-12 ft-18 p-0">

                            <ul class="ft-18 coustom-color pl-4">
                                <li>Learn from the experts in multi-disciplinary way</li>
                                <li> Higher and broader scope of expansion in the field of Design and Technology</li>
                                <li> World class approach at project execution, under one roof.</li>
                                <li> Become an expert at end-to-end Architectural and Interior Design project.</li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- <section>
        <div class="container-fluid bg-about py-5">
            <div class="container">
                <div class="row m-0 align-items-center">
                    <div class="col-lg-6 col-md-6 text-center cursorp">
                        <div class="border w-100 h-100 h-80">
                            <p class="m-0" style="margin-top:5% !important">
                                <a (click)="onActiveClassCareers('careers1')">Intern Sales: Business Develompent Manager</a>
                            </p>
                            
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 text-center cursorp">
                        <div class="border w-100 h-100 h-80">
                            <p class="m-0" style="margin-top:5% !important">
                                <a (click)="onActiveClassCareers('careers2')">Intern: Contern Writer</a>
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 text-center cursorp">
                        <div class="border w-100 h-100 h-80">
                            <p class="m-0" style="margin-top:10% !important">
                                <a (click)="onActiveClassCareers('careers3')">Intern Design: Architect</a>
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 text-center cursorp">
                        <div class="border w-100 h-100 h-80">
                            <p class="m-0" style="margin-top:10% !important">
                                <a (click)="onActiveClassCareers('careers4')">Intern Design: Graphic Designer</a>
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 text-center cursorp">
                        <div class="border w-100 h-100 h-80">
                            <p class="m-0" style="margin-top:10% !important">
                                <a (click)="onActiveClassCareers('careers5')">Intern: Programme Manager</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->

    <section>
        <div class="container-fluid bg-about py-5">
            <div class="container">
                <div class="row m-0 align-items-center">
                    <div class="col-lg-6 col-md-6 text-center cursorp" (click)="onActiveClassCareers('careers1')">
                        <div class="border w-100 h-100 h-80" [ngClass]="careers1 == true?'active_card':''">
                            <p class="m-0" style="margin-top:3% !important">
                                <a>Intern Sales: Business Develompent Manager</a>
                            </p>
                            
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 text-center cursorp" (click)="onActiveClassCareers('careers2')">
                        <div class="border w-100 h-100 h-80" [ngClass]="careers2 == true?'active_card':''">
                            <p class="m-0" style="margin-top:3% !important">
                                <a>Intern: Contern Writer</a>
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 text-center cursorp" (click)="onActiveClassCareers('careers3')">
                        <div class="border w-100 h-100 h-80" [ngClass]="careers3 == true?'active_card':''">
                            <p class="m-0" style="margin-top:3% !important">
                                <a>Intern Design: Architect</a>
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 text-center cursorp" (click)="onActiveClassCareers('careers4')">
                        <div class="border w-100 h-100 h-80" [ngClass]="careers4 == true?'active_card':''">
                            <p class="m-0" style="margin-top:3% !important">
                                <a>Intern Design: Graphic Designer</a>
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 text-center cursorp" (click)="onActiveClassCareers('careers5')">
                        <div class="border w-100 h-100 h-80" [ngClass]="careers5 == true?'active_card':''">
                            <p class="m-0" style="margin-top:3% !important">
                                <a>Intern: Programme Manager</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
           

            <div class="container" id="careers1" *ngIf="careers1">
                <div class="row m-0 align-itmes-end">
                    <div class="col-lg-7 col-md-6 mb-4">
                        <div class="box-test1 position-relative">
                            <div class="job-title" style="height: 206px;overflow-y: scroll;">To support our next stage of product growth & geographic expansion, the role of Sales will be pivotal. This is a key team role, where you will play a critical part in driving the sales pipeline with the wider team to collaborate and engage with existing and prospective clients.

                                This role will be a hands-on, participatory team player. This role will form part of a high performing Sales team, taking responsibility for enhancing the Company’s sales outreach and connects, lead generation through different channels.
                                
                                The person will work closely on a daily basis with our marketing, strategy and technology teams to ensure successful alignment and foster a truly collaborative approach to our go-to-market strategy.
                                
                                This is an exciting and demanding role, which provides a huge room for growth and success where you’ll be responsible for helping CEDdaac to lead the market and delight our customers through the delivery of breakthrough results
                                </div>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-6 align-self-end mb-4">
                        <div class="box-test2 bg-light-gray" style="background-color: inherit;">
                            <img src="assets/img/sales1.jpg" width="100%">
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-6 mb-4 text-right">
                        <div class="box-test2 float-right bg-light-gray" style="background-color: inherit;">
                            <img src="assets/img/sales2.jpg" width="100%">
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-6 mb-4">
                        <div class="box-test1 ">
                            <div class="row m-0" style="height: 206px;overflow-y: scroll;">
                                <h6 class="footer-title m-1">Key Responsibilities</h6>
                                <ul class="ft-14 coustom-color pl-4">
                                    <li>New Customer Acquisition</li>
                                    <li>Conversion of leads received through various marketing channels</li>
                                    <li>Pitch to a variety of stakeholders - Facility managers, Security, IT department, C-suite at large enterprises</li>
                                    <li>Perform effective online demos to prospects</li>
                                    <li>Proactively identifying cross-selling/up-selling opportunities with the existing customers</li>
                                    <li>Identifying references through the existing customer base to increase the sales pipeline.</li>
                                    <li>Customer Relationship Management</li>
                                    <li>Understand the customer requirement and pass on the insights towards the product portfolio improvement based on customer interaction/feedback</li>
                                    <li>Operations and Reporting</li>
                                    <li>Managing pre-sales to post-sales support activities for the assigned product/geographies and ensuring the highest customer satisfaction</li>
                                </ul>
                                <h6 class="footer-title m-1">Roles and Responsibilities</h6><span>? Smart, efficient and organized professionals</span>
                                <ul class="ft-14 coustom-color pl-4">
                                    <li>Graduate (no particular course preference) or Final year</li>
                                    <li>0-6 months of work experience</li>
                                    <li>A shared belief in the vision & the desire to outgrow yourself</li>
                                    <li>Proven sales background</li>
                                    <li>Track record of over-achieving quota</li>
                                    <li>Strong phone presence and experience dialing dozens of calls per day</li>
                                    <li>Proficient with corporate productivity and web presentation tools</li>
                                    <li>Experience working with Salesforce.com or similar CRM is desirable</li>
                                    <li>Excellent verbal and written communications skills</li>
                                    <li>Strong listening and presentation skills</li>
                                    <li>Ability to multitask, prioritize and follow-up effectively</li>
                                    <li>Comfortable with new-age technology</li>
                                </ul>
                                <div class="col-md-6" style="margin: 0px 50%;">
                                    <input type="file" class="form-control">
                                    <button class="btn btn-secondary2" style="margin: 0 auto;
                                    display: block;">Apply Now</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <div class="container" id="careers2" *ngIf="careers2">
                <div class="row m-0 align-itmes-end">
                    <div class="col-lg-7 col-md-6 mb-4">
                        <div class="box-test1 position-relative">
                            <div class="job-title" style="height: 206px;overflow-y: scroll;">
                                The ideal candidate possesses a passion for writing and an innovative ability to create successful marketing campaigns and aid in creating company growth. You will be responsible for generating exciting and compelling stories on both digital and print sources of media. 

                                HOW WE OPERATE: You'll be a part of a team that works together and wins together: delivering bold results, caring passionately about what we do, and making a crucial difference through its work.
                                
                                LEARNING AND GROWTH: We’re committed to growing the capabilities of our people. We are building a learning community where you can work with diverse individuals, explore new ways of thinking, and expand your capabilities.
                                
                                HOW YOU CAN MAKE AN IMPACT: We create value for our customers by delivering solutions that power payments at scale. Our pace of work enables fast learning and fosters an environment where you can make an impact.
                                
                                Convinced you’ll be able to make an impact? We’d love to hear from you.
                                
                                </div>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-6 align-self-end mb-4">
                        <div class="box-test2 bg-light-gray" style="background-color: inherit;">
                            <img src="assets/img/content1.jpg" width="100%">
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-6 mb-4 text-right">
                        <div class="box-test2 float-right bg-light-gray" style="background-color: inherit;">
                            <img src="assets/img/content2.png" width="100%">
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-6 mb-4">
                        <div class="box-test1 ">
                            <div class="row m-0" style="height: 206px;overflow-y: scroll;">
                                <h6 class="footer-title m-1">Selected Intern's Day-to-day Responsibilities Include</h6>
                                <ul class="ft-14 coustom-color pl-4">
                                    <li>Handling marketing/sales/account management content creation</li>
                                    <li>Managing generic learning content creation</li>
                                    <li>Working on different automation tools</li>
                                    <li>MBA final year students can also apply.</li>
                                    <li>Conducting keyword research and find the most relevant ones to incorporate in our content</li>
                                    <li>Writing content for optimizing our inventory and listing pages, and hence increase the on-page SEO</li>
                                    <li>Writing blogs for our or partners website</li>
                                    <li>Maintaining a sheet for the set of tasks mentioned</li>
                                    <li>Operations and Reporting</li>
                                </ul>
                                <h6 class="footer-title m-1">Who You Are</h6>
                                <ul class="ft-14 coustom-color pl-4">
                                    <li>Highly motivated.</li>
                                    <li>Tenacious. You are determined to succeed.</li>
                                    <li>Curious. You are always learning and seeking ways to make things better</li>
                                </ul>
                                <div class="col-md-6" style="margin: 0px 50%;">
                                    <input type="file" class="form-control">
                                    <button class="btn btn-secondary2" style="margin: 0 auto;
                                    display: block;">Apply Now</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <div class="container" id="careers3" *ngIf="careers3">
                <div class="row m-0 align-itmes-end">
                    <div class="col-lg-7 col-md-6 mb-4">
                        <div class="box-test1 position-relative">
                            <div class="job-title" style="height: 206px;overflow-y: scroll;">
                              
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-6 align-self-end mb-4">
                        <div class="box-test2 bg-light-gray" style="background-color: inherit;">
                            <img src="assets/img/architect1.jpg" width="100%">
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-6 mb-4 text-right">
                        <div class="box-test2 float-right bg-light-gray" style="background-color: inherit;">
                            <img src="assets/img/architect2.jpg" width="100%">
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-6 mb-4">
                        <div class="box-test1 ">
                            <div class="row m-0" style="height: 206px;overflow-y: scroll;">
                                <div class="col-md-6" style="margin: 0px 50%;">
                                    <input type="file" class="form-control">
                                    <button class="btn btn-secondary2" style="margin: 0 auto;
                                    display: block;">Apply Now</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <div class="container" id="careers4" *ngIf="careers4">
                <div class="row m-0 align-itmes-end">
                    <div class="col-lg-7 col-md-6 mb-4">
                        <div class="box-test1 position-relative">
                            <div class="job-title" style="height: 206px;overflow-y: scroll;">
                                The ideal candidate will have strong creative skills and a portfolio of work that demonstrates their passion for branding, illustrative design, human-centric design, animation, graphics and typography. This candidate will have experiences in working with numerous different design platforms such as digital, e-commerce and social media forms. 
                                
                                </div>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-6 align-self-end mb-4">
                        <div class="box-test2 bg-light-gray" style="background-color: inherit;">
                            <img src="assets/img/graphic1.jpg" width="100%">
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-6 mb-4 text-right">
                        <div class="box-test2 float-right bg-light-gray" style="background-color: inherit;">
                            <img src="assets/img/graphic2.gif" width="100%">
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-6 mb-4">
                        <div class="box-test1 ">
                            <div class="row m-0" style="height: 206px;overflow-y: scroll;">
                                <h6 class="footer-title m-1">Responsibilities</h6>
                                <ul class="ft-14 coustom-color pl-4">
                                    <li>Collaborate with the team to ensure consistency of designs across various media outlets for clients.</li>
                                    <li>Create compelling and effective logos, designs, print and digital media</li>
                                    <li>Maintain awareness of current industry and technology standards, social media, competitive landscape and market trends</li>
                                </ul>
                                <h6 class="footer-title m-1">Desired Skills and Competencies</h6>
                                <ul class="ft-14 coustom-color pl-4">
                                    <li>Ability to think spatially, understanding how a brand is consistently expressed and maintained in a physical environment</li>
                                    <li>Highly proficient in Adobe Photoshop/Illustrator/InDesign and related design and production software</li>
                                    <li>Bachelors or Master’s degree in Design, Advertising, or related fields preferred.</li>
                                </ul>
                                <h6 class="footer-title m-1">Associated Behaviors</h6>
                                <ul class="ft-14 coustom-color pl-4">
                                    <li>Environmental graphic design experience</li>
                                    <li>Strong time-management skills and the ability to be self-directed when needed</li>
                                    <li>Must be comfortable in fast-paced, deadline-driven environment and able to manage priorities well</li>
                                    <li>Excellent communication, presentation, and interpersonal skills and the ability to gracefully defend your design decisions</li>
                                </ul>
                                <div class="col-md-6" style="margin: 0px 50%;">
                                    <input type="file" class="form-control">
                                    <button class="btn btn-secondary2" style="margin: 0 auto;
                                    display: block;">Apply Now</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <div class="container" id="careers5" *ngIf="careers5">
                <div class="row m-0 align-itmes-end">
                    <div class="col-lg-7 col-md-6 mb-4">
                        <div class="box-test1 position-relative">
                            <div class="job-title" style="height: 206px;overflow-y: scroll;">
                                <h6 class="footer-title m-1">Project Management – Intern</h6>
                                Are you a dreamer, innovator, thinker and a do-er who believes in contributing to something that makes a difference? Realize your potential with an intern experience at CEDdaac.

                               
                                <h6 class="footer-title mt-1 mb-1">How you’ll make a difference</h6>
                                At CEDdaac we empower youth to make their ideas a reality. Help us on that mission and play an integral role in shaping and executing our strategy focused on youth.

                                You will be part of CXO’s team that is charged to shape the future of CEDDAAC. Gain hands-on experience in designing, developing, and executing your assigned strategic initiative. In doing so, you will be collaborating with our diversed staff, volunteers, and partners throughout the project life cycle. You will be successful when you utilize your experience to accelerate CEDDAAC’s impact pn construction Industry.
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-6 align-self-end mb-4">
                        <div class="box-test2 bg-light-gray" style="background-color: inherit;">
                            <img src="assets/img/manager1.jpg" width="100%">
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-6 mb-4 text-right">
                        <div class="box-test2 float-right bg-light-gray" style="background-color: inherit;">
                            <img src="assets/img/manager2.png" width="100%">
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-6 mb-4">
                        <div class="box-test1 ">
                            <div class="row m-0" style="height: 206px;overflow-y: scroll;">
                                <h6 class="footer-title m-1">What you’ll bring to the role:</h6>
                                <ul class="ft-14 coustom-color pl-4">
                                    <li>Self-starter, driven, and proactive</li>
                                    <li>Forward-thinking and tuned in to global trends among youth aged 19-24</li>
                                    <li>Excellent written, verbal communication and interpersonal skills, fluent in English</li>
                                    <li>Excellent judgment with the ability to independently prioritize, solve problems, and make decisions with limited direct supervision</li>
                                    <li>Solid time management and organizational skills</li>
                                    <li>Conscientious with good attention to detail</li>
                                    <li>Comfortable working in a virtual and fast-paced environment</li>
                                    <li>Exposure to working with media, and utilizing social media preferred</li>
                                    <li>Exposure to working with vendors, and 3rd party resources preferred</li>
                                    <li>Bachelor’s degree coursework in international business, marketing or equivalent, a Master’s degree is preferred</li>
                                </ul>
                                <h6 class="footer-title m-1">And we believe in supporting you, too.Join us and:</h6>
                                <ul class="ft-14 coustom-color pl-4">
                                    <li>You’ll grow professionally. We’ll work with you to make the right development choices for your career. The skills you gain will help you to get the most out of your time with us, and make you more marketable in the future.</li>
                                    <li>You’ll make an impact from day one. We’ll put you on stimulating projects, with people from diverse working backgrounds. And if you have a bright idea, we’ll help you to develop it.</li>
                                    <li>You’ll be part of a culture you can be proud of. We’re friendly and inclusive – it’s what makes us unique. So we’ll support and help you from the moment you join</li>
                                </ul>
                                
                                <div class="col-md-6" style="margin: 0px 50%;">
                                    <input type="file" class="form-control">
                                    <button class="btn btn-secondary2" style="margin: 0 auto;
                                    display: block;">Apply Now</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section>

    <section>
        <div class="container-fluid bg-about py-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h6 class="coustom-color">OPPORTUNITIES</h6>
                        <h3 class="tb-title">Small team, Mission I'Mpossible</h3>
                        <div class="col-lg-12 p-0">
                            <p class="ft-18 coustom-color">
                                Our team is our USP and it comprises some of the country’s best talents from a variety
                                of domains, with the singular vision of solving the entire design, art, architecture,
                                and construction problem in India from the perspective of the end consumer.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <!-- <span id="careers"></span> -->
        <div class="container-fluid bg-box" style="margin-top:80px;margin-bottom:80px;">
            <div class="row m-0 align-items-center">
                <!-- <div class="col-6 py-5 br-1">
                    <div class=" text-right">
                        <h1 class="blog-title">Be the Champion</h1>
                    </div>
                </div> -->
                <div class="col-12 py-5">
                    <h1 class="blog-title4">League of Extraordanary Ladies and Gentelment
                        <span class="text-right" style="font-size:24px;">a band better then BEATLES</span>
                    </h1>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container-fluid bg-about">
            <div class="container">
                <div class="col-md-12 p-0">
                    <h1 class="team-title mb-5 text-center" style="font-weight:600;">Core Team</h1>
                </div>
                <div class="row align-items-center">
                    <div class="col-lg-12 col-md-12">
                        <div class="row">
                            <div class="col-md-4 col-lg-4 d-flex align-items-top">
                                <div class="col- box-team">
                                    <img src="assets/image/team-img1.jpg" class="img-fix-team">
                                </div>
                                <div class="col team-content pr-0 text-justify">
                                    <span style="font-weight: 600;">RAHUL JANGIR</span> <span class="ml-3"><a
                                            href="https://in.linkedin.com/in/rahul-jangir-91a53190" target="_blank"><i
                                                class="fab fa-linkedin link-ft"></i></a></span> <br /> <br />Tech
                                    graduate from VIT with 8+ years of experience in the software engineering with
                                    demonstrated expertise in leading large projects in a vast variety of technologies,
                                    in some of India's best-known tech organizations like iGate, Q3 technologies etc.
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-4 d-flex align-items-top">
                                <div class="col- box-team">
                                    <img src="assets/image/team-img2.jpg" class="img-fix-team">
                                </div>
                                <div class="col team-content pr-0 text-justify">
                                    <span style="font-weight: 600;">SHUBHAM JANGIR</span> <span class="ml-3"><a
                                            href="https://in.linkedin.com/in/shubham-jangir-3b1267102"
                                            target="_blank"><i
                                                class="fab fa-linkedin link-ft"></i></a></span><br /><br /> An Architect
                                    and Project Management professional having diverse experience in designing,
                                    constructing & transforming real estate across the length & breadth of India. ex-Oyo
                                    hotels, ex-RSP and ex- core team member of V Resorts.
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-4 d-flex align-items-top">
                                <div class="col- box-team">
                                    <img src="assets/image/team-img3.jpg" class="img-fix-team">
                                </div>
                                <div class="col team-content pr-0 text-justify">
                                    <span style="font-weight: 600;">NITESH RAJ JAIN</span> <span class="ml-3"><a
                                            href="https://in.linkedin.com/in/niteshrajjain" target="_blank"><i
                                                class="fab fa-linkedin link-ft"></i></a></span><br /><br />An advance
                                    construction management graduate from NICMAR, with 5+ years of experience
                                    spearheading construction & fit-out projects, with an emphasis on efficiency,
                                    timeliness & problem-solving worked in companies like JMC projects and OYO.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row py-5">
                    <div class="offset-md-1">&nbsp;</div>
                    <div class="col-md-2 col-lg-2">
                        <div class="founder-img">
                            <img src="assets/img/Picture1.jpg" class="img-fix-team">
                            <p style="margin: 0 auto;text-align: center;">Harish Sembara</p>
                        </div>
                    </div>
                    <div class="col-md-2 col-lg-2">
                        <div class="founder-img">
                            <img src="assets/img/Picture2.jpg" class="img-fix-team">
                            <p style="margin: 0 auto;text-align: center;">Sarthak Rohilla</p>
                        </div>
                    </div>
                    <div class="col-md-2 col-lg-2">
                        <div class="founder-img">
                            <img src="assets/img/Picture3.jpg" class="img-fix-team">
                            <p style="margin: 0 auto;text-align: center;">Saurabh Jadhav</p>
                        </div>
                    </div>
                    <div class="col-md-2 col-lg-2">
                        <div class="founder-img">
                            <img src="assets/img/Picture4.jpg" class="img-fix-team">
                            <p style="margin: 0 auto;text-align: center;">Sachin Agrawal</p>
                        </div>
                    </div>
                    <div class="col-md-2 col-lg-2">
                        <div class="founder-img">
                            <img src="assets/img/Picture5.jpg" class="img-fix-team">
                            <p style="margin: 0 auto;text-align: center;">Sonal Lakhera</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container-fluid bg-about py-5">
            <div class="container">
                <div class="row m-0 h-480 align-items-center">
                    <div class="offset-md-2 col-md-8">
                        <p class="about-msg">"The building blocks of CEDdaac have an experience of over a 20 years in
                            the world of design, development, technology and creation. Each individual is an essential
                            fit in the team, catering to the respective field's challenges and impeccable solutions for
                            the same. </p>
                        <p class="about-msg">The entire journey of stratergizing and planning the product to aligning it
                            in the most refined and elaborate manner has been smartly done by the CEDdaac Team
                            collectively. Eventually building a product that makes our Client's dream project easier and
                            efficient."</p>
                    </div>
                </div>
                <div id="contact"></div>
            </div>
        </div>
    </section>
    <section id="">
        <div class="container-fluid ques-about py-3">
            <div class="container py-5">
                <div class="row">
                    <form [formGroup]="Addform">
                        <div class="offset-md-1 col-md-10 text-center">
                            <!-- <p><i class="fa fa-lightbulb fa-2x"></i></p> -->
                            <p class="mb-4"><img src="assets/img/footer-logo.png" class="footer-logo"></p>
                            <h3 class="text-green">Let us know more about you and how we can connect </h3>
                            <h4 style="line-height:50px;">My name is <input type="text" class="myInput"
                                    formControlName="name" />, and I work with <input type="text" class="myInput"
                                    formControlName="work" />,
                                I am a/an <select class="myInput ft-16" style="width: 200px;"
                                    formControlName="provider">
                                    <option value="" disabled selected></option>
                                    <option value="Service Provider">Service Provider</option>
                                    <option value="Manufacturer">Manufacturer</option>
                                    <option value="Seller">Seller</option>
                                    <option value="Consumer">Consumer</option>
                                    <option value="Investor">Investor</option>
                                </select> from <input type="text" class="myInput" formControlName="from" />,
                                I <select class="myInput ft-16" style="width: 200px;" formControlName="want">
                                    <option value="" disabled selected></option>
                                    <option value="wan't to">wan't to</option>
                                    <option value="wan't to explore/inquire">wan't to explore/inquire</option>
                                    <option value="am curious">am curious</option>
                                    <option value="have an pressing need">have an pressing need</option>
                                    <option value="have a suggestion">have a suggestion</option>
                                    <option value="have an escalation">have an escalation</option>
                                </select> , to talk to you about <input type="text" class="myInput"
                                    formControlName="about">
                                Would you mail me at <input type="text" class="myInput" formControlName="mail"> ? And,
                                <select class="myInput ft-16" style="width: 200px;" formControlName="signin">
                                    <option value="" disabled selected>select</option>
                                    <option value="Sign me up for your newsletter">Sign me up for your newsletter
                                    </option>
                                    <option value="keep me off your list now">keep me off your list now</option>
                                </select></h4>

                            <button class="btn-commen mt-4" (click)="onSubmitReview()">Submit</button>
                            <!-- <h5>Learn more about our interview process</h5> -->
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <section class="mt-4">
        <div class="container-fluid footer-bg py-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <img src="assets/img/logo_main.png" style="width:100px;" />
                        <!-- <div class="title-ced mb-3"><span class="text-danger">C</span>ED<span class="samll">DAAC</span></div> -->
                        <p class="text-white mt-4" style="font-size: 20px;text-align: justify;">At CED our mission is to
                            make the process of commissioning a Design, Art, Architecture or Construction project AS
                            ENJOYAB`LE AS buying your favorite pair of SNEAKERS online.</p>
                    </div>
                    <div class="col-md-3">
                        <h4 class="footer-title">Services</h4>
                        <ul class="list-footer2">
                            <li>Calculate accurate and effective project costs</li>
                            <li>Get comprehensive list of material required</li>
                            <li>Get a project schedule</li>
                            <li>Connect to service providers</li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <h4 class="footer-title">Quick Links</h4>
                        <ul class="list-footer">
                            <li><a href="home#aboutUs" class="text-white">About Us</a></li>
                            <li><a href="javascript:void(0)" class="text-white" routerLink="/typology">Calculator</a>
                            </li>
                            <li><a href="javascript:void(0)" class="text-white" routerLink="/directory">Directory</a>
                            </li>
                            <li><a href="javascript:void(0)" class="text-white">Marketplace</a></li>
                            <li><a href="home#contact" class="text-white">Contact us</a></li>
                            <li><a href="home#aboutUs" class="text-white">Subscribe</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <h4 class="footer-title mb-3">Social Connect</h4>
                        <ul class="img-list">
                            <li>
                                <div class="img-footer"><a target="_blank" href="mailto:directors@ceddaac.com"><i
                                            class="fa fa-envelope fa-2x text-dark"></i></a></div>
                            </li>
                            <li>
                                <div class="img-footer"><a target="_blank"
                                        href="https://www.facebook.com/CEDdaac-115273257269560"><i
                                            class="fab fa-facebook fa-2x text-dark"></i></a></div>
                            </li>
                            <li>
                                <div class="img-footer"><a target="_blank"
                                        href="https://www.linkedin.com/company/ceddaac"><i
                                            class="fab fa-linkedin fa-2x text-dark"></i></a></div>
                            </li>
                            <li>
                                <div class="img-footer"><a target="_blank" href="https://www.instagram.com/ceddaac/"><i
                                            class="fab fa-instagram fa-2x text-dark"></i></a></div>
                            </li>
                            <li>
                                <div class="img-footer"><a target="_blank" href="#"><i class="fab fa-quora
                                    fa-2x text-dark"></i></a></div>
                            </li>
                            <li>
                                <div class="img-footer"><a target="_blank" href="#"><i
                                            class="fab fa-behance fa-2x text-dark"></i></a></div>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<section>
    <div class="container-fluid footer-bg2 p-4">
        <div class="container text-center">
            <div class="row">
                <div class="col left-align"><span>Copyright &copy; CEDAACCeddaac 2021. All Rights Reserved.</span></div>
                <div class="col right-align">
                    <span class="mr-1" routerLink="/home/termsandcondition" style="cursor: pointer;">Terms & Condition</span> |
                    <span class="mr-1" routerLink="/home/privacypolicy" style="cursor: pointer;">Privacy & Policy</span> |
                    <span routerLink="/home/cookiepolicy" style="cursor: pointer;">Cookie Policy</span>
                </div>
            </div>
            

            
        </div>
    </div>
</section>

<!-- <router-outlet></router-outlet> -->