<router-outlet></router-outlet>


<app-home-edit-profile *ngIf="openEditProfile"></app-home-edit-profile>
<app-login *ngIf="openLogin"></app-login>
<app-sign-up *ngIf="openSignup"></app-sign-up>
<app-forgot-password *ngIf="openForgot"></app-forgot-password>
<app-vendor-portfolio *ngIf="openVendor"></app-vendor-portfolio>
<app-view-vendor-portfolio *ngIf="openVendorList"></app-view-vendor-portfolio>
<app-subscribe *ngIf="openSubscribeModal"></app-subscribe>
<app-reach-out *ngIf="openReachOutModal"></app-reach-out>

<!-- Change Password -->
<app-change-password *ngIf="openChangePasswordModal"></app-change-password>
<!-- Change Password -->
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">  
    <p style="color: white">Please Wait.. </p>  
</ngx-spinner> 


    