<div class="typology">
  <div style="display: block;" class="modal fade show" id="exampleModal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
     <div class="modal-dialog" role="document">
        <div class="modal-content">
           <div class="modal-headers">
              <button (click)="closeTopographyModel(false)" type="button" class="close pr-2" data-dismiss="modal"
                 aria-label="Close">
              <span aria-hidden="true">&times;</span>
              </button>
           </div>
           <div class="modal-body" [formGroup]="TopographyModelForm">
              <p *ngIf="ValidationFlag" style="color: red;font-weight: 500;margin-bottom: 2px !important;">This Size You
                 Enter Is not Valid
              </p>
              <div
                 *ngIf="topographyData.description== 'Square'  || topographyData.description=='Rectangle' || topographyData.description== 'Trapezium' || topographyData.description== 'Parallelogram' "
                 class="dflex-center">
                 <ng-container *ngIf="topographyData.description== 'Parallelogram'">
                    <input type="text" formControlName="side_A" class="form-control" placeholder="Enter Base" (keyup)="autofillvalue($event.target.value)">
                 </ng-container>
                 <ng-container *ngIf="topographyData.description == 'Rectangle'">
                    <input type="text" formControlName="side_A" class="form-control" placeholder="Enter Length" (keyup)="autofillvalue($event.target.value)">
                 </ng-container>
                 <ng-container *ngIf="topographyData.description == 'Square'">
                  <input type="text" formControlName="side_A" class="form-control" placeholder="Enter Area" (keyup)="autofillvalue($event.target.value)">
               </ng-container>
               <ng-container *ngIf="topographyData.description == 'Trapezium'">
                  <input type="text" formControlName="side_A" class="form-control" placeholder="Enter Base" (keyup)="autofillvalue($event.target.value)">
               </ng-container>
              </div>
              <span class="error-red" *ngIf="f.side_A.errors?.required && submitted">Field is
              required
              </span>
              <div class="d-flex myMoalBody row">
                 <table class="w-100">
                    <tr>
                       <td style="width:25%;">
                          <div
                             *ngIf="topographyData.description== 'Rectangle' || topographyData.description== 'Trapezium' || topographyData.description== 'Parallelogram'"
                             class="col-md-12 text-center">
                             <ng-container *ngIf="topographyData.description == 'Parallelogram'">
                                <input type="text" formControlName="side_B" class="form-control m-auto" placeholder="Enter Height"
                                   style="transform: translate(0%, -50%);" >
                             </ng-container>
                             <ng-container *ngIf="topographyData.description == 'Rectangle'">
                                <input type="text" formControlName="side_B" class="form-control m-auto" placeholder="Enter Base"
                                   style="transform: translate(0%, -50%);">
                             </ng-container>
                             <ng-container *ngIf="topographyData.description == 'Trapezium'">
                              <input type="text" formControlName="side_B" class="form-control m-auto" placeholder="Enter Height" (blur)="autofillvalueTrapezium($event.target.value)" (focus)="autofillvalueTrapezium($event.target.value)"
                                 style="transform: translate(0%, -50%);">
                           </ng-container>
                             <span class="error-red" *ngIf="f.side_B.errors?.required && submitted">Field is
                             required
                             </span>
                          </div>
                       </td>
                       <td style="width:50%;text-align:center;">
                          <div class=""
                             [ngClass]="{'': topographyData.description == 'Rectangle' || topographyData.description == 'Trapezium'}">
                             <img [src]="allowurl(sharedService.imageBase+topographyData.image)" class="img-fluid popp">
                             <h5 class="popImgText">{{calculatorData.Areainsqft}} sqf.</h5>
                          </div>
                       </td>
                       <td style="width:25%;">
                       </td>
                    </tr>
                 </table>
              </div>
              <ng-container *ngIf="topographyData.description == 'Trapezium'">
                <div class="dflex-center">
                  <input type="text" formControlName="side_C" class="form-control" placeholder="Enter Base"  (blur)="autofillvalueTrapezium($event.target.value)"   (focus)="autofillvalueTrapezium($event.target.value)">
               </div>
               <span class="error-red" *ngIf="f.side_C.errors?.required && submitted">Field is
               required
               </span>
              </ng-container>
             
           </div>
           <div class="modal-footers">
              <button style="color: black !important;" (click)="saveTopographyModelDetails()" type="button" class="btn"
                 data-dismiss="modal">OK</button>
           </div>
        </div>
     </div>
  </div>
</div>