<div class="modal popup" id="subscribe" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered cutome_login" role="document">
        <div class="modal-content">
            <div class="modal-header border-bottom-0">
                <h5 class="modal-title col-lg-11">Subscribe</h5>
                <button type="button" (click)="onClose()" class="close">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body mb-3">
                <div class="mx-auto" [formGroup]="subscribeForm">
                    <div id="first">
                        <div class="myform form">
                            <div class="form-group myForm">
                                <input type="email" formControlName="email" name="email" class="form-control" id="email"
                                    aria-describedby="emailHelp" placeholder="Email">
                                <span class="error-red" *ngIf="f.email.errors?.required && submitted">Email is
                                    required</span>
                            </div>

                            <div class="col-md-12 text-center ">
                                <button (click)="loginSubmit()" type="button" class="mybtn tx-tfm">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>