<div class="blue block">
    <!-- Modal -->
    <div style="display: block;" id="myModal" class="modal fade show" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-body">
            <!-- Progress bar 2 -->
            <div class="progress-round mx-auto" data-value="75">
              <span class="progress-left">
                <span class="progress-bar" style="border-color: var(--main-color);"></span>
              </span>
              <span class="progress-right">
                <span class="progress-bar" style="border-color: var(--main-color);"></span>
              </span>
              <div
                class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
                <div class="h5 font-weight-bold mb-0 small">75<sup class="small">%</sup></div>
              </div>
            </div>
            <p><span id="subimagetext">{{title}}</span>
              <img src="{{imageUrl}}" class="img-fluid" alt=""></p>

          </div>
          <div class="modal-footers border-0 p-0 text-right">
            <button (click)= "closeModel(false)" type="button" class="btn" >OK</button>
          </div>
        </div>

      </div>
    </div>
  </div>