<section class="category_banner">
    
    <div id="demo" class="carousel slide" data-ride="carousel">
      <ul class="carousel-indicators custom-indecators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
        <li data-target="#demo" data-slide-to="3"></li>
        <li data-target="#demo" data-slide-to="4"></li>
      </ul>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="assets/banner/1.png" alt="Chicago" class="img-fluid">
        </div>
        <div class="carousel-item">
          <img src="assets/banner/2.png" alt="Chicago" class="img-fluid">
        </div>
        <div class="carousel-item">
          <img src="assets/banner/3.png" alt="Chicago" class="img-fluid">
        </div>
        <div class="carousel-item">
          <img src="assets/banner/4.png" alt="Chicago" class="img-fluid">
        </div>
        <div class="carousel-item">
          <img src="assets/banner/5.png" alt="Chicago" class="img-fluid">
        </div>
      </div>
      <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
    </div>
    </section>
    
    <app-search></app-search>
