.category_banner .container{
    max-width: 1686px;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 70px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.category_banner .carousel-indicators{
    margin-bottom: 0;
    bottom: -50px;
    
}
/* .category_banner .carousel .carousel-indicators li{
    width: 18px;
    max-width: 18px;
    height: 18px;
    box-shadow: 0px 0px 5px #636363;
    background-color: #ffffff;
    border: 1px solid transparent;
    border-radius: 10px;
}
.category_banner .carousel .carousel-indicators li.active{
    width: 45px;
    max-width: 45px;
    height: 18px;
    background-color: #07c189;
} */

.carousel-indicators.custom-indecators li {opacity: 1; box-shadow: 1px 1px 2px rgba(0,0,0,0.30); border: none; background: white;}
.carousel-indicators.custom-indecators .active {     min-width: 20px; background: #66CEC6; height: 10px; border-radius: 15px;}


@media screen and (max-width:1366px) and (min-width:1280px) {
    .category_banner .container{
        max-width: 1140px;
    }
}
@media screen and (max-width:480px) {
    .category_banner .carousel .carousel-indicators li.active {
        width: 30px;
        max-width: 30px;
        height: 12px;
    }
    .category_banner .carousel .carousel-indicators li {
        width: 12px;
        max-width: 12px;
        height: 12px;
    }
}