
h4.sliderTitle.pl-4 ul {
    background: #ececec;
    
    border: 1px solid #333;
    position: relative;
    top: -5px;
    overflow-x: auto;
    float: right;
}

h4.sliderTitle.pl-4 ul li a
{
        font-size: 11px;
    color: var(--main-color);
    text-transform: uppercase;
    letter-spacing: .5px;
    padding: 0 10px;
    font-weight: 100;
    position: relative;
    top: -2px;
}
h4.sliderTitle.pl-4 ul li
{
        padding: 3px 0 1px;
        display: inline-block;
}

h4.sliderTitle.pl-4 ul li:after
{
    content: "";
    border-right: 1.5px solid;

}

/* width */
.sliderTitle ::-webkit-scrollbar {
 width: 0;
    height: 4px;
}

/* Track */
.sliderTitle ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}


h4.sliderTitle.pl-4 ul li a
{
        font-size: 11px;
    color: var(--main-color);
    text-transform: uppercase;
    letter-spacing: .5px;
    padding: 0 10px;
    font-weight: 100;
    position: relative;
    top: -2px;
}


h4.sliderTitle.pl-4 ul li:after
{
    content: "";
    border-right: 1.5px solid;

}

h4.sliderTitle.pl-4 ul {
    background: #ececec;
    box-sizing: border-box;
	white-space: nowrap;
    overflow-x: hidden;
	-webkit-overflow-scrolling: touch;    
    border: 1px solid #333;
    height: 27px;
    padding-left: 12px;
}

h4.sliderTitle.pl-4 ul li
{
        padding: 0px 0 1px;
        display: inline-block;
        box-sizing: border-box;
}