<!-- 
    <ul class="list-unstyled mb-0 workspace" #widgetsContent>
        <li class="item" style="padding-left:10px;"><a href="#">residetial</a></li>
        <li class="item"><a href="#">apartment </a></li>
        <li class="item"><a href="#">2BHK</a></li>
        <li class="item"><a href="#">residetial</a></li>
        <li class="item"><a href="#">apartment </a></li>
        <li class="item"><a href="#">2BHK</a></li>
        <li class="item"><a href="#">2BHK</a></li>
        <li class="item"><a href="#">residetial</a></li>
        <li class="item"><a href="#">apartment </a></li>
        <li class="item"><a href="#">2BHK</a></li> 
        <li class="item"><a href="#">apartment </a></li>
        <li class="item"><a href="#">2BHK</a></li>
        <li class="item"><a href="#">2BHK</a></li>
        <li class="item" style="padding-right:10px;"><a href="#">residetial</a></li>

    </ul> -->

    <ul class="list-unstyled mb-0">
        <li><a >apartment</a></li>
        <li><a >2BHK</a></li>
        <li><a >residetial</a></li>
        <li><a >apartment</a></li>
    </ul>
