/* 
  video::-webkit-media-controls-play-button {
    display: none;
}

video::-webkit-media-controls-mute-button {  
  display: none; }

   */

   .calculator-details-box-hover{
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0;
    bottom: 0;
    display: none;
    /* display: flex; */
    align-items: flex-end;
    padding-left: 20px;
    padding-right: 20px;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(255,255,255,0.5));
   }
   .category_design_sec .carousel-item:hover .col-2.float-left:hover .calculator-details-box-hover{
    display: flex;
     
   }
   .calculator-details-box-hover .calculator-details-subTitle{
    font-size: 15px;
    line-height: 1.2;
   }
   .no_rcd{
    margin: 0 auto;
    display: block;
    text-align: center;
    font-weight: 500;
   }