<section class="category_design_sec mobile-hide">
   <ng-container *ngIf="Get_Link == ''">
      <div *ngFor="let subCategory of CategoryListData;let parentIndex=index" class="my-3 container-fluid pl-0 pr-0">
         <!-- <b>1--{{No_Record_Flag}}-{{subCategory.vendors.length}}</b> -->
         <h3 class="sliderTitle pl-3" *ngIf="subCategory.vendors.length > 0">{{subCategory.title}}</h3>
         <ng-container *ngIf="subCategory.vendors.length > 0">
            <div id="recipeCarousel_{{parentIndex}}" class="carousel slide w-100" data-ride="carousel">
               <div class="carousel-inner w-100" role="listbox" *ngIf="subCategory.vendors">
                  <ng-container *ngFor="let vendor_list of counter(subCategory.vendors.length/6);let i=index">
                     <div class="carousel-item row no-gutters" [ngClass]="{'active': i == 0}" style="padding-left:20px;"
                        *ngIf="subCategory.vendors && subCategory.vendors.length>0">
                        <div (click)="showVendor(false,vendor.id,vendor,subCategory.vendors)"
                           *ngFor="let vendor of subCategory.vendors.slice(i*6,6*(i+1))"
                           class="col-2 col-xl-2 float-left mx-2" (mouseover)="changeStyle($event)"
                           (mouseout)="changeStyle($event)">
                           <video [src]="allowurl(SharedService.imageBase+vendor.company_logo)" controls autoplay loop
                              onmouseover="this.play()" onmouseout="this.pause();" style="width: 212px;height: 140px;"
                              *ngIf="vendor.logo_type == 'Video'">
                           </video>
                           <img class="img-fluid" [src]="allowurl(SharedService.imageBase+vendor.company_logo)"
                              *ngIf="vendor.logo_type != 'Video'">
                           <div class="caption">
                              <h4> {{(vendor?.company_name.length>20)? (vendor?.company_name |
                                 slice:0:20)+'..':(vendor?.company_name)}} <span class="float-right">
                                    {{vendor['rating']? vendor['rating'] : '0'}} <i class="fa fa-star"
                                       style="color: #ffc107;"></i></span></h4>
                              <p *ngIf="User_flag" class="mb-1">
                                 <span *ngIf="vendor.join_services">
                                    Speciality: <span>{{vendor.join_services}}</span><span
                                       *ngIf="vendor.join_services_2">,{{vendor.join_services_2}}</span>
                                 </span><br *ngIf="vendor.join_services_2 || vendor.join_services">
                                 Location : {{vendor.city_name}}, {{vendor.state_name}},
                                 {{vendor.country_name}}
                              </p>
                           </div>
                        </div>
                     </div>
                  </ng-container>
               </div>
               <a class="carousel-control-prev" href="#recipeCarousel_{{parentIndex}}" role="button" data-slide="prev"
                  *ngIf="subCategory.vendors.length > 6" (click)="onPrevious()">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
               </a>
               <a class="carousel-control-next" href="#recipeCarousel_{{parentIndex}}" role="button" data-slide="next"
                  *ngIf="subCategory.vendors.length > 6" (click)="onNext()">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
               </a>
            </div>
         </ng-container>
         <!-- <ng-container *ngFor="let qwerty of getVendorData(CategoryListData)">
            
            
         </ng-container> -->
      </div>
   </ng-container>
   <ng-container *ngIf="Get_Link != ''">
      <div *ngFor="let subCategory of CategoryListData;let parentIndex=index" class="my-3 container-fluid pl-0 pr-0">
         <!-- <b>{{subCategory.vendors.length}}</b> -->
         <h3 class="sliderTitle pl-3" *ngIf="subCategory.vendors.length > 0">
            {{subCategory.title}}</h3>
         <ng-container *ngIf="subCategory.vendors.length > 0">
            <div id="recipeCarousel_{{parentIndex}}" class="carousel slide w-100" data-ride="carousel">
               <div class="carousel-inner w-100" role="listbox" *ngIf="subCategory.vendors">
                  <ng-container *ngFor="let vendor_list of counter(subCategory.vendors.length/6);let i=index">
                     <div class="carousel-item row no-gutters" [ngClass]="{'active': i == 0}" style="padding-left:20px;"
                        *ngIf="subCategory.vendors && subCategory.vendors.length>0">
                        <div (click)="showVendor(false,vendor.id,vendor,subCategory.vendors)"
                           *ngFor="let vendor of subCategory.vendors.slice(i*6,6*(i+1))" class="col-2 float-left mx-2"
                           (mouseover)="changeStyle($event)" (mouseout)="changeStyle($event)">
                           <video [src]="allowurl(SharedService.imageBase+vendor.company_logo)" controls autoplay loop
                              onmouseover="this.play()" onmouseout="this.pause();" style="width: 212px;height: 140px;"
                              *ngIf="vendor.logo_type == 'Video'">
                           </video>
                           <img class="img-fluid" [src]="allowurl(SharedService.imageBase+vendor.company_logo)"
                              *ngIf="vendor.logo_type != 'Video'">
                           <div class="caption">
                              <h4> {{(vendor?.company_name.length>20)? (vendor?.company_name |
                                 slice:0:20)+'..':(vendor?.company_name)}} <span class="float-right">
                                    {{vendor['rating']? vendor['rating'] : '0'}} <i class="fa fa-star"
                                       style="color: #ffc107;"></i></span></h4>
                              <p *ngIf="User_flag" class="mb-1">
                                 <span *ngIf="vendor.join_services">Speciality:
                                    <span>{{vendor.join_services}}</span><span *ngIf="vendor.join_services_2"><span
                                          *ngIf="vendor.join_services != vendor.join_services_2">,{{vendor.join_services_2}}</span></span></span><br
                                    *ngIf="vendor.join_services_2 || vendor.join_services">
                                 Location : {{vendor.city_name}}, {{vendor.state_name}},
                                 {{vendor.country_name}}
                                 <!-- <br> -->
                                 <!-- Type : {{vendor.vendor_type}}
                               <br> -->
                                 <!-- Rating :
                               <i class="fa fa-star"
                                   *ngFor="let keyss of vendor['rating'] | demoNumber"></i>
                                   {{vendor['review_pending']}}
                               <i class="fa fa-star pending"
                                   *ngFor="let penkeyss of (5-vendor['rating']) | demoNumber"
                                   style="color: #cecebf;">
                               </i> -->
                                 <!-- ({{vendor['rating']? vendor['rating'] : '0'}}/5) -->
                              </p>
                           </div>
                           <!-- <div class="calculator-details-box-hover">
                         <p class="calculator-details-subTitle">Lorem ipsum dolor sit amet consectetur adipisicing elit. <a href="#">see more</a></p>
                         </div> -->
                        </div>
                     </div>
                  </ng-container>
               </div>
               <a class="carousel-control-prev" href="#recipeCarousel_{{parentIndex}}" role="button" data-slide="prev"
                  *ngIf="subCategory.vendors.length > 6" (click)="onPrevious()">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
               </a>
               <a class="carousel-control-next" href="#recipeCarousel_{{parentIndex}}" role="button" data-slide="next"
                  *ngIf="subCategory.vendors.length > 6" (click)="onNext()">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
               </a>
            </div>
         </ng-container>
      </div>
   </ng-container>
   <ng-container *ngIf="No_Record_Flag">
      <span  class="no_rcd">
         No vendors are available at the selected location
      </span>
   </ng-container>
   
</section>
<section class="category_design_sec mobile-show">
   <!-- <owl-carousel-o [options]="customOptions">
       <ng-template carouselSlide>Slide 1</ng-template>  
       <ng-template carouselSlide>Slide 2</ng-template>  
       <ng-template carouselSlide>Slide 3</ng-template>  
       </owl-carousel-o> -->
   <ng-container *ngIf="Get_Link == ''">
      <div *ngFor="let subCategory of CategoryListData;let parentIndex=index" class="my-3 container-fluid pl-0 pr-0">
         <!-- <h3 class="sliderTitle pl-3" *ngIf="subCategory.vendors.length > 0">{{subCategory.type}}</h3> -->
         <h3 class="sliderTitle pl-3" *ngIf="subCategory.vendors.length > 0">{{subCategory.title}}</h3>
         <!-- <ng-container *ngIf="subCategory.vendors.length > 0"> -->
         <div id="recipeCarousel_{{parentIndex}}mo" class="carousel slide w-100" data-ride="carousel">
            <div class="carousel-inner w-100" role="listbox" *ngIf="subCategory.vendors">
               <ng-container *ngIf="subCategory.vendors && subCategory.vendors.length>0">
                  <div class="carousel-item row no-gutters" [ngClass]="{'active': i == 0}" style="padding-left:20px;"
                     *ngFor="let vendor of subCategory.vendors;let i=index">
                     <div (click)="showVendor(false,vendor.id,vendor,subCategory.vendors)"
                        class="col-2 col-xl-2 float-left mx-2" (mouseover)="changeStyle($event)"
                        (mouseout)="changeStyle($event)">
                        <!-- *ngFor="let vendor of subCategory.vendors.slice(i*6,6*(i+1))" -->
                        <video [src]="allowurl(SharedService.imageBase+vendor.company_logo)" controls autoplay loop
                           onmouseover="this.play()" onmouseout="this.pause();" style="width: 212px;height: 140px;"
                           *ngIf="vendor.logo_type == 'Video'">
                        </video>
                        <img class="img-fluid" [src]="allowurl(SharedService.imageBase+vendor.company_logo)"
                           *ngIf="vendor.logo_type != 'Video'">
                        <div class="caption">
                           <h4> {{(vendor?.company_name.length>20)? (vendor?.company_name |
                              slice:0:20)+'..':(vendor?.company_name)}} <span class="float-right"> {{vendor['rating']?
                                 vendor['rating'] : '0'}} <i class="fa fa-star" style="color: #ffc107;"></i></span></h4>
                           <p *ngIf="User_flag" class="mb-1">
                              <span *ngIf="vendor.join_services">
                                 Speciality: <span>{{vendor.join_services}}</span><span
                                    *ngIf="vendor.join_services_2">,{{vendor.join_services_2}}</span>
                              </span><br *ngIf="vendor.join_services_2 || vendor.join_services">
                              Location : {{vendor.city_name}}, {{vendor.state_name}},
                              {{vendor.country_name}}
                              <!-- <br> -->
                              <!-- Rating :
                            <i class="fa fa-star"
                                *ngFor="let keyss of vendor['rating'] | demoNumber"></i>
                                {{vendor['review_pending']}}
                            <i class="fa fa-star pending"
                                *ngFor="let penkeyss of (5-vendor['rating']) | demoNumber"
                                style="color: #cecebf;">
                            </i>
                            
                            ({{vendor['rating']? vendor['rating'] : '0'}}/5) -->
                           </p>
                        </div>
                     </div>
                  </div>
               </ng-container>
            </div>
            <a class="carousel-control-prev" href="#recipeCarousel_{{parentIndex}}mo" role="button" data-slide="prev"
               *ngIf="subCategory.vendors.length>1" (click)="onPrevious()">
               <span class="carousel-control-prev-icon" aria-hidden="true"></span>
               <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#recipeCarousel_{{parentIndex}}mo" role="button" data-slide="next"
               *ngIf="subCategory.vendors.length>1" (click)="onNext()">
               <span class="carousel-control-next-icon" aria-hidden="true"></span>
               <span class="sr-only">Next</span>
            </a>
         </div>
         <!--  </ng-container> -->
      </div>
   </ng-container>
   <ng-container *ngIf="Get_Link != ''">
      <!-- <ng-container> -->
      <div *ngFor="let subCategory of CategoryListData;let parentIndex=index" class="my-3 container-fluid pl-0 pr-0">
         <h3 class="sliderTitle pl-3" *ngIf="subCategory.vendors.length > 0">
            {{subCategory.title}}{{counter(subCategory.vendors.length/6)}}</h3>
         <ng-container *ngIf="subCategory.vendors.length > 0">
            <div id="recipeCarousel_{{parentIndex}}mo" class="carousel slide w-100" data-ride="carousel">
               <div class="carousel-inner w-100" role="listbox" *ngIf="subCategory.vendors">
                  <!-- <p >{{subCategory.vendors.length}}</p> -->
                  <ng-container *ngIf="subCategory.vendors && subCategory.vendors.length>0">
                     <div *ngFor="let vendor of subCategory.vendors;let i=index" class="carousel-item row no-gutters"
                        [ngClass]="{'active': i == 0}" style="padding-left:20px;">
                        <div (click)="showVendor(false,vendor.id,vendor,subCategory.vendors)"
                           class="col-2 float-left mx-2" (mouseover)="changeStyle($event)"
                           (mouseout)="changeStyle($event)">
                           <!-- 
                         *ngFor="let vendor of subCategory.vendors.slice(i*6,6*(i+1))" -->
                           <video [src]="allowurl(SharedService.imageBase+vendor.company_logo)" controls autoplay loop
                              onmouseover="this.play()" onmouseout="this.pause();" style="width: 212px;height: 140px;"
                              *ngIf="vendor.logo_type == 'Video'">
                           </video>
                           <img class="img-fluid" [src]="allowurl(SharedService.imageBase+vendor.company_logo)"
                              *ngIf="vendor.logo_type != 'Video'">
                           <div class="caption">
                              <h4> {{(vendor?.company_name.length>20)? (vendor?.company_name |
                                 slice:0:20)+'..':(vendor?.company_name)}} <span class="float-right">
                                    {{vendor['rating']? vendor['rating'] : '0'}} <i class="fa fa-star"
                                       style="color: #ffc107;"></i></span></h4>
                              <p *ngIf="User_flag" class="mb-1">
                                 <span *ngIf="vendor.join_services">Speciality:
                                    <span>{{vendor.join_services}}</span><span *ngIf="vendor.join_services_2"><span
                                          *ngIf="vendor.join_services != vendor.join_services_2">,{{vendor.join_services_2}}</span></span></span><br
                                    *ngIf="vendor.join_services_2 || vendor.join_services">
                                 Location : {{vendor.city_name}}, {{vendor.state_name}},
                                 {{vendor.country_name}}
                                 <!-- <br> -->
                                 <!-- Type : {{vendor.vendor_type}}
                               <br> -->
                                 <!-- Rating :
                               <i class="fa fa-star"
                                   *ngFor="let keyss of vendor['rating'] | demoNumber"></i>
                                   {{vendor['review_pending']}}
                               <i class="fa fa-star pending"
                                   *ngFor="let penkeyss of (5-vendor['rating']) | demoNumber"
                                   style="color: #cecebf;">
                               </i> -->
                                 <!-- ({{vendor['rating']? vendor['rating'] : '0'}}/5) -->
                              </p>
                           </div>
                           <!-- <div class="calculator-details-box-hover">
                         <p class="calculator-details-subTitle">Lorem ipsum dolor sit amet consectetur adipisicing elit. <a href="#">see more</a></p>
                         </div> -->
                        </div>
                     </div>
                  </ng-container>
               </div>
               <a class="carousel-control-prev" href="#recipeCarousel_{{parentIndex}}mo" role="button" data-slide="prev"
                  *ngIf="subCategory.vendors.length>1" (click)="onPrevious()">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
               </a>
               <a class="carousel-control-next" href="#recipeCarousel_{{parentIndex}}mo" role="button" data-slide="next"
                  *ngIf="subCategory.vendors.length>1" (click)="onNext()">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
               </a>
            </div>
         </ng-container>
      </div>
      <!-- </ng-container> -->
      <!-- <div class="my-3 container-fluid pl-0 pr-0" *ngIf="No_Record_Flag">
          <p style="color: red;">No Vendor Found...</p>
          </div> -->
   </ng-container>
</section>