@import url("../../../assets/css/calc2.css");


.grey{
    height: 560px;
    /* background-color: #6c757d !important; */
}

.bggrey{
    filter: grayscale(0%);
    background: #828b94 !important;
    transition: .5s all;
}