<!-- Get your cost effective estimate popup
<app-costplanpopup (closepopUp)='openCloseCostPlanModel($event)' closepopUp *ngIf=openCostPlanPopUp></app-costplanpopup>

<section class="typology ">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 col-md-6">
        <h4 style="padding-bottom:1.2%;" class="sliderTitle">{{topographyData.inputType}}</h4>
        <div class="row no-gutter border text-center">
          <div class="col-lg-12 col-md-12 col-12 bg-grey-lg border-bottom-0  position-relative">
            <div>
              <button (click)="navigateToTopography()" type="button" class="close position-absolute" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
              <img width="320" src="{{topographyData.imageUrl}}" class="img-fluid">
              <h4>{{topographyData.imageText}}</h4>
            </div>
          </div>

        </div>
      </div>



      <div class="col-lg-6 col-md-6 bgBlur1">
        <h4 class="sliderTitle pl-4 mb-2">TYPE OF PROJECT
          <ul class="list-unstyled mb-0">
            <li><a [routerLink]="['../typology/', getCalculatorDatails.Typology]">{{typologyDatails.imageText}}</a></li>
            <li><a [routerLink]="['../topography-home/']">{{topographyDatails.imageText}}</a></li>
            <li *ngIf="!level1Flag"><a (click)="getCalculatorData()">{{typeOfProject && typeOfProject.length>0?typeOfProject[0].inputType:''}}</a>
            </li>
            <li *ngIf="!level2Flag"><a>{{typeOfProject && typeOfProject.length>0?typeOfProject[0].inputType:''}}</a></li>
            <li><a>residetial</a></li> 

          </ul>
          <div class="clearfix"></div>
        </h4>
        <div class="scroller-style">
          <div class="row no-gutter border text-center">
            <div (click)="saveTypeofProjectDetails(typeOfProjects.inputId,typeOfProjects.inputName)"
              *ngFor="let typeOfProjects of typeOfProject; let i=index"
              class="col-lg-4 col-md-4 col-6 bg-grey h-170 clac-3 border-bottom-0 border-right-0 calc-2"
              [ngClass]="{'m-br': i == 1,'bor-m': i == 2,'border-right-0': i == 0 || i == 1 || i == 3 || i == 4,
              'bggrey':selectedBhk == typeOfProjects.inputName || selectedLevel1 == typeOfProjects.inputId || selectedLevel2 == typeOfProjects.inputId}">
              <div class="clac-left-sec">
                <img src="{{typeOfProjects.imageUrl}}" class="img-fluid">
                <h4>{{typeOfProjects.imageText}}</h4>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-6 bg-grey h-170 clac-3 border-bottom-0 calc-2 border-right-0 m-br">
              <div class="clac-left-sec">

              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-6 bg-grey h-170 clac-3 calc-2 border-right-0 border-bottom-0 bor-m">
              <div class="clac-left-sec">

              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-6 bg-grey h-170 clac-3 border-bottom-0 calc-2 border-right-0 m-br">
              <div class="clac-left-sec">

              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-6 bg-grey h-170 clac-3 border-bottom-0 calc-2 border-right-0 m-br">
              <div class="clac-left-sec">

              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-6 bg-grey h-170 clac-3 calc-2 border-bottom-0 d1-hide m-br">
              <div class="clac-left-sec">

              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div (click)="openCloseCostPlanModel(true)" class="col-lg-12 mt-4">
            <a href="#" class="getBtnCalcPage" data-toggle="modal">GET YOUR COST
              EFFECTIVE ESTIMATE</a>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

<app-bhk-popup (closePopUP)=openCloseLevel2Model($event) (selectedBhk)=setBhkName($event) *ngIf=openLevel2PopUp>
</app-bhk-popup> -->