<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 col-md-6" *ngIf="topographyData && topographyData.length>0">
        <h4 class="sliderTitle mb-3">SHAPE OF PLOT</h4>
        <div class="row no-gutter border text-center ml-md-auto {{topography_class}}">
          <div (click)="saveTopographyDetails(topography)"
          *ngFor="let topography of topographyData; let i=index" class="col-lg-4 col-md-4 col-4 bg-grey calc-2"
           class="col-lg-4 col-md-4 col-4 bg-grey calc-2">
            <div class="clac-left-sec">
              <img [src]="allowurl(sharedService.imageBase+topography.image)" class="img-fluid">
              <h4>{{topography.name}}</h4>
            </div>
          </div>
      
          <div class="col-lg-4 col-md-4 col-4  bg-grey calc-2">
            <a href="javascript:void(0);">
              <div class="clac-left-sec2">

                <h4>SCAN IMAGE</h4>
              </div>
            </a>
          </div>

          <app-topography-model (closeModel)="closeTopographyModel($event)" *ngIf=openTopographyModel></app-topography-model>          

        </div>
      </div>


      <div class="col-lg-6 col-md-6" *ngIf="!(topographyData && topographyData.length>0)">
        <h4 class="sliderTitle pd-b-5">Area</h4>
        <div class="row no-gutter border text-center">
            <div class="col-lg-12 col-md-12 col-12 bg-grey-lg position-relative">
                <div>
                    <!-- <button (click)="navigateToTopography()" type="button" class="close position-absolute"
                        aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button> -->
                    <!-- <img class="img-lg" [src]="allowurl(sharedService.imageBase+topographyData.image)" class="img-fluid"> -->
                    <h5 class="popImgText" style="top: 42%;">{{calculatorData.Areainsqft}} sqf.</h5>
                    <!-- <h4>{{topographyData.name}}</h4> -->
                </div>
            </div>
        </div>
    </div>






      <div class="col-lg-6 col-md-6 ">
        <h4 class="sliderTitle pl-4 mb-2">TYPE OF BUILDING
          <div class="ulcontainer">
          <ul class="list-unstyled mb-0">
            <li><a [routerLink]="['../typology/']" *ngIf="getCalculatorDatails">{{getCalculatorDatails.name}}</a></li>
            <!-- <li><a >Topography</a></li>
            <li><a >residetial</a></li>
            <li><a >residetial</a></li>
            <li><a >residetial</a></li> -->

          </ul>
          <div class="clearfix"></div>
        </div>
          <div class="clearfix"></div>
        </h4>
        <div class="scroller-style {{typeofproject_class}}">
          <div class="row no-gutter text-center">

            <ng-container *ngIf="topography_flag">
              <div *ngFor="let typeOfProjects of typeOfProject; let i=index"
              class="col-lg-4 col-md-4 col-6 bg-grey h-170 clac-3 calc-2"
              [ngClass]="{'m-br': i == 1,'bor-m': i == 2,'': i == 0 || i == 1 || i == 3 || i == 4}" (click)="saveTypeofProjectDetails(typeOfProjects.id,typeOfProjects.name)">
                <div class="clac-left-sec">
                  <img [src]="allowurl(sharedService.imageBase+typeOfProjects.image)" class="img-fluid">
                  <h4>{{typeOfProjects.name}}</h4>
                </div>
              </div>
            </ng-container>

            <ng-container *ngIf="!topography_flag">
              <div *ngFor="let typeOfProjects of typeOfProject; let i=index"
              class="col-lg-4 col-md-4 col-6 bg-grey h-170 clac-3 calc-2"
              [ngClass]="{'m-br': i == 1,'bor-m': i == 2,'': i == 0 || i == 1 || i == 3 || i == 4}">
                <div class="clac-left-sec">
                  <img [src]="allowurl(sharedService.imageBase+typeOfProjects.image)" class="img-fluid">
                  <h4>{{typeOfProjects.name}}</h4>
                </div>
              </div>
            </ng-container>





     
<div class="clearfix"></div>
          </div>
          
        </div>

       

      </div>
    </div>
  </div>
</section>
