/* You can add global styles to this file, and also import other style files */

body {font-family: 'Roboto', sans-serif; background-color: #f7f7f7; color: #3d3d3d;}

.error-red{
    color: firebrick;
    font-size: 13px;
    }
    .popup{
        display:block;
        overflow-x: hidden;
        overflow-y: auto;
    }

    .bggrey{
        filter: grayscale(0%);
        background: #828b94 !important;
        transition: .5s all;
    }

.no_rcd{
    margin: 10px auto;
    display: block;
    color: #fb3535;
    font-weight: 500;
    padding: 0px 0px;
    margin-left: 2%;
}
.reachOutBtnn {
    color: #4ba92a !important;
    text-transform: uppercase;
    margin-left: 0;
    border: 1px solid #ddd;
    padding: 2px 26px;
    font-size: 12px;
    border-radius: 6px;
    font-weight: 600;
    position: relative;
    /* top: -25px; */
    float: right;
    right: 15px;
    background: #fff;
    padding-bottom: 0;
}


.carousel-control-next, .carousel-control-prev {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 5% ;
    color: #fff;
    text-align: center;
    opacity: .5;
    transition: opacity .15s ease;
}

.search-header .title {
    color: #000;
    font-size: 32px;
    line-height: 150%;
    font-weight: 700;
}
.navbar.scrolling-navbar {
    z-index: 1000;
    background-color: #F4F4F4;
    box-shadow: 3px 3px 20px rgba(0,0,0,0.17);
}
small.error_input {
    color: red;
}

/* Calculator Part */

.main-logo { max-width: 105px; margin: 0.625rem 0}
.footer-logo { max-width: 250px}

.js .bb-item{
    width: 100%;
    height: 570px !important;
    position: absolute;
    top: 0px !important;
    left: 0;
    display: none;
    background: #fff;
}
.text-green { color: #01c587;}
.btn-commen { border: solid 1px #3d3d53; background: none; border-radius: 5px; padding: 5px 10px; text-align: center; color: #3d3d53;}
.btn-commen:hover {background-color: #00eb9c; color: #3d3d53; border: solid 1px #00aa73}
#mapa-mapbox{
    width: 100%;
    height: 200px;
}
html,body{
    width: 100%;
    height: 100%;
}