<!-- Get your cost effective estimate popup -->
<app-costplanpopup (closepopUp)='openCloseCostPlanModel($event)' closepopUp *ngIf=openCostPlanPopUp></app-costplanpopup>

<section class="typology ">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <h4 class="sliderTitle pd-b-5" *ngIf="topographyData">{{topographyData.name ? topographyData.name : ''}}</h4>
                <div class="row no-gutter border text-center">
                    <div class="col-lg-12 col-md-12 col-12 bg-grey-lg position-relative">
                        <div >
                            <!-- <button (click)="navigateToTopography()" type="button" class="close position-absolute"
                                aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button> -->
                            <img class="img-lg" [src]="allowurl(sharedService.imageBase+topographyData.image)"
                                class="img-fluid" *ngIf="topographyData">
                            <h5 class="popImgText" style="top: 42%;">{{calculatorData.Areainsqft}} sqf.</h5>
                            <h4 *ngIf="topographyData">{{topographyData.name}}</h4>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-lg-6 col-md-6 bgBlur1">
                <h4 class="sliderTitle pl-4 mb-2">TYPE OF PROJECT
                    <div class="ulcontainer">
                    <ul class="list-unstyled mb-0">
                        <li>
                            <a [routerLink]="['../typology/']">{{typologyDatails.name}}</a>
                        </li>
                        <li *ngIf="topographyData">
                            <a [routerLink]="['../topography-home/']">{{topographyData.name}}</a>
                        </li>
                        <li>
                            <a [routerLink]="['../level1/']" *ngIf="topographyData">{{calculatorData.TypeOfProject}}</a>
                            <a [routerLink]="['../topography-home/']" *ngIf="!topographyData">{{calculatorData.TypeOfProject}}</a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                <div class="clearfix"></div>
                </h4>
                <div class="scroller-style-small">

                    <div class="row no-gutter border text-center" *ngIf="!Record_Flag">
                        <div (click)="saveTypeofProjectDetails(project.id,project.name)"
                            *ngFor="let project of typeOfProject; let i=index"
                            class="col-lg-4 col-md-4 col-6 bg-grey h-170 clac-3 calc-2"
                            [ngClass]="{'m-br': i == 1,'bor-m': i == 2,'': i == 0 || i == 1 || i == 3 || i == 4,'bggrey':selectedLevel1 == project.id}">
                            <div class="clac-left-sec">
                                <img [src]="allowurl(sharedService.imageBase+project.image)" class="img-fluid">
                                <h4>{{project.name}}</h4>
                            </div>
                        </div>
                    </div>

                    <div class="row no-gutter border text-center no_rcd" *ngIf="Record_Flag">
                        <img src="assets/images/comming_soon.png" style="width: 76%;">
                        <!-- <p>{{msg}}</p> -->
                    </div>


                    <!-- <div (click)="saveTypeofProjectDetails(project.inputId,project.inputName)"
                            *ngFor="let project of typeOfProject; let i=index"
                            class="col-lg-4 col-md-4 col-6 bg-grey h-170 clac-3 border-bottom-0 border-right-0 calc-2"
                            [ngClass]="{'m-br': i == 1,'bor-m': i == 2,'border-right-0': i == 0 || i == 1 || i == 3 || i == 4,
                            'bggrey':selectedLevel2 == project.inputId}">
                            <div class="clac-left-sec">
                                <img src="{{project.imageUrl}}" class="img-fluid">
                                <h4>{{project.imageText}}</h4>
                            </div>
                        </div> -->



                    <!-- <div
                            class="col-lg-4 col-md-4 col-6 bg-grey h-170 clac-3 border-bottom-0 calc-2 border-right-0 m-br">
                            <div class="clac-left-sec">

                            </div>
                        </div>
                        <div
                            class="col-lg-4 col-md-4 col-6 bg-grey h-170 clac-3 calc-2 border-right-0 border-bottom-0 bor-m">
                            <div class="clac-left-sec">

                            </div>
                        </div>
                        <div
                            class="col-lg-4 col-md-4 col-6 bg-grey h-170 clac-3 border-bottom-0 calc-2 border-right-0 m-br">
                            <div class="clac-left-sec">

                            </div>
                        </div>
                        <div
                            class="col-lg-4 col-md-4 col-6 bg-grey h-170 clac-3 border-bottom-0 calc-2 border-right-0 m-br">
                            <div class="clac-left-sec">

                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-6 bg-grey h-170 clac-3 calc-2 border-bottom-0 d1-hide m-br">
                            <div class="clac-left-sec">

                            </div>
                        </div> -->

                </div>

                <!-- <div class="row">
                    <div (click)="openCloseCostPlanModel(true)" class="col-lg-12 mt-4">
                        <a href="#" class="getBtnCalcPage" data-toggle="modal">GET YOUR COST
                            EFFECTIVE ESTIMATE</a>
                    </div>
                </div> -->

            </div>
        </div>
    </div>
</section>