<div class="modal popup" id="form" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered cutome_login" role="document">
        <div class="modal-content">
            <div class="modal-header border-bottom-0">
                <h5 class="modal-title col-lg-11">Change Password</h5>
                <button type="button" (click)="closemodel()" class="close">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="mx-auto" [formGroup]="Form_cng">
                    <div id="first">
                        <div class="myform form">
                            <div class="form-group myForm">
                                <input type="password" formControlName="current_password" name="current_password" class="form-control" id="current_password" aria-describedby="current_passwordHelp" placeholder="Old Password" [ngClass]="{ 'is-invalid': submittedcng && f_cng.current_password.errors }">
                                <div *ngIf="submittedcng && f_cng.current_password.errors">
                                    <small *ngIf="f_cng.current_password.errors.required" class="error_input">
                                        This Field is required
                                    </small>
                                </div>
                            </div>
                            <div class="form-group myForm">
                                <input type="password" formControlName="password" name="password" class="form-control" id="passwords" aria-describedby="emailHelp" placeholder="New Password" [ngClass]="{ 'is-invalid': submittedcng && f_cng.password.errors }">
                                <div *ngIf="submittedcng && f_cng.password.errors">
                                    <small *ngIf="f_cng.password.errors.required" class="error_input">
                                        This Field is required
                                    </small>
                                    <small *ngIf="f_cng.password.errors.minlength || f_cng.password.errors.maxlength"
                                    class="error_input">Password
                                    length should be atleast 4 and maximum 20</small>
                                </div>
                            </div>
                            <div class="col-md-12 text-center mb-3">
                                <button (click)="loginSubmit()" type="button" class="mybtn tx-tfm">Submit</button>
                            </div>
                            <div class="col-md-12 mb-2 mt-2">

                                <div class="form-group">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>