<!-- Header start here-->
<section class="header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!--Navbar blue-->
                <nav class="navbar navbar-expand-lg fixed-top scrolling-navbar navbar-dark align-items-top">
                    <div class="container remove-flex-in-mobile px-0">
                        <a><img src="assets/img/logo_main.png" class="main-logo" (click)="loadHome()"></a>
                        <!-- <a (click)="loadHome()" class="navbar-brand"><span>C</span><span>E</span><span
                            class="active-color">D</span><span
                            class="smallText"><span>D</span><span>A</span><span>A</span><span>C</span></span></a> -->

                       
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <i class="fa fa-bars" aria-hidden="true" style="font-size: 25px"></i>
                            <!-- <span class="navbar-toggler-icon"></span> -->
                        </button>
                        <!-- SEARCH FOR MOBILE -->
                        <div class="search-wrap-mobile">
                            <form class="form-inline">
                                <!-- <a class="filterLinkBtn pt-3" href="javascript:void(0);" (click)="onSearch()">Search</a> -->
                                <span><i class="fa fa-search"></i></span>
                                <input class="form-control mr-sm-2" type="text" placeholder="" aria-label="Search"
                                    #seachKey id="seachKey">
                            </form>
                        </div>
                        <div class="collapse navbar-collapse pl-5 pl-lg-5 justify-content-end"
                            id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto ul-main-link">

                                <li class="nav-item" *ngFor="let categoryData of DirectoryCategoryMenu; let i= index">
                                    <a (click)="getCategorydata(categoryData.link,categoryData)" class="nav-link"
                                        [ngClass]="{'nav-active': categoryData.flag == true}">{{categoryData.name}}
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" (click)="onRedirectHomePage()">how it works</a>
                                </li>
                            </ul>
                            <!-- SEACRH FOR DESKTOP -->
                            <div class="form-inline mobile-hide  ml-auto">
                                <!-- <input class="form-control mr-sm-2" style="height: auto;margin-bottom: 0;" type="text" placeholder="" aria-label="Search" #seachKey id="seachKey"> -->
                                <form class="form-inline search-wrap">
                                    <!-- <a class="filterLinkBtn pt-3" href="javascript:void(0);" (click)="onSearch()">Search</a> -->
                                    <button type="submit" (click)="onSearch()"><i class="fa fa-search"></i></button>
                                    <input class="form-control mr-sm-2" type="text" placeholder="" aria-label="Search" #seachKey
                                        id="seachKey">
                                </form>
                            </div>
                            <ul *ngIf="isLoggedIn" class="navbar-nav nav-flex-icons ml-sm-2 ul-user">
                                <li class="nav-item">
                                    <a class="nav-link waves-effect waves-light"><i class="fa fa-shopping-cart"></i></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link waves-effect waves-light"><i class="fa fa-bell"></i></a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i
                                            class="fa fa-user"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right dropdown-unique"
                                        aria-labelledby="navbarDropdownMenuLink">
                                        <a class="dropdown-item">Welcome {{userName}}</a>
                                        <a (click)="openEditProfile()" class="dropdown-item">Edit your profile</a>
                                        <a (click)="onChangePassword()" class="dropdown-item">Change Password</a>
                                        <a class="dropdown-item">Watch your project</a>
                                        <!-- <a [routerLink]="['/vendor-category']" class="dropdown-item" *ngIf="Vendor_flag">Category</a> -->
                                        <!-- <a (click)="onClickPortFolio()" class="dropdown-item" >PortFolio</a> -->
                                        <a (click)="signOut()" class="dropdown-item">Sign out</a>
                                    </div>
                                </li>
                            </ul>
                            <ul *ngIf="!isLoggedIn" class="navbar-nav nav-flex-icons ul-user">
                                <li class="nav-item for-mobile">
                                    <a (click)="onClickLogin()" class="nav-link waves-effect waves-light">login</a>
                                </li>
                                <li class="nav-item mobile-hide">
                                    <a class="nav-link">|</a>
                                </li>
                                <li class="nav-item for-mobile">
                                    <a (click)="openCloseSignuppopup()"
                                        class="nav-link waves-effect waves-light">signup</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <!--/.Navbar blue-->
            </div>
            <!--  <div class="mobileSerch mobile-show d-hide">
                <div class="col-2">
                    <i class="fa fa-search fa-2x openBtn" onclick="openSearch()"></i>
                    <div id="myOverlay" class="overlays">
                        <span class="closebtn" onclick="closeSearch()" title="Close Overlay">×</span>
                        <div class="overlay-content">
                            <form action="/action_page.php">
                                <input type="text" placeholder="Search.." name="search" #seachKey id="seachKey">
                                <button type="submit" (click)="onSearch()"><i class="fa fa-search"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</section>
<!-- Header END here-->

<!-- <router-outlet  name="directory"></router-outlet> -->

<!--------Banner start here------>
<app-banner *ngIf="!showVendor"></app-banner>
<!--Dsign slider start here------>
<app-categories *ngIf="!showVendor" (valueChange)="openVendorPopup($event)" [filteredDetails]="filteredDetails">
</app-categories>

<app-portfolio *ngIf="showVendor"></app-portfolio>