<div class="modal popup" style="display: block !important;" tabindex="-1" role="dialog" >
    <div class="modal-dialog  modal-dialog-centered cutome_login modal-lg" role="document" style="position: absolute;margin-left: 10%;margin-top: 14%;max-width: 1100px;">
        <div class="modal-content" style="padding: 0px 15px;">
            <div class="modal-header border-bottom-0">
                <h5 class="modal-title col-lg-11">Vendor Portfolio</h5>
                <button (click)="closeditProfileVendor()" type="reset" class="close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form [formGroup]="AddForm">
                <div class="row">

                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="title">Template No</label>
                            <input type="test" class="form-control" formControlName="template_no"
                                placeholder="Enter Template No"
                                [ngClass]="{ 'is-invalid': submitted && f.template_no.errors }">
                            <div *ngIf="submitted && f.template_no.errors">
                                <small *ngIf="f.template_no.errors.required" class="text-danger">
                                    This Field is required
                                </small>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="title">Page No</label>
                            <input type="number" class="form-control" formControlName="page_no"
                                placeholder="Enter Page No"
                                [ngClass]="{ 'is-invalid': submitted && f.page_no.errors }">
                            <div *ngIf="submitted && f.page_no.errors">
                                <small *ngIf="f.page_no.errors.required" class="text-danger">
                                    This Field is required
                                </small>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="title">Label Name</label>
                            <input type="test" class="form-control" formControlName="label_name"
                                placeholder="Enter Label Name"
                                [ngClass]="{ 'is-invalid': submitted && f.label_name.errors }">
                            <div *ngIf="submitted && f.label_name.errors">
                                <small *ngIf="f.label_name.errors.required" class="text-danger">
                                    This Field is required
                                </small>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="title">Lable Text</label>
                            <input type="nutestmber" class="form-control" formControlName="lable_text"
                                placeholder="Enter Lable Text"
                                [ngClass]="{ 'is-invalid': submitted && f.lable_text.errors }">
                            <div *ngIf="submitted && f.lable_text.errors">
                                <small *ngIf="f.lable_text.errors.required" class="text-danger">
                                    This Field is required
                                </small>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="title">Description</label>
                            <input type="nutestmber" class="form-control" formControlName="description"
                                placeholder="Enter Description"
                                [ngClass]="{ 'is-invalid': submitted && f.description.errors }">
                            <div *ngIf="submitted && f.description.errors">
                                <small *ngIf="f.description.errors.required" class="text-danger">
                                    This Field is required
                                </small>
                            </div>
                        </div>
                     
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="title">View Type</label>
                            <input type="nutestmber" class="form-control" formControlName="view_type"
                                placeholder="Enter View Type"
                                [ngClass]="{ 'is-invalid': submitted && f.view_type.errors }">
                            <div *ngIf="submitted && f.view_type.errors">
                                <small *ngIf="f.view_type.errors.required" class="text-danger">
                                    This Field is required
                                </small>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col col-xs-12">
                        <div class="form-group">
                            <label for="img">Image 1</label>
                            <br>
                       
                            <img [src]="url1" class="p-i-w" *ngIf="image1FlagSelect">
                            <img *ngIf="image1FlagFrontend" src="assets/images/no.jpg"
                            class="p-i-w" />
                            <img *ngIf="image1FlagBackend" [src]="allowurl(_employeeService.imageBase+image1)"
                            class="p-i-w" />
                            <br>
                            <input type="file" accept="image/*" (change)="onSelectFile($event.target.files[0],'image1')" #file id="file" formControlName="image1" style="margin-top: 7px;border: none;">

                            
                        </div>
                    </div>

                    <div class="col col-xs-12">
                        <div class="form-group">
                            <label for="img">Image 2</label>
                            <br>
                       
                            <img [src]="url2" class="p-i-w" *ngIf="image2FlagSelect">
                            <img *ngIf="image2FlagFrontend" src="assets/images/no.jpg"
                            class="p-i-w" />
                            <img *ngIf="image2FlagBackend" [src]="allowurl(_employeeService.imageBase+image2)"
                            class="p-i-w" />
                            <br>
                            <input type="file" accept="image/*" (change)="onSelectFile($event.target.files[0],'image2')" #file id="file" formControlName="image2" style="margin-top: 7px;border: none;">

                            
                        </div>
                    </div>

                    <div class="col col-xs-12">
                        <div class="form-group">
                            <label for="img">Image 3</label>
                            <br>
                       
                            <img [src]="url3" class="p-i-w" *ngIf="image3FlagSelect">
                            <img *ngIf="image3FlagFrontend" src="assets/images/no.jpg"
                            class="p-i-w" />
                            <img *ngIf="image3FlagBackend" [src]="allowurl(_employeeService.imageBase+image3)"
                            class="p-i-w" />
                            <br>
                            <input type="file" accept="image/*" (change)="onSelectFile($event.target.files[0],'image3')" #file id="file" formControlName="image3" style="margin-top: 7px;border: none;">

                        </div>
                    </div>


                    <div class="col col-xs-12">
                        <div class="form-group">
                            <label for="img">Image 4</label>
                            <br>
                       
                            <img [src]="url4" class="p-i-w" *ngIf="image4FlagSelect">
                            <img *ngIf="image4FlagFrontend" src="assets/images/no.jpg"
                            class="p-i-w" />
                            <img *ngIf="image4FlagBackend" [src]="allowurl(_employeeService.imageBase+image4)"
                            class="p-i-w" />
                            <br>
                            <input type="file" accept="image/*" (change)="onSelectFile($event.target.files[0],'image4')" #file id="file" formControlName="image4" style="margin-top: 7px;border: none;">

                           
                        </div>
                    </div>


                    <div class="col col-xs-12">
                        <div class="form-group">
                            <label for="img">Image 5</label>
                            <br>
                       
                            <img [src]="url5" class="p-i-w" *ngIf="image5FlagSelect">
                            <img *ngIf="image5FlagFrontend" src="assets/images/no.jpg"
                            class="p-i-w" />
                            <img *ngIf="image5FlagBackend" [src]="allowurl(_employeeService.imageBase+image5)"
                            class="p-i-w" />
                            <br>
                            <input type="file" accept="image/*" (change)="onSelectFile($event.target.files[0],'image5')" #file id="file" formControlName="image5" style="margin-top: 7px;border: none;">
                            
                        </div>
                    </div>


                    <div class="col-12  my-3">
                        <button class="btn btn-success" type="submit" (click)="onSubmit()" [disabled]="btnsubmitted">Save</button>
                        <!-- <button class="btn btn-inverse" (click)="onCancel()"
                            type="button">Cancel</button> -->
                    </div>
                </div>
            </form>




            <div class="table-responsive">
                <table class="table table-bordered key-buttons text-nowrap" >
                    <thead>
                        <tr>
                            <th>S.No.</th>
                            <th >
                               hjkh
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let list of [0,1,2,3]; let i=index;">
                            <td>{{i+1}}</td>
                            <td >dsfsdfsdf</td>
                
                        </tr>
                        <!-- <tr *ngIf="msg" style="text-align: center;">
                           <td style="background-color: #606c72!important;color: #fff;">{{msg}}</td>
                        </tr> -->
                    </tbody>
                </table>


            </div>





        </div>
    </div>
</div>