.contentss {
    width: 40%;
    position: absolute;
    top: 58%;
    left: 56%;
}

.navbar .nav-item .nav-link{
    margin-top:0px !important;
    padding-top:0px;
}
a.nav-link.active {
    color: #00aa73;
}
.nav-active{
    color:#00aa73 !important;
}
.active{
    color:#00aa73 !important;
}



ul.ul-main-link { margin-left: 1rem;}
.ul-main-link li a.nav-link { padding: 0px 1.5rem;}