<div class="modal popup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered cutome_login" role="document">
        <div class="modal-content">
            <div class="modal-header border-bottom-0">
                <h5 class="modal-title col-lg-11">Member Signup</h5>
                <button (click)="closeSignupmodel()" type="reset" class="close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form>
                <div class="modal-body">
                    <div class="mx-auto">
                        <div id="first">
                            <div class="myform form ">
                                <form [formGroup]="signupForm" name="registration">
<ng-container *ngIf="!Otp_Flag">
    <div class="form-group myForm">
        <input type="text" formControlName="first_name" name="firstname" required
            class="form-control" id="firstname" aria-describedby="emailHelp"
            placeholder="Enter First name">
        <span class="error-red"
            *ngIf="s.first_name.errors?.required && signupSubmitted">First name is
            required</span>
    </div>
    <div class="form-group myForm">
        <input type="text" formControlName="last_name" name="lastname" required
            class="form-control" id="lastname" aria-describedby="emailHelp"
            placeholder="Enter Last name">
        <span class="error-red"
            *ngIf="s.last_name.errors?.required && signupSubmitted">Last name is
            required</span>
    </div>
    <div class="form-group myForm">
        <input formControlName="email" type="email" name="email" required
            class="form-control" id="email" aria-describedby="emailHelp"
            placeholder="Email">
        <span class="error-red"
            *ngIf="s.email.errors?.required && signupSubmitted">Email is required</span>
        <span class="error-red" *ngIf="s.email.errors?.duplicateEmail">Email is already
            exist</span>
        <span class="error-red"
            *ngIf="s.email.errors?.email || s.email.errors?.pattern">Enter a valid
            email</span>
    </div>
    <div class="form-group myForm">
        <input formControlName="password" type="password" name="password" required
            maxlength="30" minlength="8" id="password" class="form-control"
            aria-describedby="emailHelp" placeholder="Password">
        <span class="error-red"
            *ngIf="s.password.errors?.required && signupSubmitted">Password is
            required</span>
        <span class="error-red" *ngIf="s.password.errors?.minlength">Password must be at
            least 8 characters</span>
        <span class="error-red" *ngIf="s.password.errors?.maxlength">Password should not
            be greater then 30 characters</span>
    </div>
    <div class="form-group myForm">
        <input type="text" formControlName="mobile" name="mobile" required
            class="form-control" id="mobile" aria-describedby="emailHelp"
            placeholder="Mobile number">
        <span class="error-red"
            *ngIf="s.mobile.errors?.required && signupSubmitted">Mobile number is
            required</span>
        <span class="error-red" *ngIf="s.mobile.errors?.pattern">Please enter a 10 digit
            mobile number</span>
    </div>
    
    <div class="col-md-12 mb-3 row">
        <div class="col-4 text-left">
            <input type="checkbox" formControlName="checkbox" name="checkbox" required
                class="form-control" id="checkbox" style="    position: absolute;
                left: -61%;
                right: 0%;">
        </div>
        <div class="col-8" style="white-space: nowrap;">
            I agree <a href="javascript:void(0);" routerLink="/home/termsandcondition" style="cursor: pointer;" target="_blank" >T&C</a> and <a  href="javascript:void(0);" routerLink="/home/privacypolicy" style="cursor: pointer;" target="_blank">privacy policy</a>
        </div>
        <span class="error-red"
            *ngIf="s.checkbox.errors?.required && signupSubmitted">this filed is
            required</span>
    </div>

    <div class="col-md-12 text-center mb-3">
        <button (click)="signupSubmit()" type="button" class="mybtn tx-tfm">
            Get Started For Free</button>
    </div>
</ng-container>


<ng-container *ngIf="Otp_Flag">
    <div class="form-group myForm">
        <input type="text" name="otpmodel" [(ngModel)]="otpVal" [ngModelOptions]="{standalone: true}"
            class="form-control" id="otpmodel" aria-describedby="otpmodel"
            placeholder="Enter Otp">
       
    </div>
    <div class="col-md-12 text-center mb-3">
        <button (click)="onOtpSubmit()" type="button" class="mybtn tx-tfm">
            Submit Otp</button>
    </div>
</ng-container>







                                    <div class="col-md-12 ">
                                        <div class="form-group">
                                            <p class="text-center"><a (click)="openLoginPopup()" id="signin">Already
                                                    have an account?</a>
                                            </p>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>