.error-red{
    color: firebrick;
    font-size: 13px;
    }
.popup{
    display:block;
    overflow-x: hidden;
    overflow-y: auto;
}
.form-control:focus{
    color: #495057;
    background-color: #fff !important;
    border-color: #ffffff !important;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(255 255 255) !important;
}