<section class="main-banner-wrap my-3" id="directOryBanner">
  <div class="container">

    <div class="row align-items-center">
      <div class="col-lg-12">
        <div id="carousel" class="carousel slide hero-slides" data-ride="carousel">
          <ol class="carousel-indicators custom-indecators">
            <li class="active" data-target="#carousel" data-slide-to="0"></li>
            <li data-target="#carousel" data-slide-to="1"></li>
            <li data-target="#carousel" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner" role="listbox">
            <div class="carousel-item active boat main-banner1 py-3">
              <div class="row">
                <div class="col-sm-6">
                  <img src="assets/img/main-banner1.png " class="img-fluid">
                </div>
                <div class="col-sm-6 d-sm-flex flex-sm-column justify-content-sm-center align-items-sm-center mobile-height">
                <h1>Building your
                  dream home now on
                    your finger tips!</h1>
                  <span>We help you plan your project, find highest rated </span><br>
                  <div class="btn-wrap">
                    <a class="button">Get started</a>
                  </div>
                </div>
              </div>
              <!-- <img src="assets/image/top-banner-1.jpg " class="img-fluid"> -->
            </div>
            <div class="carousel-item sea main-banner2 py-3">
              <div class="row">
                <div class="col-sm-6">
                  <img src="assets/img/main-banner2.png " class="img-fluid">
                </div>
                <div class="col-sm-6 d-sm-flex flex-sm-column justify-content-sm-center align-items-sm-center mobile-height">
                  <h1>Enjoy planning your
                    dream home, where we
                    take all the stress.
                  </h1>
                  <div class="btn-wrap">
                    <a class="button">Get started</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item river main-banner3 py-3">
              <div class="row">
                <div class="col-sm-6">
                  <img src="assets/img/main-banner3.png " class="img-fluid">
                </div>
                <div class="col-sm-6 d-sm-flex flex-sm-column justify-content-sm-center align-items-sm-center mobile-height">
                  <h1>Realtime tracking on a 3D
                    Stimulator with hassle free
                    payments and much more
                  </h1>
                  <div class="btn-wrap">
                    <a class="button">Get started</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="CategorySec">
  <div class="container container-pad">
    <div class="row">
      <div class="col-sm-12 d-sm-flex">
        <div class="categoary-box-hover" (click)='loadCalculatorObject()' [routerLink]="['./typology']">
          <div class="categoary-box calculator">
            <h3 class="CategoryTitle">Calculator</h3>
            <p class="Category-subTitle">Project cost estimates with 7 simple steps<span> With 95% Accuracy.</span></p>
            <img src="assets/image/calculator-icon-new.png " class="img-fluid">
            <span class="btn-ex">Explore Now</span>
          </div>

        </div>

        <div class="categoary-box-hover mx-md-2 mx-lg-2" (click)="loadDirectory()">
          <div class="categoary-box directory">
            <h3 class="CategoryTitle">directory</h3>
            <p class="Category-subTitle">Best service providers near you.<span> With Images and ratings to
                choose.</span></p>
            <img src="assets/image/directory-icon.png " class="img-fluid">
            <span class="btn-ex">Explore Now</span>
          </div>
        </div>

        <div class="categoary-box-hover">
          <div class="categoary-box marketpalace">
            <h3 class="CategoryTitle">market place</h3>
            <p class="Category-subTitle">Best price for all top manufacturers. <span>With wide range of products.
              </span></p>
            <img src="assets/image/marketplace-icon.png " class="img-fluid">
            <span class="btn-ex">Coming Soon</span>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <!-- <h3 *ngIf="!changeText">Calculate your cost effective estimate</h3> -->
        <!-- <h3 class="Category-hover-text-show" *ngIf="changeText1">Calculate your cost effective project estimate</h3>
                <h3 class="Category-hover-text-show" *ngIf="changeText2">Connect to nearest highest rated service provider</h3>
                <h3 class="Category-hover-text-show" *ngIf="changeText">Purchase your material at the best industry cost</h3> -->
      </div>
    </div>
  </div>
</section>


<app-website></app-website>